<div>
  <a>
    <div class="dropzone" [dropzone]="config">
      <div class="dz-message m-t-lg m-b-lg">
        <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Загрузить файл
      </div>
    </div>
  </a>
</div>
