<div class="inmodal">
    <div class="my-modal-header">
        <h4>
            Ранее созданный РД -
            <a uiSref="app.order.document" [uiParams]="{id: linked.documentID}" (click)="cancel()">
                {{linked.documentTypeValue}}
            </a>
            не был зарегистрирован.
        </h4>
    </div>
    <div class="my-modal-footer modal-footer">
        <button type="button" class="btn btn-white" (click)="cancel()">Ок</button>
    </div>
</div>