<div *blockUI="'card-editor'">
    <div class="animated fadeIn" id="jsoneditor" style="width: 100%;"></div>
    <br>
    <button type="button" class="btn btn-default" (click)="save()">Сохранить измененный документ</button>    
</div>
