<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div *blockUI="'orderApproveDesicion'" class="m-t-sm">
        <mggt-order-info [order]="order" [showDocumentText]="showDocumentText"></mggt-order-info>

        <h4 class="m-t-lg" *ngIf="order.attach || order.attachWord || order.draftFilesWithoutAttWord">Документы по проекту РД</h4>
        <div class="description" *ngIf="order.attach || order.attachWord || order.draftFilesWithoutAttWord">
          <dl class="dl-horizontal">
            <dt *ngIf="order.draftFilesWithoutAttWord">
              <span>Проект РД без приложения</span>
            </dt>
            <dd *ngIf="order.draftFilesWithoutAttWord">
              <cdp-ex-file-manager [files]="[{ nameFile: order.draftFilesWithoutAttWord.draftFilesName,
              idFile:   order.draftFilesWithoutAttWord.draftFilesID,
              sizeFile: order.draftFilesWithoutAttWord.draftFilesSize,
              dateFile: order.draftFilesWithoutAttWord.draftFilesDate,
              signed:   order.draftFilesWithoutAttWord.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true" 
                [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
              </cdp-ex-file-manager>
            </dd>

            <dt *ngIf="order.attach || order.attachWord">
              <span>Приложение</span>
            </dt>
            <dd *ngIf="order.attachWord">
              <cdp-ex-file-manager [files]="[{ nameFile: order.attachWord.draftFilesName,
              idFile:   order.attachWord.draftFilesID,
              sizeFile: order.attachWord.draftFilesSize,
              dateFile: order.attachWord.draftFilesDate,
              signed:   order.attachWord.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true" 
                [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
              </cdp-ex-file-manager>
            </dd>
            <dd *ngIf="order.attach && !order.attachWord">
              <cdp-ex-file-manager [files]="[{ nameFile: order.attach.draftFilesName,
                idFile:   order.attach.draftFilesID,
                sizeFile: order.attach.draftFilesSize,
                dateFile: order.attach.draftFilesDate,
                signed:   order.attach.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true"
                [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
              </cdp-ex-file-manager>
            </dd>
          </dl>
        </div>

        <div
          *ngIf="order.approval.approvalCycle && order.approval.approvalCycle.approvalCycleNum && order.approval.approvalCycle.approvalCycleNum !== '1'">
          <h4 class="m-t-xs">Лист согласования ({{order.approval.approvalCycle.approvalCycleNum}})</h4>
        </div>
        <div
          *ngIf="order.approval.approvalCycle && (!order.approval.approvalCycle.approvalCycleNum || order.approval.approvalCycle.approvalCycleNum === '1')">
          <h4 class="m-t-xs">Лист согласования</h4>
        </div>
        <mggt-approval-list [list]="order.approval.approvalCycle"></mggt-approval-list>

        <h4 class="m-t-lg">Проект приказа</h4>

        <div *ngIf="order.draftFiles">
          <cdp-ex-file-manager [files]="[{ nameFile: order.draftFiles.draftFilesName,
								  idFile:   order.draftFiles.draftFilesID,
								  sizeFile: order.draftFiles.draftFilesSize,
								  dateFile: order.draftFiles.draftFilesDate,
								  signed:   order.draftFiles.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true" 
            [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
          </cdp-ex-file-manager>
        </div>

        <div class="form-group control-block clearfix">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button type="button" class="btn btn-sm btn-primary m-r-sm ladda-button" (click)="sendForward()"
              [ladda]="sendingForward" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right">
              <i class="fa m-r-xs"></i>Направить на согласование&#47;утверждение
            </button>
            <button type="button" class="btn btn-sm btn-danger m-r-sm ladda-button" (click)="sendBackToWork()"
              [ladda]="sendingBackToWork" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right">
              <i class="fa m-r-xs"></i>На доработку
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
        приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>