<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="pull-right">
        <button class="btn btn-default m-r-sm" style="color: #ED5565;" orderMyAuth="ORDER_DOCUMENT_DELETE_BUTTON"
          *ngIf="isActive(0) && canDelete && !orderType.orderMKA && !$localStorage.isMobile"
          [disabled]="isUpdating || isDeleted || isRecalling" (click)="deleteCard()">
          <i class="fa fa-trash"></i> Удалить
        </button>

        <a href="/sdo/instruction/#/app/instruction/instruction/createFromOrder/{{order.documentID}}"
           orderMyAuth="INSTRUCTION_INSTRUCTION_ADD_BUTTON" class="btn btn-primary m-r-sm"
           *ngIf="isShowCreateInstructionBtn">
          <i class="fas fa-file m-r-sm"></i> Дать поручение
        </a>

        <button orderMyAuth="ORDER_DOCUMENT_SCAN_BUTTON" class="btn btn-primary m-r-sm" (click)="openUploadDocument()"
          *ngIf="isActive(0) && !orderType.orderMKA && !$localStorage.isMobile"
          [disabled]="isUploadDisabled || isUpdating || isDeleted || isRecalling">
          Приложить отсканированную копию
        </button>

        <button class="btn btn-danger m-r-sm" (click)="recall()"
          *ngIf="isActive(0) && !orderType.orderMKA && !$localStorage.isMobile && isNegotiationProject"
          [disabled]="isUpdating || isDeleted || isRecalling">
          Отозвать с согласования
        </button>

        <button class="btn btn-success m-r-sm" (click)="editOrder(true)" orderMyAuth="ORDER_DOCUMENT_EDIT_BUTTON"
          *ngIf="isActive(0) && !orderType.orderMKA && !$localStorage.isMobile"
          [disabled]="isUpdating || isDeleted || isRecalling">
          <i class="fa fa-pencil"></i> Редактировать
        </button>

        <!--<button class="btn btn-primary" (click)="createCopy()" orderMyAuth="ORDER_DOCUMENT_COPY_BUTTON" *ngIf="!orderType || !orderType.orderMKA">-->
        <!--Создать копию-->
        <!--</button>-->
      </div>
      <div class="m-b-xs">
        <h3 class="m-t-md">
          {{order.documentTypeValue}} № {{order.documentNumber}} от
          {{order.documentDate | date: "dd.MM.yyyy"}}
        </h3>
        <h2 class="m-t-sm semibold">{{order.documentContent}}</h2>
        <div class="m-t m-b">
          <span class="label label-{{order.documentStatusColor}} m-r-sm">
            {{order.documentStatusValue}}
          </span>
          <small *ngIf="order.documentExpireDate">
            <span class="semibold">Дата аннулирования: {{order.documentExpireDate | date: "dd.MM.yyyy" }}</span>
          </small>
        </div>
      </div>
      <div *ngIf="!editingOrder">
        <ul class="nav nav-tabs nav-tabs-showcase m-t-xs">
          <li class="uib-tab nav-item" (click)="activate(0)">
            <a class="nav-link ng-binding {{isActive(0) ? 'active-tab-bottom' : ''}}">Карточка</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(1)" *ngIf="!orderType || !orderType.orderMKA">
            <a class="nav-link ng-binding {{isActive(1) ? 'active-tab-bottom' : ''}}">Лист согласования</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(2)" *ngIf="showReviewInner">
            <a class="nav-link ng-binding {{isActive(2) ? 'active-tab-bottom' : ''}}">Ознакомление</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(10)" *ngIf="showInstructions">
            <a class="nav-link ng-binding {{isActive(10) ? 'active-tab-bottom' : ''}}">Поручения</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(9)" cdp-is-auth="SDO_LINK_LINK_VIEW">
            <a class="nav-link ng-binding {{isActive(9) ? 'active-tab-bottom' : ''}}">Связанные элементы</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(3)" *ngIf="!orderType || !orderType.orderMKA">
            <a class="nav-link ng-binding {{isActive(3) ? 'active-tab-bottom' : ''}}">Связанные документы</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(4)" *ngIf="orderType.orderMKA && assignments.length">
            <a class="nav-link ng-binding {{isActive(4) ? 'active-tab-bottom' : ''}}">Внутренние поручения</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(5)" *ngIf="orderType.orderMKA">
            <a class="nav-link ng-binding {{isActive(5) ? 'active-tab-bottom' : ''}}">Ознакомление</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(6)">
            <a class="nav-link ng-binding {{isActive(6) ? 'active-tab-bottom' : ''}}">Процесс</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(7)" *ngIf="showJson">
            <a class="nav-link ng-binding {{isActive(7) ? 'active-tab-bottom' : ''}}">JSON редактор документа</a>
          </li>
          <li class="uib-tab nav-item" (click)="activate(8)" *ngIf="showHistory">
            <a class="nav-link ng-binding {{isActive(8) ? 'active-tab-bottom' : ''}}">История изменнеий документа</a>
          </li>
        </ul>
        <div *ngIf="isActive(0)">
          <mggt-order-view [order]="order"></mggt-order-view>
        </div>
        <div *ngIf="isActive(1)">
          <mggt-order-approvals [order]="order"></mggt-order-approvals>
        </div>
        <div *ngIf="isActive(2)">
          <mggt-order-card-review-inner [order]="order"></mggt-order-card-review-inner>
        </div>
        <div *ngIf="isActive(3)">
          <mggt-order-related [order]="order"></mggt-order-related>
        </div>
        <div *ngIf="isActive(4)">
          <mggt-order-inner-assignments [assignments]="assignments"></mggt-order-inner-assignments>
        </div>
        <div *ngIf="isActive(5)">
          <mggt-order-review [order]="order"></mggt-order-review>
        </div>
        <div *ngIf="isActive(6)">
          <cdp-bpm-process-manager [config]="processManagerConfig"></cdp-bpm-process-manager>
        </div>
        <div *ngIf="isActive(7)">
          <order-json-editor [document]="order"></order-json-editor>
        </div>
        <div *ngIf="isActive(8)">
          <cdp-document-log [systemName]="'app/sdo/order'" [docType]="'ORDER'" [documentId]="order.documentID">
          </cdp-document-log>
        </div>
        <div *ngIf="isActive(9)" class="m-t-md" cdp-is-auth="SDO_LINK_LINK_VIEW">
          <sdo-linked-elements [docId]="order.documentID"
                               [docType]="'SDO_ORDER_ORDER'"
                               [subsystemCode]="'SDO_ORDER'"></sdo-linked-elements>
        </div>
        <div *ngIf="isActive(10)" class="m-t-md" cdp-is-auth="SDO_LINK_LINK_VIEW">
          <mggt-instruction-list [items]="instructions"></mggt-instruction-list>
        </div>
      </div>
      <div *ngIf="editingOrder">
        <mggt-order-edit [order]="order" (cancel)="editOrder(false)"></mggt-order-edit>
      </div>
    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span>
      <span> Ошибка при инициализации приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>