<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Закрыть</span>
    </button>
    <h3>Прикрепление оригиналов</h3>
</div>
<div class="modal-body">
    <mggt-not-scanned-attach (done)="save()"></mggt-not-scanned-attach>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" (click)="cancel()">Закрыть</button>
</div>
