<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">

            <div class="description">
                <dl class="dl-horizontal m-b-none">
                    <dt><span>Последнее обновление данных</span></dt>
                    <dd>
                        {{lastUpdateDate | date: 'dd.MM.yyyy HH:mm:ss'}}
                        <i class="fa fa-refresh m-l-sm cursor-pointer" (click)="update()"
                           [ngClass]="{'fa-spin disabled': updating}"
                           [title]="updating ? 'Обновление...' : 'Обновить данные'"></i>
                    </dd>
                </dl>
            </div>

            <div *ngIf="rows.length && rows[0].lockedByUser" class="m-b-sm">
                <div *ngIf="usersLoading && !users[rows[0].lockedByUser]"><i class="fa fa-spinner fa-spin"></i></div>
                <div *ngIf="!usersLoading || users[rows[0].lockedByUser]" class="label label-danger">
                    Заблокирован пользователем {{users[rows[0].lockedByUser].displayName}}
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>№ версии</th>
                        <th>ФИО и должность</th>
                        <th>Дата изменения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of displayRows">
                        <td>{{row.version}}</td>
                        <td>
                            <div *ngIf="usersLoading && !users[row.modifiedByUser]">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <div *ngIf="users[row.modifiedByUser]">
                                {{users[row.modifiedByUser].displayName}}
                                <div><small>{{users[row.modifiedByUser].post}}</small></div>
                            </div>
                        </td>
                        <td>{{row.modifiedAt | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                    </tr>
                    <tr *ngIf="!displayRows.length">
                        <td colspan="3">Изменения отсутствуют</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div error>
        <span class="text-danger">
            <span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span>
        </span>
    </div>
    <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>
