<div class="table-responsive">
  <h4 *ngIf="parallelList && parallelList.length&&!hideTitle">Параллельное согласование</h4>
  <table class="table table-bordered" *ngIf="parallelList && parallelList.length">
    <thead>
    <tr>
      <th class="nowrap center" width="5%">№ пп</th>
      <th class="nowrap center" width="27%">ФИО и должность</th>
      <th class="nowrap center" width="17%">Вид действия</th>
      <th class="nowrap center" width="130px">Срок согласования</th>
      <th class="nowrap center" width="115px">Результат</th>
      <th class="nowrap center">Комментарий исполнителя</th>
      <th class="nowrap center">Комментарий согласующего</th>
    </tr>
    </thead>
    <tbody *ngIf="list" mggt-approval-list-rows [list]="parallelList" [level]="0" [approvalTypes]="approvalTypes">
    </tbody>
  </table>

  <h4 *ngIf="sequentialList && sequentialList.length&&!hideTitle">Последовательное согласование</h4>
  <table class="table table-bordered" *ngIf="sequentialList && sequentialList.length">
    <thead>
    <tr>
      <th class="nowrap center" width="5%">№ пп</th>
      <th class="nowrap center" width="27%">ФИО и должность</th>
      <th class="nowrap center" width="17%">Вид действия</th>
      <th class="nowrap center" width="130px">Срок согласования</th>
      <th class="nowrap center" width="115px">Результат</th>
      <th class="nowrap center">Комментарий исполнителя</th>
      <th class="nowrap center">Комментарий согласующего</th>
    </tr>
    </thead>
    <tbody *ngIf="list" mggt-approval-list-rows [list]="sequentialList" [level]="0" [approvalTypes]="approvalTypes">
    </tbody>
  </table>

  <h4 *ngIf="signList && signList.length&&!hideTitle">Подписант</h4>
  <table class="table table-bordered" *ngIf="signList && signList.length">
    <thead>
    <tr>
      <th class="nowrap center" width="5%">№ пп</th>
      <th class="nowrap center" width="27%">ФИО и должность</th>
      <th class="nowrap center" width="17%">Вид действия</th>
      <th class="nowrap center" width="130px">Срок согласования</th>
      <th class="nowrap center" width="115px">Результат</th>
      <th class="nowrap center">Комментарий исполнителя</th>
      <th class="nowrap center">Комментарий согласующего</th>
    </tr>
    </thead>
    <tbody *ngIf="list" mggt-approval-list-rows [list]="signList" [level]="0" [approvalTypes]="approvalTypes">
    </tbody>
  </table>
</div>
