<ng-container *ngFor="let item of flattenList; let i = index;">
  <tr [hidden]="item.isHidden">
    <td class="center">
      <span *ngIf="item.items && item.items.length" style="cursor: pointer; margin-right: 5px;"
        (click)="toggle(item.val.approvalNum)">
        <i *ngIf="isShowAdditionalApprovals(item.val.approvalNum)" class="fa fa-angle-down"></i>
        <i *ngIf="!isShowAdditionalApprovals(item.val.approvalNum)" class="fa fa-angle-up"></i>
      </span>
      <span>{{item.val.approvalNum}}</span>
    </td>
    <td>
      <div class="semibold">{{item.val.agreedBy.fioFull}}</div>
      <div>{{item.val.agreedBy.post}}</div>
      <div *ngIf="!!item.val.factAgreedBy">({{item.val.factAgreedBy.fioFull}}, {{item.val.factAgreedBy.post}})</div>
    </td>
    <td class="center">
      {{item.val.approvalType}}
    </td>
    <td class="center">
      {{item.val.approvalPlanDate | date: "dd.MM.yyyy HH:mm"}}
    </td>
    <td class="center">
      <span *ngIf="!item.val.approvalResult" class="label label-default">Ожидание</span>
      <span *ngIf="item.val.approvalResult"
        class="label {{getApprovalResultColor(item.val.approvalTypeCode, item.val.approvalResult)}}">{{item.val.approvalResult}}</span>
      <div *ngIf="item.val.approvalFactDate"><label>{{item.val.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label>
      </div>
    </td>
    <td>
      {{item.val.responsibleExecutorComment}}
    </td>
    <td>
      <div *ngIf="item.val.added" class="m-b-sm">
        <div class="semibold">Добавление согласующего</div>
        <div *ngFor="let addedItem of item.val.added">
          <span class="semibold">{{addedItem.additionalAgreed.iofShort}}:</span> {{addedItem.addedNote}}
        </div>
      </div>

      <div
        *ngIf="!(item.val.approvalResult=='Не согласовано' || item.val.approvalResult=='Не утверждено') && item.val.approvalNote">
        <div class="semibold">{{item.val.approvalResult}}</div>
        <div>{{item.val.approvalNote}}</div>
      </div>

      <div
        *ngIf="(item.val.approvalResult=='Не согласовано' || item.val.approvalResult=='Не утверждено') && item.val.approvalNote">
        <div class="semibold">На доработку</div>
        <div>{{item.val.approvalNote}}</div>
      </div>

      <div *ngFor="let file of item.val.fileApproval" class="m-t-xs">
        <a href="{{getFileLink(file.fileID)}}" class="text-default" title="{{file.fileName}}">
          <cdp-ex-file [fileInfo]="{nameFile: file.fileName,
            idFile:   file.fileID,
            sizeFile: file.fileSize,
            dateFile: file.fileDate,
            signed:   file.fileSigned}" [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'" [checkSign]="true">
          </cdp-ex-file>
        </a>
      </div>
    </td>
  </tr>
</ng-container>

