<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">
            <mggt-order-info [order]="order"></mggt-order-info>

            <hr/>

            <h4 class="m-t">Проект приказа</h4>

            <div *ngIf="order.draftFiles">
                <cdp-ex-file
                    [fileInfo]="{
                        nameFile: order.draftFiles.draftFilesName,
                        idFile:   order.draftFiles.draftFilesID,
                        sizeFile: order.draftFiles.draftFilesSize,
                        dateFile: order.draftFiles.draftFilesDate,
                        signed:   order.draftFiles.draftFilesSigned
                    }"
                    [showSize]="true" 
                    [checkSign]="true" 
                    [showDate]="true" [downloadBaseHref]="'/filestore'"
                ></cdp-ex-file>
            </div>

            <div class="m-t" *ngIf="order.draftFilesRegInfo">
                <h4>Приказ на подпись</h4>
                <div>
                    <div>
                        <cdp-ex-file
                            [fileInfo]="{
                                nameFile: order.draftFilesRegInfo.fileName,
                                idFile:   order.draftFilesRegInfo.fileID,
                                sizeFile: order.draftFilesRegInfo.fileSize,
                                dateFile: order.draftFilesRegInfo.fileDate,
                                signed:   order.draftFilesRegInfo.fileSigned
                            }"
                            [showSize]="true" 
                            [checkSign]="true" 
                            [showDate]="true" [downloadBaseHref]="'/filestore'"
                        ></cdp-ex-file>
                    </div>
                </div>
            </div>

            <form method="get" class="form-horizontal" name="orderApproveForm">

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Отсканированная копия
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <mggt-dropzone
                                [config]="dropzoneConfig"
                        ></mggt-dropzone>
                        <div *ngIf="order.files">
                            <div *ngFor="let file of order.files">
                                <cdp-ex-file
                                    [fileInfo]="{
                                        nameFile: file.fileName,
                                        idFile:   file.fileID,
                                        sizeFile: file.fileSize,
                                        dateFile: file.fileDate,
                                        signed:   file.fileSigned
                                    }"
                                    [showSize]="true"
                                    [showDate]="true"
                                    [deletable]="true" 
                                    [checkSign]="true" 
                                    (onRemove)="deleteDocument($event)"
                                    [downloadBaseHref]="'/filestore'"
                                ></cdp-ex-file>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <button type="button" class="btn btn-success ladda-button" (click)="execute()"
                                [ladda]="submitting" data-spinner-size="18" data-spinner-color="#FFFFFF"
                                data-style="expand-right" 
                                [disabled]="(!order.privacy||!order.privacy.code)&&
                                (!order.files||!order.files.length)">
                            Исполнено
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>
