<div *ngIf="history && history.approvalCycle && history.approvalCycle.length > 0">
  <cdp-expanded-section *ngFor="let historyItem of historyList; let i = index">
    <span header-slot >
      Предыдущий цикл
      согласования от {{historyItem.approvalCycleDate | date:'dd.MM.yyyy'}}
    </span>
    <div content-slot style="padding-top: 10px;margin-left: 20px;">
      <div *ngIf="historyItem.approvalCycleFile" class="">Проект приказа</div>

      <div *ngIf="historyItem.approvalCycleFile">
        <div *ngFor="let approvalFile of historyItem.approvalCycleFile">
          <cdp-ex-file [fileInfo]="{nameFile: approvalFile.fileName,
                                    idFile:   approvalFile.fileID,
								  		              sizeFile: approvalFile.fileSize,
								  		              dateFile: approvalFile.fileDate,
								  		              signed:   approvalFile.fileSigned}" [showSize]="true" [showDate]="true"
            [downloadBaseHref]="'/filestore'" [checkSign]="true"></cdp-ex-file>
        </div>
      </div>
      <mggt-approval-list-old [list]="historyItem"></mggt-approval-list-old>
    </div>
</cdp-expanded-section>
  <!-- <div *ngFor="let _ of history.approvalCycle; let i = index">
    <h4 style="outline: none; cursor: pointer;" (click)="cycleShow[history.approvalCycle.length - 1 - i] = !cycleShow[history.approvalCycle.length - 1 - i]" class="m-t-md">
        <i style="margin-right: 5px;" class="fa fa-caret-right" *ngIf="cycleShow[history.approvalCycle.length - 1 - i] === false"></i> <i
            style="margin-right: 5px;" class="fa fa-angle-down" *ngIf="cycleShow[history.approvalCycle.length - 1 - i] === true"></i> Предыдущий цикл
        согласования от {{history.approvalCycle[history.approvalCycle.length - 1 - i].approvalCycleDate | date:'dd.MM.yyyy'}}
    </h4>
    <div *ngIf="cycleShow[i]" style="margin-left: 20px;">
        <mggt-approval-list-old [list]="history.approvalCycle[history.approvalCycle.length - 1 - i]"></mggt-approval-list-old>
    </div>
  </div> -->
</div>
