<div *ngIf="history && history.approvalCycle && history.approvalCycle.length > 0">
  <div *ngFor="let approval of history.approvalCycle; let i = index">
    <h4 style="outline: none; cursor: pointer;" (click)="cycleShow[history.approvalCycle.length - 1 - i] = !cycleShow[history.approvalCycle.length - 1 - i]" class="m-t-md">
      <i style="margin-right: 5px;" class="fa fa-caret-right" *ngIf="cycleShow[history.approvalCycle.length - 1 - i] === false"></i> <i
        style="margin-right: 5px;" class="fa fa-angle-down" *ngIf="cycleShow[history.approvalCycle.length - 1 - i] === true"></i> Предыдущий цикл
      согласования от {{history.approvalCycle[history.approvalCycle.length - 1 - i].approvalCycleDate | date:'dd.MM.yyyy'}}
    </h4>
    <div *ngIf="cycleShow[history.approvalCycle.length - 1 - i]" style="margin-left: 20px;">

      <div *ngIf="history.approvalCycle[history.approvalCycle.length - 1 - i].approvalCycleFile" class="">Проект приказа</div>

      <div *ngIf="history.approvalCycle[history.approvalCycle.length - 1 - i].approvalCycleFile">
        <div *ngFor="let approvalFile of history.approvalCycle[history.approvalCycle.length - 1 - i].approvalCycleFile">
          <cdp-ex-file [fileInfo]="{nameFile: approvalFile.fileName,
                                    idFile:   approvalFile.fileID,
								  		              sizeFile: approvalFile.fileSize,
								  		              dateFile: approvalFile.fileDate,
								  		              signed:   approvalFile.fileSigned}" [showSize]="true" [showDate]="true"
            [downloadBaseHref]="'/filestore'" [checkSign]="true"></cdp-ex-file>
        </div>
      </div>

      <mggt-approval-list [list]="history.approvalCycle[history.approvalCycle.length - 1 - i]"></mggt-approval-list>
    </div>
  </div>
</div>