<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="isSuccess">
      <h4>
        Проект приказа

        <button (click)="savePrintForm()" class="btn btn-primary pull-right">
          Лист согласования с основными согласующими
        </button>
      </h4>

      <div *ngIf="order.draftFiles">
        <cdp-ex-file [fileInfo]="{
                          nameFile: order.draftFiles.draftFilesName,
                          idFile:   order.draftFiles.draftFilesID,
                          sizeFile: order.draftFiles.draftFilesSize,
                          dateFile: order.draftFiles.draftFilesDate,
                          signed:   order.draftFiles.draftFilesSigned
                      }"
                     [showSize]="true"
                     [showDate]="true" [downloadBaseHref]="'/filestore'"
                     [checkSign]="true"
        ></cdp-ex-file>
      </div>

      <div
              *ngIf="order.approval && order.approval.approvalCycle && order.approval.approvalCycle.approvalCycleNum && order.approval.approvalCycle.approvalCycleNum !== '1'">
        <h4 class="m-t-lg">Лист согласования ({{order.approval.approvalCycle.approvalCycleNum}})</h4>
      </div>
      <div
              *ngIf="order.approval && order.approval.approvalCycle && (!order.approval.approvalCycle.approvalCycleNum || order.approval.approvalCycle.approvalCycleNum === '1')">
        <h4 class="m-t-lg">Лист согласования</h4>
      </div>

      <div [ngSwitch]="isOldBP">
        <div *ngSwitchCase="true">
          <mggt-approval-list-old *ngIf="order.approval && order.approval.approvalCycle" [list]="order.approval.approvalCycle"></mggt-approval-list-old>
          <mggt-approval-history-old [history]="order.approvalHistory"></mggt-approval-history-old>
        </div>
        <div *ngSwitchDefault>
          <mggt-approval-list *ngIf="order.approval && order.approval.approvalCycle" [list]="order.approval.approvalCycle"></mggt-approval-list>
          <mggt-approval-history [history]="order.approvalHistory"></mggt-approval-history>
        </div>
      </div>
    </div>
  </div>
  <div error>
    <div class="m-t-md">
      <span class="fa fa-times-circle text-danger"></span>
      <span> Ошибка загрузки информации</span>
    </div>
  </div>
  <div loading>
    <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
