<mggt-desktop-approval-list [list]="list" [hideTitle]="hideTitle" *ngIf="!$localStorage.isMobile" ></mggt-desktop-approval-list>
<mggt-mobile-approval-list [list]="list" [hideTitle]="hideTitle" *ngIf="$localStorage.isMobile"></mggt-mobile-approval-list>
