<h4 class="">Проект приказа</h4>

<div *ngIf="order.draftFiles">
  <cdp-ex-file [fileInfo]="{nameFile: order.draftFiles.draftFilesName,
                            idFile:   order.draftFiles.draftFilesID,
								            sizeFile: order.draftFiles.draftFilesSize,
								            dateFile: order.draftFiles.draftFilesDate,
								            signed:   order.draftFiles.draftFilesSigned}"
               [showSize]="true"
               [showDate]="true" 
               [downloadBaseHref]="'/filestore'"
               [checkSign]="true"
  ></cdp-ex-file>
</div>

<div
  *ngIf="order.approval && order.approval.approvalCycle && order.approval.approvalCycle.approvalCycleNum && order.approval.approvalCycle.approvalCycleNum !== '1'">
  <h4 class="m-t-lg">Лист согласования ({{order.approval.approvalCycle.approvalCycleNum}})</h4>
</div>
<div
  *ngIf="order.approval && order.approval.approvalCycle && (!order.approval.approvalCycle.approvalCycleNum || order.approval.approvalCycle.approvalCycleNum === '1')">
  <h4 class="m-t-lg">Лист согласования</h4>
</div>
<mggt-approval-list *ngIf="order.approval && order.approval.approvalCycle" [list]="order.approval.approvalCycle"></mggt-approval-list>

<mggt-approval-history [history]="order.approvalHistory"></mggt-approval-history>
