<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <h4 *ngIf="!!order.approval.approvalCycle && !!order.approval.approvalCycle.agreed">
        Участники подготовки проекта
      </h4>
      <div class="table-responsive" *ngIf="!!order.approval.approvalCycle && !!order.approval.approvalCycle.agreed">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="nowrap center" width="60%">ФИО и должность</th>
                <th class="nowrap center" width="20%">Результат</th>
                <th class="nowrap center" width="20%">Дата завершения</th>
            </tr>
            </thead>
            <tbody >
              <tr *ngFor="let agreed of order.approval.approvalCycle.agreed">
                <td >
                  <div class="semibold">{{agreed.agreedBy.fioFull}}</div>
                  <div>{{agreed.agreedBy.post}}</div>
                  <div
                    *ngIf="taskOwnerLogin !== session.login() && taskOwnerLogin === agreed.agreedBy.accountName">
                    ({{session.fullName()}}, {{session.post()}})
                  </div>
                </td>
                <td class="center">
                  <span *ngIf="!agreed.approvalResult" class="label label-default">Ожидание</span>
                  <span *ngIf="agreed.approvalResult"
                        class="label label-success">{{agreed.approvalResult}}</span><!--{{getApprovalResultColor(agreed.approvalTypeCode, agreed.approvalResult)}}-->
              </td>
              <td>
                <div *ngIf="agreed.approvalFactDate"><label>{{agreed.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label></div>
              </tr>
            </tbody>
        </table>
    </div>
      <!--<div class="hidden-xs hidden-sm">
        <div
          *ngIf="order.approval.approvalCycle && order.approval.approvalCycle.approvalCycleNum && order.approval.approvalCycle.approvalCycleNum !== '1'">
          <h4 class="m-t-xs">Лист согласования ({{order.approval.approvalCycle.approvalCycleNum}})</h4>
        </div>
        <div
          *ngIf="order.approval.approvalCycle && (!order.approval.approvalCycle.approvalCycleNum || order.approval.approvalCycle.approvalCycleNum === '1')">
          <h4 class="m-t-xs">Лист согласования</h4>
        </div>
        <mggt-approval-list [list]="order.approval.approvalCycle" [hideTitle]="true"></mggt-approval-list>
      </div>

      <div class="visible-xs visible-sm">
        <cdp-expanded-section [expand]="showApprovalList">
          <span header-slot style="display:inline;">
            Лист согласования
          </span>
          <div content-slot>
            <mggt-approval-list [list]="order.approval.approvalCycle" [hideTitle]="true"></mggt-approval-list>
          </div>
        </cdp-expanded-section>
      </div>-->

      <h4 class="m-t-lg">История изменений</h4>
      <div>
        <mggt-file-history [fileId]="order?.draftFiles?.draftFilesID"></mggt-file-history>
        <!--/filestore/v2/files/allVersionHistory/08835773-5740-4aa4-95d9-a6484ebded23?subsystemCode=order&systemCode=sdo-->
      </div>


      <h4 class="m-t-lg">Проект распорядительного документа</h4>
      <div *ngIf="order.draftFiles">
        <a target="_blank" class="btn btn-primary" style="margin-bottom:10px;" 
          *ngIf="!!draftPath" [href]="domSanitizationService.bypassSecurityTrustUrl(draftPath)">Изменить в Word</a>
        <cdp-ex-file-manager [files]="[{ nameFile: order.draftFiles.draftFilesName,
          idFile:   order.draftFiles.draftFilesID,
          sizeFile: order.draftFiles.draftFilesSize,
          dateFile: order.draftFiles.draftFilesDate,
          signed:   order.draftFiles.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true" 
          [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
        </cdp-ex-file-manager>
      </div>
      
      <mggt-approval-history [history]="order.approvalHistory"></mggt-approval-history>

<!--      <h4 class="m-t-lg">Ваше решение</h4>-->

      <form method="get" class="form-horizontal" name="orderApproveForm">

        <!--<div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Комментарий
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <textarea class="form-control our-control" name="approvalNote" rows="2" [(ngModel)]="approvalNote">
                    </textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Файл
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">            
            <mggt-dropzone [config]="dropzoneConfig"></mggt-dropzone>
              <div *ngFor="let file of fileApproval">
                <cdp-ex-file-manager [files]="[{ nameFile: file.fileName,
								                  idFile:   file.fileID,
								                  sizeFile: file.fileSize,
								                  dateFile: file.fileDate,
								                  signed:   file.fileSigned}]" [showSize]="true" [showDate]="true" [deletable]="true" [checkSign]="true" 
                  [onRemove]="deleteApprovalFile" [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
              </div>
          </div>
        </div>-->

        <div class="form-group control-block">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-7 col-md-8 col-sm-9">

            <button type="button" class="btn btn-sm btn-primary m-r-sm ladda-button"
                    (click)="stopEdit()"
                    [ladda]="stopping" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-left">
              Завершить редактирование
            </button>

            <!--<button type="button"
              *ngIf="(approvalType.approvalTypeCode === 'assent') && (!approvalState || !order.signingElectronically)"
              class="btn btn-sm btn-{{approvalType.buttonYesColor}} m-r-sm ladda-button" (click)="agreeAndSendForwardHandler()"
              [ladda]="agreeing" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-left"
              [disabled]="approving || sendingBackToWork || addingApprovals">
              Согласовано
            </button>-->
            <!--<button type="button" class="btn btn-sm btn-{{approvalType.buttonNoColor}} m-r-sm ladda-button"
              (click)="sendBackToWork()" [ladda]="sendingBackToWork" data-spinner-size="18" data-spinner-color="#FFFFFF"
              data-style="expand-left" [disabled]="agreeing || approving || addingApprovals || approvalNote === ''">
              <i class="fa m-r-xs"></i>На доработку
            </button>-->
            <!-- <button type="button" class="btn btn-sm m-r-sm" (click)="addApproval()"  *ngIf="isAllowedAddingApprovals"
              [disabled]="agreeing || approving || addingApprovals || approvalDepth >= 6">
              <i class="fa m-r-xs"></i>Добавить согласующего
            </button> -->
          </div>
        </div>

      </form>

    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
        приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
