<table class="table search-result-table" style="font-size:14px;color: #676a6c;">
    <thead>
    <tr style="border-top: 1px solid #f0f0f0;font-weight:600;">
        <th style="font-weight: 600">
         <span class="m-r-sm" style="margin-right: 5px;" data-info="docType">
              <span *ngIf="!sorting || sorting.name !== 'docType'" style="white-space: nowrap"
                    (click)="sortingChanged('docType', 'asc', 'Тип документа')">Тип документа</span>
              <span *ngIf="sorting.name === 'docType' && sorting.value === 'asc'" style="white-space: nowrap"
                    (click)="sortingChanged('docType', 'desc', 'Тип документа')">Тип документа <span
                      class="fa fa-angle-up"></span></span>
              <span *ngIf="sorting.name === 'docType' && sorting.value === 'desc'" style="white-space: nowrap"
                    (click)="sortingChanged('docType', 'asc', 'Тип документа')">Тип документа <span
                      class="fa fa-angle-down"></span></span>
          </span>
        </th>
        <th style="font-weight: 600">
         <span class="m-r-sm" style="margin-right: 5px;" data-info="docDate">
              <span *ngIf="!sorting || sorting.name !== 'docDate'" style="white-space: nowrap"
                    (click)="sortingChanged('docDate', 'asc', 'Дата')">Дата</span>
              <span *ngIf="sorting.name === 'docDate' && sorting.value === 'asc'" style="white-space: nowrap"
                    (click)="sortingChanged('docDate', 'desc', 'Дата')">Дата <span
                      class="fa fa-angle-up"></span></span>
              <span *ngIf="sorting.name === 'docDate' && sorting.value === 'desc'" style="white-space: nowrap"
                    (click)="sortingChanged('docDate', 'asc', 'Дата')">Дата <span
                      class="fa fa-angle-down"></span></span>
          </span>
        </th>
        <th style="font-weight: 600">
          <span class="m-r-sm" style="margin-right: 5px;" data-info="docNumberSort">
              <span *ngIf="!sorting || sorting.name !== 'docNumberSort'" style="white-space: nowrap"
                    (click)="sortingChanged('docNumberSort', 'asc', 'Номер')">Номер</span>
              <span *ngIf="sorting.name === 'docNumberSort' && sorting.value === 'asc'" style="white-space: nowrap"
                    (click)="sortingChanged('docNumberSort', 'desc', 'Номер')">Номер <span
                      class="fa fa-angle-up"></span></span>
              <span *ngIf="sorting.name === 'docNumberSort' && sorting.value === 'desc'" style="white-space: nowrap"
                    (click)="sortingChanged('docNumberSort', 'asc', 'Номер')">Номер <span
                      class="fa fa-angle-down"></span></span>
          </span>
        </th>
        <th class="col-md-5 nowrap" style="font-weight: 600">Содержание</th>
        <th style="font-weight: 600">Штрихкод</th>
        <th style="font-weight: 600">Отсканированная копия</th>
    </tr>
    </thead>
    <tbody *ngIf="!loading">
    <tr *ngFor="let d of searchResult.docs">
        <td>{{d.docType}}</td>
        <td>{{d.docDate | date: 'dd.MM.yyyy'}}</td>
        <td class="text-center">{{d.docNumber}}</td>
        <td><a uiSref="app.order.document" [uiParams]="{id: d.sys_documentId}" target="_blank">{{d.docContent}}</a></td>
        <td>{{d.barcode}}</td>
        <td>
            <button class="btn btn-primary" (click)="showUploadWindow(d.documentId)">
                Загрузить файл
            </button>
        </td>
    </tr>
    </tbody>
    <tbody *ngIf="loading">
    <tr>
        <td colspan="8">
            <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
        </td>
    </tr>
    </tbody>
</table>
