<div class="container-fluid searchFilter">
    <h3 class="m-t-md" style="color:#aaa;margin-bottom:20px;">Расширенный поиск</h3>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Номер документа</div>
        <div class="col-md-9">
            <input class="form-control" [(ngModel)]="filter.docNumber" name="docNumber">
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Штрихкод</div>
        <div class="col-md-9">
            <input class="form-control" [(ngModel)]="filter.barcode" name="barcode">
        </div>
    </div>

    <hr>
    <div class="row m-t-sm  m-l-sm">
        <div class="col-md-3 title">
        </div>
        <div class="col-md-9">
            <button type="button" (click)="filterChanged();" class="btn btn-primary btn-search">Найти</button>
            <button type="button" (click)="clear();" class="btn btn-default btn-search">Очистить</button>
        </div>
    </div>

</div>