<h4 *ngIf="parallelList && parallelList.length&&!hideTitle" style="margin-top: 10px;">Параллельное согласование</h4>
<div *ngIf="parallelList && parallelList.length">
  <div class="ibox-content" *ngFor="let item of parallelList">
    <div class="mob-approve-item">
      <div class="mob-approve-item-num">
        <span>{{item.val.approvalNum}}</span>
      </div>
      <div class="mob-approve-item-content">
        <div class="approval-type m-b-xs">{{item.val.approvalType}} {{item.val.approvalPlanDate | date: "dd.MM.yyyy
                  HH:mm"}}
        </div>
        <div class="m-b-xs">
          <div class="semibold">{{item.val.agreedBy.fioFull}}</div>
          <div>{{item.val.agreedBy.post}}</div>
          <div *ngIf="!!item.val.factAgreedBy">({{item.val.factAgreedBy.fioFull}}, {{item.val.factAgreedBy.post}})</div>
        </div>
        <div class="m-b-xs">
          <span *ngIf="!item.val.approvalResult" class="label label-default">Ожидание</span>
          <span *ngIf="item.val.approvalResult"
            class="label {{getApprovalResultColor(item.val.approvalTypeCode, item.val.approvalResult)}}">{{item.val.approvalResult}}</span>
          <span
            *ngIf="item.val.approvalFactDate"><label>{{item.val.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label></span>
        </div>
        <div>
          <div *ngIf="item.val.added" class="m-b-xs">
            <div class="semibold">Добавление согласующего</div>
            <div *ngFor="let addedItem of item.val.added">
              <span class="semibold">{{addedItem.additionalAgreed.iofShort || addedItem.additionalAgreed.fio }}:</span>
              {{addedItem.addedNote}}
            </div>
          </div>

          <div
            *ngIf="!(item.val.approvalResult=='Не согласовано' || item.val.approvalResult=='Не утверждено') && (item.val.responsibleExecutorComment||item.val.approvalNote)">
            <div class="semibold">{{item.val.approvalResult}}</div>
            <div> {{item.val.responsibleExecutorComment}}</div>
            <div>{{item.val.approvalNote}}</div>
          </div>

          <div
            *ngIf="(item.val.approvalResult=='Не согласовано' || item.val.approvalResult=='Не утверждено') && (item.val.responsibleExecutorComment||item.val.approvalNote)">
            <div class="semibold">На доработку</div>
            <div> {{item.val.responsibleExecutorComment}}</div>
            <div>{{item.val.approvalNote}}</div>
          </div>

          <div *ngFor="let file of item.val.fileApproval" class="m-t-xs">
            <a href="{{getFileLink(file.fileID)}}" class="text-default" title="{{file.fileName}}">
              <cdp-ex-file-icon [nameFile]="file.fileName"></cdp-ex-file-icon>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<h4 *ngIf="sequentialList && sequentialList.length&&!hideTitle" style="margin-top: 10px;">Последовательное согласование
</h4>
<div *ngIf="sequentialList && sequentialList.length">
  <div class="ibox-content" *ngFor="let item of sequentialList">
    <div class="mob-approve-item">
      <div class="mob-approve-item-num">
        <span>{{item.val.approvalNum}}</span>
      </div>
      <div class="mob-approve-item-content">
        <div class="approval-type m-b-xs">{{item.val.approvalType}} {{item.val.approvalPlanDate | date: "dd.MM.yyyy
                HH:mm"}}
        </div>
        <div class="m-b-xs">
          <div class="semibold">{{item.val.agreedBy.fioFull}}</div>
          <div>{{item.val.agreedBy.post}}</div>
          <div *ngIf="!!item.val.factAgreedBy">({{item.val.factAgreedBy.fioFull}}, {{item.val.factAgreedBy.post}})</div>
        </div>
        <div class="m-b-xs">
          <span *ngIf="!item.val.approvalResult" class="label label-default">Ожидание</span>
          <span *ngIf="item.val.approvalResult"
            class="label {{getApprovalResultColor(item.val.approvalTypeCode, item.val.approvalResult)}}">{{item.val.approvalResult}}</span>
          <span
            *ngIf="item.val.approvalFactDate"><label>{{item.val.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label></span>
        </div>
        <div>
          <div *ngIf="item.val.added" class="m-b-xs">
            <div class="semibold">Добавление согласующего</div>
            <div *ngFor="let addedItem of item.val.added">
              <span class="semibold">{{addedItem.additionalAgreed.iofShort || addedItem.additionalAgreed.fio }}:</span>
              {{addedItem.addedNote}}
            </div>
          </div>

          <div
            *ngIf="!(item.val.approvalResult=='Не согласовано' || item.val.approvalResult=='Не утверждено') && (item.val.responsibleExecutorComment||item.val.approvalNote)">
            <div class="semibold">{{item.val.approvalResult}}</div>
            <div> {{item.val.responsibleExecutorComment}}</div>
            <div>{{item.val.approvalNote}}</div>
          </div>

          <div
            *ngIf="(item.val.approvalResult=='Не согласовано' || item.val.approvalResult=='Не утверждено') && (item.val.responsibleExecutorComment||item.val.approvalNote)">
            <div class="semibold">На доработку</div>
            <div> {{item.val.responsibleExecutorComment}}</div>
            <div>{{item.val.approvalNote}}</div>
          </div>

          <div *ngFor="let file of item.val.fileApproval" class="m-t-xs">
            <a href="{{getFileLink(file.fileID)}}" class="text-default" title="{{file.fileName}}">
              <cdp-ex-file-icon [nameFile]="file.fileName"></cdp-ex-file-icon>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<h4 *ngIf="signList && signList.length&&!hideTitle" style="margin-top: 10px;">Подписант</h4>
<div *ngIf="signList && signList.length">
  <div class="ibox-content" *ngFor="let item of signList">
    <div class="mob-approve-item">
      <div class="mob-approve-item-num">
        <span>{{item.val.approvalNum}}</span>
      </div>
      <div class="mob-approve-item-content">
        <div class="approval-type m-b-xs">{{item.val.approvalType}} {{item.val.approvalPlanDate | date: "dd.MM.yyyy
                HH:mm"}}
        </div>
        <div class="m-b-xs">
          <div class="semibold">{{item.val.agreedBy.fioFull}}</div>
          <div>{{item.val.agreedBy.post}}</div>
          <div *ngIf="!!item.val.factAgreedBy">({{item.val.factAgreedBy.fioFull}}, {{item.val.factAgreedBy.post}})</div>
        </div>
        <div class="m-b-xs">
          <span *ngIf="!item.val.approvalResult" class="label label-default">Ожидание</span>
          <span *ngIf="item.val.approvalResult"
            class="label {{getApprovalResultColor(item.val.approvalTypeCode, item.val.approvalResult)}}">{{item.val.approvalResult}}</span>
          <span
            *ngIf="item.val.approvalFactDate"><label>{{item.val.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label></span>
        </div>
        <div>
          <div *ngIf="item.val.added" class="m-b-xs">
            <div class="semibold">Добавление согласующего</div>
            <div *ngFor="let addedItem of item.val.added">
              <span class="semibold">{{addedItem.additionalAgreed.iofShort || addedItem.additionalAgreed.fio }}:</span>
              {{addedItem.addedNote}}
            </div>
          </div>

          <div
            *ngIf="!(item.val.approvalResult=='Не согласовано' || item.val.approvalResult=='Не утверждено') && (item.val.responsibleExecutorComment||item.val.approvalNote)">
            <div class="semibold">{{item.val.approvalResult}}</div>
            <div> {{item.val.responsibleExecutorComment}}</div>
            <div>{{item.val.approvalNote}}</div>
          </div>

          <div
            *ngIf="(item.val.approvalResult=='Не согласовано' || item.val.approvalResult=='Не утверждено') && (item.val.responsibleExecutorComment||item.val.approvalNote)">
            <div class="semibold">На доработку</div>
            <div> {{item.val.responsibleExecutorComment}}</div>
            <div>{{item.val.approvalNote}}</div>
          </div>

          <div *ngFor="let file of item.val.fileApproval" class="m-t-xs">
            <a href="{{getFileLink(file.fileID)}}" class="text-default" title="{{file.fileName}}">
              <cdp-ex-file-icon [nameFile]="file.fileName"></cdp-ex-file-icon>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>