<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="nowrap center" style="width: 110px"></th>
            <th class="nowrap center" style="width: 60px">№ пп</th>
            <th class="nowrap center" style="width: 200px" *ngIf="!hideApprovalType">Вид действия</th>
            <th class="nowrap center">ФИО и должность</th>
            <th class="nowrap center" [ngStyle]="{'width': editApprovalTerm ? '200px' : '400px'}">Комментарий</th>
            <th class="nowrap center" style="width: 200px" *ngIf="editApprovalTerm">Срок согласования</th>
        </tr>
        </thead>
        <tbody>
            <mggt-approval-sublist-edit-row [list]="list" [level]="0"
                [approvalDurations]="approvalDurations" 
                [disableApprovalType]="disableApprovalType" [hideApprovalType]="hideApprovalType"
                [editApprovalTerm]="editApprovalTerm" [defaultDuration]="defaultDuration"
                [canAdd]="canAdd.bind(this)" [canDelete]="canDelete.bind(this)" [canSwap]="canSwap.bind(this)"
                [getApprovalTypes]="getApprovalTypes.bind(this)" [getApprovers]="getApprovers.bind(this)"
                [assentApprovers]="assentApprovers"
                [agreedApprovers]="agreedApprovers"
                (approverAdded)="onApproverAdded($event)"
                (approverDeleted)="onApproverDeleted($event)"
                (approvalTypeChanged)="onApprovalTypeChanged($event)"
                (approverChanged)="onApproverChanged($event)"
                (approvalDurationChanged)="onApprovalDurationChanged($event)"
                (approversSwapped)="onApproversSwapped()"
                [head]="head"
                [headOnly]="headOnly">
            </mggt-approval-sublist-edit-row>

    </table>
</div>
