<ng-template #template>
  <ng-container *ngFor="let item of list; let index = index; let last = last; let first = first;">
    <tr>
      <ng-container *ngIf="item.val.approvalTypeCode === 'approval'">
        <td>
          <span *ngIf="item.items && item.items.length" style="cursor: pointer; margin-right: 5px;"
            (click)="toggle(index)">
            <i *ngIf="isShowAdditionalApprovals(index)" class="fa fa-angle-down"></i>
            <i *ngIf="!isShowAdditionalApprovals(index)" class="fa fa-angle-up"></i>
          </span>
        </td>
        <td>{{item.val.approvalNum}}</td>
        <td *ngIf="!hideApprovalType">
          {{item.val.approvalType}}
        </td>
        <td>
          <span *ngIf="item.val.agreedBy">
            {{item.val.agreedBy.fioPost}}
          </span>
        </td>
        <td>
          <textarea class="form-control our-control" rows="2" name="responsibleExecutorComment"
                    [(ngModel)]="item.val.responsibleExecutorComment">
          </textarea>
        </td>
        <td *ngIf="editApprovalTerm" class="space-normal">
          <ng-select name="approvalDuration{{index}}" appendTo="body" [items]="approvalDurations" [multiple]="false"
            [closeOnSelect]="true" [hideSelected]="true" bindLabel="Name" bindValue="Code"
            [(ngModel)]="item.val.approvalTerm.code" (change)="onApprovalDurationChanged(item.val)">
          </ng-select>
        </td>
      </ng-container>

      <ng-container *ngIf="item.val.approvalTypeCode !== 'approval'">
        <td>
          <span *ngIf="item.items && item.items.length" style="cursor: pointer; margin-right: 5px;"
            (click)="toggle(index)">
            <i *ngIf="isShowAdditionalApprovals(index)" class="fa fa-angle-down"></i>
            <i *ngIf="!isShowAdditionalApprovals(index)" class="fa fa-angle-up"></i>
          </span>
          <button type="button" class="btn btn-xs btn-default" *ngIf="canDelete(item.val)" (click)="delApproval(index)">
            <i class="fa fa-minus m-r-xs"></i>
          </button>
          <button type="button" class="btn btn-xs btn-default" *ngIf="!first && canSwap(index, index - 1)"
            (click)="swapApprovals(index, index - 1)">
            <i class="fa fa-arrow-up m-r-xs"></i>
          </button>
          <button type="button" class="btn btn-xs btn-default" *ngIf="!last && canSwap(index, index + 1)"
            (click)="swapApprovals(index, index + 1)">
            <i class="fa fa-arrow-down m-r-xs"></i>
          </button>
        </td>
        <td>{{item.val.approvalNum}}</td>
        <td *ngIf="!hideApprovalType" class="space-normal">
          <div>
            <ng-select name="approvalType" appendTo="body" [items]="getApprovalTypes(item.val)" [multiple]="false"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="approvalType" bindValue="approvalTypeCode"
              [disabled]="disableApprovalType" [(ngModel)]="item.val.approvalTypeCode"
              (change)="onApprovalTypeChanged(item.val)">
            </ng-select>
          </div>
        </td>
        <td class="space-normal">
          <ng-container *ngIf="isHeadOnly">
            {{item.val?.agreedBy?.fio || item.val?.agreedBy?.fioFull}} ({{item.val?.agreedBy?.post}})
          </ng-container>
          <ng-container *ngIf="!isHeadOnly && item.val.approvalTypeCode === 'assent'">
            <ng-select name="agreedBy" appendTo="body" [items]="assentApprovers" 
            [multiple]="false" class="multiline-select"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost" [(ngModel)]="item.val.agreedBy"
              (change)="onApproverChanged(item.val)" [disabled]="head && headOnly">
            </ng-select>
          </ng-container>
          <ng-container *ngIf="!isHeadOnly && item.val.approvalTypeCode === 'agreed'">
            <ng-select name="agreedBy" appendTo="body" [items]="agreedApprovers" 
            [multiple]="false" class="multiline-select"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost" [(ngModel)]="item.val.agreedBy"
              (change)="onApproverChanged(item.val)" [disabled]="head && headOnly">
            </ng-select>
          </ng-container>
        </td>
        <td>
          <textarea class="form-control our-control" rows="2" name="responsibleExecutorComment"
            [(ngModel)]="item.val.responsibleExecutorComment">
                </textarea>
        </td>
        <td *ngIf="editApprovalTerm" class="space-normal">
          <ng-select name="approvalDuration{{index}}" appendTo="body" [items]="approvalDurations" [multiple]="false"
            [closeOnSelect]="true" [hideSelected]="true" bindLabel="Name" bindValue="Code" [clearable]="false"
            [(ngModel)]="item.val.approvalTerm.code" (change)="onApprovalDurationChanged(item.val)">
          </ng-select>
        </td>
      </ng-container>
    </tr>
    <mggt-approval-sublist-edit-row *ngIf="item.items && item.items.length > 0 && isShowAdditionalApprovals(index)"
      [list]="item.items" [level]="level + 1" [approvalDurations]="approvalDurations"
      [disableApprovalType]="disableApprovalType" [hideApprovalType]="hideApprovalType"
      [editApprovalTerm]="editApprovalTerm" [canAdd]="canAdd.bind(this)"
      [canDelete]="canDelete.bind(this)" [canSwap]="canSwap.bind(this)" [getApprovalTypes]="getApprovalTypes.bind(this)"
      [getApprovers]="getApprovers.bind(this)" [assentApprovers]="assentApprovers" [agreedApprovers]="agreedApprovers"
      (approverAdded)="onChildApproverAdded($event)" (approverDeleted)="onChildApproverDeleted($event)"
      (approvalTypeChanged)="onApprovalTypeChanged($event)" (approverChanged)="onApproverChanged($event)"
      (approvalDurationChanged)="onApprovalDurationChanged($event)" (approversSwapped)="onApproversSwapped()">
    </mggt-approval-sublist-edit-row>
  </ng-container>
  <tr *ngIf="level === 0 && canAdd()">
    <td>
      <button type="button" class="btn btn-xs btn-default"
              (click)="addApproval()" [disabled]="isAddDisabled">
        <i class="fa fa-plus m-r-xs"></i>
      </button>
    </td>
    <td></td>
    <td *ngIf="!hideApprovalType"></td>
    <td></td>
    <td></td>
    <td *ngIf="editApprovalTerm"></td>
  </tr>
</ng-template>
