<div class="search-result">
    <h3><a uiSref="app.order.document" [uiParams]="{id: doc.sys_documentId}" target="_blank">{{doc.docType}}
        <span *ngIf="doc.docNumber">№{{doc.docNumber}}</span>
        <span *ngIf="doc.docDate"> от {{doc.docDate | date: 'dd.MM.yyyy'}}</span>
    </a></h3>
    <h4 style="color:#676a6c">{{doc.docContent}}</h4>
    <div class="m-b-sm" *ngIf="showStatus">
        <span class="label label-{{getStatusColor(doc.docStatus)}}">{{doc.docStatus}}</span>
    </div>
    <div class="m-b-sm"><span>Рассылка -</span>
        <i *ngIf="doc.mailDateTime" class="fa fa-check-square text-success" style="font-size:16px;"></i>
        <i *ngIf="!doc.mailDateTime" class="fa fa-minus text-danger" style="font-size:16px;"></i>
    </div>

    <div *ngIf="doc.fileID && hasFileAccess">
        <cdp-ex-file [fileInfo]="{
            nameFile: doc.fileName,
            idFile:   doc.fileID,
            sizeFile: doc.fileSize,
            dateFile: doc.fileDate,
            signed:   doc.fileSigned === 'true'
        }" [showSize]="true" [showDate]="true" [openable]="true" [checkSign]="true" [downloadBaseHref]="'/filestore'"></cdp-ex-file>
    </div>
</div>
<div class="hr-line-dashed" *ngIf="!hideLine"></div>
