<mggt-desktop-approval-list-old [list]="list" *ngIf="!$localStorage.isMobile"></mggt-desktop-approval-list-old>
<mggt-mobile-approval-list-old [list]="list" *ngIf="$localStorage.isMobile"></mggt-mobile-approval-list-old>
