<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="nowrap center" width="110px"></th>
        <th class="nowrap center" width="60px">№ пп</th>
        <th class="nowrap center" width="200px">Вид действия</th>
        <th class="nowrap center">ФИО и должность</th>
      </tr>
    </thead>
    <tbody *ngIf="order.approval && !signingElectronically">
      <tr
        *ngFor="let agreed of order.approval.approvalCycle.agreed; let index = index;  let last = last;  let first = first;">
        <td>
          <div *ngIf="agreed.approvalTypeCode !== 'approval'">
            <button type="button" class="btn btn-xs btn-default" (click)="delApproval(index)">
              <i class="fa fa-minus m-r-xs"></i>
            </button>
            <button type="button" class="btn btn-xs btn-default" *ngIf="!first"
              (click)="swapApprovals(index, index - 1)">
              <i class="fa fa-arrow-up m-r-xs"></i>
            </button>
            <button type="button" class="btn btn-xs btn-default" *ngIf="!last"
              (click)="swapApprovals(index, index + 1)">
              <i class="fa fa-arrow-down m-r-xs"></i>
            </button>
          </div>
        </td>
        <td>{{agreed.approvalNum}}</td>
        <td>
          <ng-select name="approvalType" appendTo="body" [items]="approvalTypes" [multiple]="false"
            [closeOnSelect]="true" [hideSelected]="true" bindLabel="approvalType" bindValue="approvalTypeCode"
            [(ngModel)]="agreed.approvalTypeCode" (change)="approvalTypeChanged(index)"></ng-select>
        </td>
        <td>
          <div *ngIf="agreed.approvalTypeCode === 'assent'" >
            <ng-select name="agreedBy" appendTo="body" [items]="assentApproversNotUsed" 
              [multiple]="false" class="multiline-select"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost" [(ngModel)]="agreed.agreedBy"
              (change)="approverChanged(agreed)"></ng-select>
          </div>
          <div *ngIf="agreed.approvalTypeCode === 'agreed'" >
            <ng-select name="agreedBy" appendTo="body" [items]="agreedApproversNotUsed" 
              [multiple]="false" class="multiline-select"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost" [(ngModel)]="agreed.agreedBy"
              (change)="approverChanged(agreed)"></ng-select>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-xs btn-default" (click)="addApproval()">
            <i class="fa fa-plus m-r-xs"></i>
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

    <tbody *ngIf="order.approval && signingElectronically">
      <tr *ngFor=" let agreed of order.approval.approvalCycle.agreed; let index = index; let first = first;">
        <td>
          <div *ngIf="agreed.approvalTypeCode !== 'approval'">
            <button type="button" class="btn btn-xs btn-default" (click)="delApproval(index)">
              <i class="fa fa-minus m-r-xs"></i>
            </button>
            <button type="button" class="btn btn-xs btn-default" *ngIf="!first"
              (click)="swapApprovals(index, index - 1)">
              <i class="fa fa-arrow-up m-r-xs"></i>
            </button>
            <button type="button" class="btn btn-xs btn-default"
              *ngIf="!(index === order.approval.approvalCycle.agreed.length - 2)"
              (click)="swapApprovals(index, index + 1)">
              <i class="fa fa-arrow-down m-r-xs"></i>
            </button>
          </div>
        </td>
        <td>{{agreed.approvalNum}}</td>
        <td>
          <div *ngIf="agreed.approvalTypeCode !== 'approval'">
            <ng-select name="approvalType" appendTo="body" [items]="approvalTypes" [multiple]="false"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="approvalType" bindValue="approvalTypeCode"
              [(ngModel)]="agreed.approvalTypeCode" (change)="approvalTypeChanged(index)"></ng-select>
          </div>
          <div *ngIf="agreed.approvalTypeCode === 'approval'">
            {{agreed.approvalType}}
          </div>
        </td>
        <td>
          <div *ngIf="agreed.approvalTypeCode === 'assent'">
            <ng-select name="agreedBy" appendTo="body" [items]="assentApproversNotUsed" 
              [multiple]="false" class="multiline-select"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost" [(ngModel)]="agreed.agreedBy"
              (change)="approverChanged(agreed)"></ng-select>
          </div>
          <div *ngIf="agreed.approvalTypeCode === 'agreed'">
            <ng-select name="agreedBy" appendTo="body" [items]="agreedApproversNotUsed" 
              [multiple]="false" class="multiline-select"
              [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost" [(ngModel)]="agreed.agreedBy"
              (change)="approverChanged(agreed)"></ng-select>
          </div>
          <div *ngIf="agreed.approvalTypeCode === 'approval'">
            {{agreed.agreedBy.fioPost}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-xs btn-default" (click)="addApproval()">
            <i class="fa fa-plus m-r-xs"></i>
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>