<form method="get" class="form-horizontal" name="parallelApproval">
  <h4>Параллельное согласование</h4>

  <h4 style="display: flex; align-items: center;">
    <span>
      Срок согласования
      <span *ngIf="!!parallelApprovers.length&&!parallelApprovalDurationCode" class="our-mandatory">*</span>
    </span>
    <ng-select name="parallelApprovalDuration" [items]="dicts.approvalDurations" [multiple]="false"
      [closeOnSelect]="true" [hideSelected]="true" bindLabel="Name" bindValue="Code"
      [(ngModel)]="parallelApprovalDurationCode" (change)="parallelApprovalDurationCodeChanged()"
      style="width: 120px; margin-left: 15px; display: inline-block;">
    </ng-select>
  </h4>

  <mggt-approval-sublist-edit [list]="parallelApprovers" [approvers]="approvers" [executives]="executives"
  [signUsers]="dicts.signUsers"
    [approvalTypes]="approvalTypes" [defaultApprovalType]="defaultApprovalType" [editApprovalTerm]="false"
    [approvalDurations]="dicts.approvalDurations" [canAdd]="canAddParallel.bind(this)"
    [hasApproval]="hasApproval.bind(this)" (approverAdded)="parallelApproverAdded($event)"
    (approverDeleted)="approverDeleted()" (approverChanged)="approverChanged($event)"
    (approvalTypeChanged)="approvalTypeChanged($event)" (approversSwapped)="approversSwapped()"
    [defaultDuration]="defaultDuration.parallel">
  </mggt-approval-sublist-edit>

  <h4>Последовательное согласование</h4>
  <mggt-approval-sublist-edit [list]="serialApprovers" [approvers]="approvers" [signUsers]="dicts.signUsers" [executives]="executives"
    [approvalTypes]="approvalTypes" [defaultApprovalType]="defaultApprovalType" [editApprovalTerm]="true"
    [approvalDurations]="dicts.approvalDurations" [canAdd]="canAddSerial.bind(this)" [defaultDuration]="defaultDuration.sequential"
    [hasApproval]="hasApproval.bind(this)" (approverAdded)="serialApproverAdded($event)"
    (approverDeleted)="approverDeleted()" (approverChanged)="approverChanged($event)"
    (approvalTypeChanged)="approvalTypeChanged($event)" (approvalDurationChanged)="approvalDurationChanged()"
    (approversSwapped)="approversSwapped()">
  </mggt-approval-sublist-edit>

  <h4>Подписант</h4>
  <h4 style="display: flex; align-items: center;">
    <span>
      Срок согласования
      <span *ngIf="!!signers.length&&!signDurationCode" class="our-mandatory">*</span>
    </span>
    <ng-select name="signDuration" [items]="dicts.approvalDurations" [multiple]="false" [closeOnSelect]="true"
      [hideSelected]="true" bindLabel="Name" bindValue="Code" [(ngModel)]="signDurationCode"
      (change)="signDurationCodeChanged()" style="width: 120px; margin-left: 15px; display: inline-block;">
    </ng-select>
  </h4>

  <mggt-approval-sublist-edit [list]="signers" [approvers]="approvers" [executives]="executives"
    [head]="order.head" [headOnly]="!order.signingElectronically"
    [signUsers]="dicts.signUsers"
    [approvalTypes]="isSigningElectronically() ? [approvalApproveType] : approvalTypes"
    [defaultApprovalType]="isSigningElectronically() ? approvalApproveType : defaultApprovalType"
    [disableApprovalType]="isSigningElectronically()" [editApprovalTerm]="false"
    [approvalDurations]="dicts.approvalDurations" [canAdd]="canAddSigner.bind(this)"
    [hasApproval]="hasApproval.bind(this)" (approverAdded)="signerAdded($event)" (approverDeleted)="approverDeleted()"
    (approverChanged)="approverChanged($event)" (approvalTypeChanged)="approvalTypeChanged($event)">
  </mggt-approval-sublist-edit>

  <h4>
    Общий срок согласования
    
      <input type="text" disabled="disabled" class="form-control our-control"
        *ngIf="order.approval.approvalCycle.approvalTermAll"
        value="{{order.approval.approvalCycle.approvalTermAll.duration}} дней" style="width: 120px; margin-left: 15px; display: inline-block;">
  </h4>

</form>

