<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <form *ngIf="success" method="get" class="form-horizontal" name="orderAssignPermitionsForm">
        <div class="table-responsive">
          <table class="table table-bordered m-b-bone">
            <thead>
            <tr>
              <th class="center">ФИО</th>
              <th class="center">Доступ</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td>
                {{responsibleUser.displayName}}
              </td>
              <td>
                Владелец
              </td>              
            </tr>
            <tr *ngFor="let agreed of order.approval.approvalCycle.agreed">
              <td>
                {{agreed.agreedBy.fioFull}}
              </td>
              <td>
                Редактор
              </td>              
            </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <button type="button" class="btn btn-sm btn-primary m-r-sm ladda-button"
              (click)="saveAndProcess()"
              [ladda]="saving" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-left">
              <i class="fa m-r-xs"></i>Права доступа назначены
            </button>
            
          </div>
        </div>

      </form>
    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
        приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>