<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">
            <form method="get" class="form-horizontal" name="orderFinalizationForm">
                <h4 class="m-t-lg">Замечания</h4>
                <div *ngIf="isRecalled" class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Отозвано инициатором
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8" style="padding-top: 7px;">
                        {{order.responsibleExecutor.fio}}
                    </div>
                </div>
                <div *ngIf="!isParallel&&!isRecalled">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                            ФИО и должность
                        </label>
                        <div class="col-lg-7 col-md-8 col-sm-9 m-t-8" *ngIf="declineInfo">
                            {{declineInfo.user}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                            Вид действия
                        </label>
                        <div class="col-lg-7 col-md-8 col-sm-9 m-t-8" *ngIf="declineInfo">
                            {{declineInfo.approvalType}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                            Дата замечания
                        </label>
                        <div class="col-lg-7 col-md-8 col-sm-9 m-t-8" *ngIf="declineInfo">
                            {{declineInfo.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                            Комментарий
                        </label>
                        <div class="col-lg-7 col-md-8 col-sm-9 m-t-8" *ngIf="declineInfo">
                            {{declineInfo.approvalNote}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                            Файл
                        </label>
                        <div class="col-lg-7 col-md-8 col-sm-9 m-t-8" *ngIf="declineInfo">
                            <div *ngFor="let file of declineInfo.files">
                                <cdp-ex-file [fileInfo]="{
                                nameFile: file.fileName,
                                idFile:   file.fileID,
                                sizeFile: file.fileSize,
                                dateFile: file.fileDate,
                                signed:   file.fileSigned}" [showSize]="true" [showDate]="true" [checkSign]="true" 
                                             [downloadBaseHref]="'/filestore'"></cdp-ex-file>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isParallel&&!isRecalled">
                    <table class="table table-bordered" *ngIf="parallelList && parallelList.length">
                        <thead>
                        <tr>
                            <th class="nowrap center" style="width: 5%">№ пп</th>
                            <th class="nowrap center">ФИО и должность</th>
                            <th class="nowrap center" width="180px">Вид действия</th>
                            <th class="nowrap center" width="170px">Срок согласования</th>
                            <th class="nowrap center">Результат</th>
                            <th class="nowrap center">Комментарий исполнителя</th>
                            <th class="nowrap center">Комментарий согласующего</th>
                        </tr>
                        </thead>
                        <tbody mggt-approval-list-rows [list]="parallelList" [level]="0" [approvalTypes]="approvalTypes">
                        </tbody>
                    </table>
                </div>
                <hr/>

                <h4 style="outline: none; cursor: pointer;" (click)="dataShow = !dataShow" class="m-t-md">
                    <i style="margin-right: 5px;" class="fa fa-caret-right" *ngIf="dataShow === false"></i> <i
                        style="margin-right: 5px;" class="fa fa-angle-down" *ngIf="dataShow === true"></i> Данные о
                    документе
                </h4>
                <div *ngIf="dataShow" style="margin-left: 20px;">
                    <mggt-order-prepare-edit [order]="order"
                                             [dicts]="{orderTypes: orderTypes, emailGroups: emailGroups, orderStatuses: orderStatuses, executives: executives}"
                                             (onSigningElectronicallyChanged)="signingElectronicallyChanged()"
                                             (onHeadChanged)="headChanged()"></mggt-order-prepare-edit>

                    <h4 class="m-t-lg">
                        Лист согласования
                        <span *ngIf="order.approval.approvalCycle.approvalCycleNum !== '1'">
                            ({{order.approval.approvalCycle.approvalCycleNum}})
                        </span>
                    </h4>
                    <mggt-approval-list-edit [order]="order" [enableDoubleAgree]="false"
                                             [dicts]="{approvalTypes: approvalTypes, executives: executives, approvers: approvers, signUsers: signUsers, approvalDurations: approvalDurations}">
                    </mggt-approval-list-edit>

                    <h4 class="m-t-lg">Проект РД</h4>

                    <!--
                    <div *ngIf="isApplication()">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД (без приложения)</div>
                            <div class="col-lg-7 col-md-8 col-sm-9">

                                <button type="button" class="btn btn-sm btn-primary ladda-button"
                                        (click)="createDraftFilesWithoutAtt()" [ladda]="creatingDraftFilesWithoutAtt"
                                        data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                                        [disabled]="sendingToApproval">
                                    <i class="fa m-r-xs"></i>Сформировать проект РД
                                </button>
                            </div>
                        </div>
                        -->

                    <div *ngIf="isApplication()">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД (без приложения)</div>
                            <div class="col-lg-7 col-md-8 col-sm-9" >
                                <button type="button" *ngIf="!draftFilesWithoutAtt.length" class="btn btn-sm btn-primary ladda-button" (click)="createDraftFilesWithoutAtt()"
                                        [ladda]="creatingDraftFilesWithoutAtt" data-spinner-size="18" data-spinner-color="#FFFFFF"
                                        data-style="expand-right" [disabled]="sendingToApproval || sendingToRegistration">
                                    <i class="fa m-r-xs"></i>Сформировать проект РД
                                </button>
                                <cdp-ex-file-manager [files]="draftFilesWithoutAtt" [fileType]="'default'" [folderPath]="filePathForWord"
                                                     [downloadable]="orderService.showComponents && !draftFilesWithoutAtt.length" [folderGuid]="order.folderID"
                                                     extPattern="docx" [maxNumberOfFiles]="1" [deletable]="!order.draftFiles" [downloadBlank]="false"   [showOpenWordButton]="showButton" [hideDownloadButton]="showButton"
                                                     [showSize]="true" [showDate]="true" [checkSign]="true" [baseMode]="false" (onChanged)="changeDraftFilesWithoutAtt()"
                                                     [downloadBaseHref]="'/filestore'" [onRemove]="onDraftFilesWithoutAttDelete">
                                </cdp-ex-file-manager>
                            </div>
                        </div>
                        <!--
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3"></div>
                            <div class="col-lg-7 col-md-8 col-sm-9">

                                <cdp-ex-file-manager [files]="draftFilesWithoutAtt" [fileType]="'default'"
                                [downloadable]="orderService.showComponents && !draftFilesWithoutAtt.length"
                                [folderGuid]="order.folderID"
                                 extPattern="docx" [maxNumberOfFiles]="1" [deletable]="true" [downloadBlank]="true"
                                 [folderPath]="filePathForWord"  [showOpenWordButton]="showButton" [hideDownloadButton]="showButton"
                                [showSize]="true" [showDate]="true" [checkSign]="true" (onChanged)="changeDraftFilesWithoutAtt()"
                                [downloadBaseHref]="'/filestore'" (onRemove)="onDraftFilesWithoutAttDelete">
                                </cdp-ex-file-manager>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-9" *ngIf="false">
                                <cdp-ex-file-manager [files]="draftFilesWithoutAtt" [showSize]="true" [showDate]="true"
                                                     [downloadBaseHref]="'/filestore'" [deletable]="true"
                                                     [onRemove]="onDraftFilesWithoutAttDelete">>
                                </cdp-ex-file-manager>
                            </div>
                        </div>
                        -->
                    </div>

                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Приложение</div>
                            <div class="col-lg-7 col-md-8 col-sm-9 attachment">
                                <cdp-ex-file-manager [files]="attach" [fileType]="'default'"
                                                     [downloadable]="!attach.length" [folderGuid]="order.folderID"
                                                     extPattern="docx, doc, pdf" [maxNumberOfFiles]="1" [deletable]="true" [downloadBlank]="true"
                                                     [showSize]="true" [showDate]="true" [checkSign]="true" (onChanged)="changeAttach()"
                                                     [downloadBaseHref]="'/filestore'" [onRemove]="onAttachDelete">
                                </cdp-ex-file-manager>
                            </div>

                            <div class="col-lg-7 col-md-8 col-sm-9" *ngIf="false">
                                <cdp-ex-file-manager [files]="attach" [showSize]="true" [showDate]="true"
                                                     [downloadBaseHref]="'/filestore'" [deletable]="true"
                                                     [onRemove]="onAttachDelete">>
                                </cdp-ex-file-manager>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
                            <div class="col-lg-7 col-md-8 col-sm-9">
                                <button type="button" class="btn btn-sm btn-primary ladda-button" (click)="combineDraftFile()"
                                        [ladda]="combiningDraftFile" data-spinner-size="18" data-spinner-color="#FFFFFF"
                                        data-style="expand-right"
                                        [disabled]="!order.draftFilesWithoutAtt || sendingToApproval">
                                    <i class="fa m-r-xs"></i>Сформировать проект РД с приложением
                                </button>
                            </div>
                        </div>




                    <div *ngIf="!isApplication()">

                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
                            <div class="col-lg-7 col-md-8 col-sm-9">
                                <button type="button" class="btn btn-sm btn-primary ladda-button" (click)="saveAndCreateDraftFile()"
                                        [ladda]="creatingDraftFile" data-spinner-size="18" data-spinner-color="#FFFFFF"
                                        data-style="expand-right" [disabled]="sendingToApproval">
                                    <i class="fa m-r-xs"></i>Сформировать проект РД
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="form-group" *ngIf="order.draftFiles">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
                        <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                            <cdp-ex-file-manager [files]="[{
                                nameFile: order.draftFiles.draftFilesName,
                                idFile:   order.draftFiles.draftFilesID,
                                sizeFile: order.draftFiles.draftFilesSize,
                                dateFile: order.draftFiles.draftFilesDate,
                                signed:   order.draftFiles.draftFilesSigned
                            }]" [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'"
                                [deletable]="true" [checkSign]="true" [onRemove]="onDraftFilesDelete">
                            </cdp-ex-file-manager>
                        </div>
                    </div>
                </div>
                <mggt-approval-history [history]="order.approvalHistory"></mggt-approval-history>

                <br/>
                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <button type="button" class="btn btn-sm btn-default m-b-xs" (click)="saveDocument()"
                                [ladda]="saving" data-spinner-size="18"
                                data-spinner-color="#AAAAAA" data-style="expand-left">
                            <i class="fa m-r-xs"></i>Сохранить данные без завершения задачи
                        </button>
                        <button type="button" class="btn btn-sm btn-primary m-b-xs m-l-md ladda-button" (click)="saveAndSendToApproval()"
                                [ladda]="sendingToApproval" [disabled]="onDeletedFileNoApp && onDeletedCreateFileApp"
                                data-spinner-size="18" data-spinner-color="#FFFFFF"
                                data-style="expand-right">
                            <i class="fa m-r-xs"></i>
                            Направить документ на повторное согласование
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div error>
        <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
                приложения</span></span>
    </div>
    <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>
