<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">
            <form method="get" class="form-horizontal" name="orderFinalizationForm">
                <h4 class="m-t-lg">Замечания</h4>
                <div *ngIf="isRecalled" class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Отозвано инициатором
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8" style="padding-top: 7px;">
                        {{order.responsibleExecutor.fio}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        ФИО и должность
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                        {{declineInfo.user}}
                    </div>
                </div>
                <div class="form-group" *ngIf="declineInfo.approvalType">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Вид действия
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                        {{declineInfo.approvalType}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Дата замечания
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                        {{declineInfo.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Комментарий
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                        {{declineInfo.approvalNote}}
                    </div>
                </div>
                <div class="form-group" *ngIf="declineInfo.files">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Файл
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                        <div *ngFor="let file of declineInfo.files">
                            <cdp-ex-file [fileInfo]="{
                                nameFile: file.fileName,
                                idFile:   file.fileID,
                                sizeFile: file.fileSize,
                                dateFile: file.fileDate,
                                signed:   file.fileSigned}" [showSize]="true" [showDate]="true"
                                [downloadBaseHref]="'/filestore'"></cdp-ex-file>
                        </div>
                    </div>
                </div>
                <hr />

                <h4 style="outline: none; cursor: pointer;" (click)="dataShow = !dataShow" class="m-t-md">
                    <i style="margin-right: 5px;" class="fa fa-caret-right" *ngIf="dataShow === false"></i> <i
                        style="margin-right: 5px;" class="fa fa-angle-down" *ngIf="dataShow === true"></i> Данные о
                    документе
                </h4>
                <div *ngIf="dataShow" style="margin-left: 20px;">
                    <mggt-order-prepare-edit-old [order]="order"
                        [dicts]="{orderTypes: orderTypes, emailGroups: emailGroups, orderStatuses: orderStatuses, executives: executives}"
                        (onHeadChanged)="headChanged()"></mggt-order-prepare-edit-old>

                    <h4 class="m-t-lg">
                        Лист согласования
                        <span *ngIf="order.approval.approvalCycle.approvalCycleNum !== '1'">
                            ({{order.approval.approvalCycle.approvalCycleNum}})
                        </span>
                    </h4>
                    <mggt-approval-list-edit-old [order]="order" [signingElectronically]="order.signingElectronically"
                        [approvalTypes]="approvalTypes" [executive]="order.head" [approvers]="approvers" [signUsers]="signUsers">
                    </mggt-approval-list-edit-old>

                    <h4 class="m-t-lg">Проект РД</h4>

                    <div *ngIf="isApplication()">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД (без приложения)</div>
                            <div class="col-lg-7 col-md-8 col-sm-9">
                                <!--TODO: reporter-->
                                <button type="button" class="btn btn-sm btn-primary"
                                    (click)="createDraftFilesWithoutAtt()" [ladda]="creatingDraftFilesWithoutAtt"
                                    data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                                    [disabled]="sendingToApproval">
                                    <i class="fa m-r-xs"></i>Сформировать проект РД
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3"></div>
                            <div class="col-lg-7 col-md-8 col-sm-9">
                                <cdp-ex-file-manager [files]="draftFilesWithoutAtt" [fileType]="'default'"
                                    [downloadable]="true" [folderGuid]="order.folderID" extPattern="docx, doc"
                                    [deletable]="true" [downloadable]="true" [downloadBlank]="true"
                                    (onChanged)="changeDraftFilesWithoutAtt()" [downloadBaseHref]="'/filestore'"
                                    (onRemove)="deleteDraftFilesWithoutAtt()">
                                </cdp-ex-file-manager>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-9" *ngIf="false">
                                <cdp-ex-file-manager [files]="draftFilesWithoutAtt" [showSize]="true" [showDate]="true"
                                    [downloadBaseHref]="'/filestore'" [deletable]="true"
                                    [onRemove]="deleteDraftFilesWithoutAtt">>
                                </cdp-ex-file-manager>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Приложение</div>
                            <div class="col-lg-7 col-md-8 col-sm-9">
                                <cdp-ex-file-manager [files]="attach" [fileType]="'default'" [downloadable]="true"
                                    [folderGuid]="order.folderID" extPattern="docx, doc, pdf" [deletable]="true"
                                    [downloadable]="true" [downloadBlank]="true" (onChanged)="changeAttach()"
                                    [downloadBaseHref]="'/filestore'" (onRemove)="deleteAttach()">
                                </cdp-ex-file-manager>
                            </div>
                            <div class="col-lg-7 col-md-8 col-sm-9" *ngIf="false">
                                <cdp-ex-file-manager [files]="attach" [showSize]="true" [showDate]="true"
                                    [downloadBaseHref]="'/filestore'" [deletable]="true" [onRemove]="deleteAttach">>
                                </cdp-ex-file-manager>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
                            <div class="col-lg-7 col-md-8 col-sm-9">
                                <button type="button" class="btn btn-sm btn-primary" (click)="combineDraftFile()"
                                    [ladda]="combiningDraftFile" data-spinner-size="18" data-spinner-color="#FFFFFF"
                                    data-style="expand-right"
                                    [disabled]="!order.draftFilesWithoutAtt || sendingToApproval">
                                    <i class="fa m-r-xs"></i>Сформировать проект РД с приложением
                                </button>
                            </div>
                        </div>

                    </div>


                    <div *ngIf="!isApplication()">

                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
                            <div class="col-lg-7 col-md-8 col-sm-9">
                                <button type="button" class="btn btn-sm btn-primary" (click)="saveAndCreateDraftFile()"
                                    [ladda]="creatingDraftFile" data-spinner-size="18" data-spinner-color="#FFFFFF"
                                    data-style="expand-right" [disabled]="sendingToApproval">
                                    <i class="fa m-r-xs"></i>Сформировать проект РД
                                </button>
                            </div>
                        </div>

                    </div>


                    <div class="form-group" *ngIf="order.draftFiles">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
                        <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                            <cdp-ex-file-manager [files]="[{
                            nameFile: order.draftFiles.draftFilesName,
							idFile:   order.draftFiles.draftFilesID,
							sizeFile: order.draftFiles.draftFilesSize,
							dateFile: order.draftFiles.draftFilesDate,
							signed:   order.draftFiles.draftFilesSigned
                        }]" [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'" [deletable]="true"
                                [onRemove]="deleteDraftFiles">
                            </cdp-ex-file-manager>
                        </div>
                    </div>
                </div>
                <mggt-approval-history-old [history]="order.approvalHistory"></mggt-approval-history-old>

                <br />
                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <button type="button" class="btn btn-sm btn-default m-b-xs" (click)="saveDocument()">
                            <i class="fa m-r-xs"></i>Сохранить данные без завершения задачи
                        </button>
                        <button type="button" class="btn btn-sm btn-primary m-b-xs" (click)="saveAndSendToApproval()"
                            [ladda]="sendingToApproval" data-spinner-size="18" data-spinner-color="#FFFFFF"
                            data-style="expand-right">
                            <i class="fa m-r-xs"></i>Направить документ на повторное согласование
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div error>
        <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
                приложения</span></span>
    </div>
    <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>
