<div style="display: flex;" class="m-t-sm">
  <div class="pull-left" style="width: 50%;"></div>
  <div class="pull-right" style="width: 50%; margin-left: 5px;">
    <button class="btn btn-white btn-block" style="font-size: 12px;" (click)="clear()">
      Очистить все
    </button>
  </div>
</div>

<div class="row m-t-sm">
  <div class="col-xs-12">
    <div class="form-group">
      <label>Год</label>
      <ng-select name="docYear" [items]="dicts.availableYears" [multiple]="true" [closeOnSelect]="true"
        [hideSelected]="true" [(ngModel)]="filter.docYear" (change)="mobileFilterChange()">
      </ng-select>
    </div>
    <div class="form-group">
      <label>Дата документа</label>
      <cdp-date-range-select [(dateFrom)]="filter.docDate.from" [(dateTo)]="filter.docDate.to" (change)="mobileFilterChange()">
      </cdp-date-range-select>
    </div>
    <div class="form-group">
      <label>Номер РД</label>
      <input class="form-control" [(ngModel)]="filter.docNumber" name="docNumber" (change)="mobileFilterChange()">
    </div>
    <div class="form-group">
      <label>Штрихкод</label>
      <input class="form-control" [(ngModel)]="filter.barcode" name="barcode" (change)="mobileFilterChange()">
    </div>
    <div class="form-group">
      <label>Тип РД</label>
      <ng-select name="docType" [items]="dicts.orderTypes" [multiple]="true" [closeOnSelect]="true"
        [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.docType" (change)="mobileFilterChange()">
      </ng-select>
    </div>
    <div class="form-group">
      <label>Конфиденциальность</label>
      <ng-select name="privacy" [items]="dicts.privacyTypes" [multiple]="true" [closeOnSelect]="true"
        [hideSelected]="true" bindLabel="name" [(ngModel)]="filter.privacy" (change)="mobileFilterChange()">
      </ng-select>
    </div>
    <div class="form-group">
      <label>Содержание</label>
      <input class="form-control" [(ngModel)]="filter.docContent" name="docContent" (change)="mobileFilterChange()">
    </div>
    <div class="form-group">
      <label>Тема</label>
      <ng-select name="subject" [items]="dicts.orderThemes" [multiple]="true" [closeOnSelect]="true"
        [hideSelected]="true" bindLabel="themeName" placeholder="Тема" [(ngModel)]="filter.docTheme" (change)="mobileFilterChange()">
      </ng-select>
    </div>
    <div class="form-group">
      <label>Состояние</label>
      <ng-select name="statusAnalytic" [items]="dicts.statusAnalytics" [multiple]="true" [closeOnSelect]="true"
        [hideSelected]="true" placeholder="Состояние" [(ngModel)]="filter.statusAnalytic"
        (add)="onSelectStatusAnalyticCallback($event)" (remove)="onRemoveStatusAnalyticCallback($event)" (change)="mobileFilterChange()">
      </ng-select>
    </div>
    <div class="form-group">
      <label>Статус</label>
      <ng-select name="condition" [items]="dicts.orderStatuses" [multiple]="true" [closeOnSelect]="true"
        [hideSelected]="true" placeholder="Статус" [(ngModel)]="filter.docStatus"
        (add)="onSelectConditionCallback($event)" (remove)="onRemoveConditionCallback($event)" (change)="mobileFilterChange()">
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span class="ng-value-icon left" (click)="clear(item);" aria-hidden="true">×</span>
          <span class="label label-{{item.color}}" aria-hidden="true">{{item.name}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <span class="label label-{{item.color}}" aria-hidden="true">{{item.name}}</span>
        </ng-template>
      </ng-select>
    </div>
    <div class="form-group">
      <label>Дата создания</label>
      <cdp-date-range-select [(dateFrom)]="filter.createDate.from" [(dateTo)]="filter.createDate.to" (change)="mobileFilterChange()">
      </cdp-date-range-select>
    </div>
    <div class="form-group">
      <label>Подписант</label>
      <ng-select *ngIf="!isMka" [items]="heads$ | async" bindLabel="displayName" [multiple]="true"
        [closeOnSelect]="true" [hideSelected]="true" [loading]="headsLoading" [typeahead]="headsInput$"
        placeholder="Подписант, введите 3 символа для начала поиска" [(ngModel)]="filter.accountNameHead" name="head" (change)="mobileFilterChange()">
      </ng-select>
      <input *ngIf="isMka" type="text" class="form-control" name="head" [(ngModel)]="filter.accountNameHead" (change)="mobileFilterChange()" />
    </div>
    <div class="form-group">
      <label>Ответственное управление</label>
      <ng-select *ngIf="!isMka" name="responsibleExecutorDep" [items]="dicts.departments" [multiple]="true"
        [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" placeholder="Ответственное управление"
        [(ngModel)]="filter.responsibleExecutorDep" (change)="mobileFilterChange()">
      </ng-select>
      <input *ngIf="isMka" type="text" class="form-control" name="responsibleExecutorDep"
        [(ngModel)]="filter.responsibleExecutorDep" (change)="mobileFilterChange()" />
    </div>
    <div class="form-group">
      <label>Ответственный исполнитель</label>
      <ng-select *ngIf="!isMka" [items]="responsibleExecutors$ | async" bindLabel="displayName" [multiple]="true"
        [closeOnSelect]="true" [hideSelected]="true" [loading]="responsibleExecutorsLoading"
        [typeahead]="responsibleExecutorsInput$"
        placeholder="Ответственный исполнитель, введите 3 символа для начала поиска"
        [(ngModel)]="filter.responsibleExecutor" name="responsibleExecutor" (add)="onSelectExecutorCallback($event)" 
        (change)="mobileFilterChange()">
      </ng-select>
      <input *ngIf="isMka" type="text" class="form-control" name="responsibleExecutor" (change)="mobileFilterChange()" 
        [(ngModel)]="filter.responsibleExecutor" />
    </div>
  </div>
</div>

<div style="display: flex;" class="m-t-sm">
  <div class="pull-left text-right" style="width: 50%;">
    <button type="button" (click)="filterChanged();" class="btn btn-primary btn-search">Найти</button>
  </div>
  <div class="pull-right" style="width: 50%; margin-left: 5px;">
    <button class="btn btn-white btn-block" (click)="clear()">
      Очистить все
    </button>
  </div>
</div>
