<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="description">
        <dl class="dl-horizontal">
          <dt *ngIf="hasAccessRight && order.draftFiles"><span>Проект РД</span></dt>
          <dd *ngIf="hasAccessRight && order.draftFiles">
            <span *ngIf="!order.draftFiles" class="not-specified">отсутствует</span>
            <span *ngIf="order.draftFiles" ng-init="draftFile = order.draftFiles">
              <cdp-ex-file [fileInfo]="{
                             nameFile:  order.draftFiles.draftFilesName,
                             idFile:    order.draftFiles.draftFilesID,
                             sizeFile:  order.draftFiles.draftFilesSize,
                             dateFile:  order.draftFiles.draftFilesDate,
                             signed:    order.draftFiles.draftFilesSigned
                           }"
                           [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'" [checkSign]="true"></cdp-ex-file>
            </span>
            <div class="clearfix"></div>
          </dd>
          <dt *ngIf="hasAccessRight && order.files && order.files.length"><span>Электронный образ</span></dt>
          <dd *ngIf="hasAccessRight && order.files && order.files.length">
            <span *ngIf="!order.files || !order.files.length" class="not-specified">отсутствует</span>
            <span *ngIf="order.files && order.files.length">
              <span *ngFor="let file of order.files">
                <cdp-ex-file [fileInfo]="{ nameFile: file.fileName,
                  idFile:   file.fileID,
                  sizeFile: file.fileSize,
                  dateFile: file.fileDate,
                  signed:   file.fileSigned}"
                             [showSize]="true" [showDate]="true" [deletable]="canDeleteFile" [checkSign]="true" [downloadBaseHref]="'/filestore'"
                             (onRemove)="deleteDocument($event)"></cdp-ex-file>
              </span>
            </span>
            <div class="clearfix"></div>
          </dd>

          <dt>
            <span>Подписание в электронном виде</span>
          </dt>
          <dd>
            <span *ngIf="!order.signingElectronically">Нет</span>
            <span *ngIf="order.signingElectronically">Да</span>
          </dd>

          <div *ngIf="order.documentThemeValue">
            <dt><span>Тема</span></dt>
            <dd>{{order.documentThemeValue}}</dd>
          </div>

          <dt *ngIf="hasAccessRight && order.documentText">
            <span>Текст приказа</span>
          </dt>
          <dd *ngIf="hasAccessRight && order.documentText">
            {{order.documentText}}
          </dd>
          <dt *ngIf="!!order.privacy&&!!order.privacy.name">
            <span>Конфиденциальность</span>
          </dt>
          <dd *ngIf="!!order.privacy&&!!order.privacy.name">
            {{order.privacy.name}}
          </dd>

          <!-- <dt>
            <span>Номер связанного документа</span>
          </dt>
          <dd>
            <span *ngIf="!order.approvedDocumentNumber" class="not-specified">отсутствует</span>
            <a *ngIf="order.approvedDocumentNumber && extDocLink" [href]="extDocLink">
              {{order.approvedDocumentNumber}}
            </a>
            <span
              *ngIf="order.approvedDocumentNumber && !extDocLink">{{order.approvedDocumentNumber}}</span>
          </dd> -->

          <dt *ngIf="order.previousDocument"><span>Предыдущий документ</span></dt>
          <dd *ngIf="order.previousDocument">
            <a uiSref="app.order.document" [uiParams]="{id: order.previousDocument.previousDocumentID}">
              {{order.previousDocument.previousDocumentNum}}
            </a>
          </dd>

          <div *ngIf="order.canceledDocument">
            <dt><span>Аннулируемый документ</span></dt>
            <dd>
              {{order.canceledDocument.canceledDocumentType}} №
              <span *ngIf="order.canceledDocument.canceledDocumentID">
                <a uiSref="app.order.document" [uiParams]="{id: order.canceledDocument.canceledDocumentID}">{{order.canceledDocument.canceledDocumentNum}}</a>
              </span>
              <span *ngIf="!order.canceledDocument.canceledDocumentID">
                            {{order.canceledDocument.canceledDocumentNum}}
                        </span>
              от {{order.canceledDocument.canceledDocumentDate | date: "dd.MM.yyyy"}}
            </dd>
          </div>

          <div *ngIf="cancelingDocument">
            <dt><span>Аннулирующий документ</span></dt>
            <dd>
              {{cancelingDocument.documentTypeValue}} №
              <a uiSref="app.order.document" [uiParams]="{id: cancelingDocument.documentID}">{{cancelingDocument.documentNumber}}</a>
              от
              {{cancelingDocument.documentDate | date: "dd.MM.yyyy"}}
            </dd>
          </div>

          <div *ngIf="order.updatedDocument && order.updatedDocument.length > 0">
            <dt><span>Уточняемый документ</span></dt>
            <dd *ngFor="let updatedDocument of order.updatedDocument">
              {{updatedDocument.updatedDocumentType}} №
              <span *ngIf="updatedDocument.updatedDocumentID">
                <a uiSref="app.order.document" [uiParams]="{id: updatedDocument.updatedDocumentID}">{{updatedDocument.updatedDocumentNum}}</a>
              </span>
              <span *ngIf="!updatedDocument.updatedDocumentID">
                            {{updatedDocument.updatedDocumentNum}}
                        </span>
              от {{updatedDocument.updatedDocumentDate | date: "dd.MM.yyyy"}}
            </dd>
          </div>

          <!-- <dt><span>Адрес</span></dt>
          <dd>
            <span *ngIf="!order.address" class="not-specified">отсутствует</span>
            <span *ngIf="order.address">{{order.address}}</span>
          </dd> -->

          <dt *ngIf="order.barcode"><span>Штрихкод</span></dt>
          <dd *ngIf="order.barcode">
            <span *ngIf="!order.barcode" class="not-specified">отсутствует</span>
            <span *ngIf="order.barcode">{{order.barcode}}</span>
          </dd>

          <dt *ngIf="order.head && order.head.fio"><span>Руководитель</span></dt>
          <dd *ngIf="order.head && order.head.fio">
            <span *ngIf="!order.head || !order.head.fio" class="not-specified">отсутствует</span>
            <span *ngIf="order.head && order.head.fio">{{order.head.fio}}</span>
          </dd>

          <dt *ngIf="order.executor && order.executor.length > 0"><span>Исполнитель</span></dt>
          <dd *ngIf="order.executor && order.executor.length > 0">
            <span *ngIf="!order.executor || order.executor.length === 0"
                  class="not-specified">отсутствует</span>
            <span *ngFor="let executor of order.executor; let last = last;">{{executor.fio}}{{last ? '' : ', '}}</span>
          </dd>

          <dt *ngIf="order.registar && order.registar.fio"><span>Регистратор</span></dt>
          <dd *ngIf="order.registar && order.registar.fio">
            <span *ngIf="!order.registar || !order.registar.fio" class="not-specified">отсутствует</span>
            <span *ngIf="order.registar && order.registar.fio">{{order.registar.fio}}</span>
          </dd>

          <dt *ngIf="order.mailList && order.mailList.length > 0"><span>Список почтовой рассылки</span></dt>
          <dd *ngIf="order.mailList && order.mailList.length > 0">
            <span *ngIf="!order.mailList || order.mailList.length === 0"
                  class="not-specified">отсутствует</span>
            <span *ngFor="let recipient of order.mailList; let last = last;">{{recipient.fio}}{{last ? '' : ', '}}</span>
          </dd>

          <dt *ngIf="order.mailDateTime"><span>Дата и время рассылки</span></dt>
          <dd *ngIf="order.mailDateTime">
            <span *ngIf="!order.mailDateTime" class="not-specified">отсутствует</span>
            <span *ngIf="order.mailDateTime">
                        {{order.mailDateTime | date: "dd.MM.yyyy HH:mm"}}
                    </span>
          </dd>

          <dt><span>Автор создания карточки</span></dt>
          <dd>{{order.createAuthor.fio}}</dd>

          <dt><span>Дата и время создания карточки</span></dt>
          <dd>{{order.createDateTime | date: "dd.MM.yyyy HH:mm"}}</dd>

          <dt *ngIf="order.responsibleDep && order.responsibleDep.departmentFull"><span>Ответственное управление</span></dt>
          <dd *ngIf="order.responsibleDep && order.responsibleDep.departmentFull">
            <span *ngIf="!order.responsibleDep || !order.responsibleDep.departmentFull" class="not-specified">отсутствует</span>
            <span *ngIf="order.responsibleDep && order.responsibleDep.departmentFull">{{order.responsibleDep.departmentFull}}</span>
          </dd>

          <dt *ngIf="order.responsibleExecutor"><span>Ответственный исполнитель</span></dt>
          <dd *ngIf="order.responsibleExecutor"><span>{{order.responsibleExecutor.fio}}</span></dd>

          <dt *ngIf="order.documentComment"><span>Примечание</span></dt>
          <dd *ngIf="order.documentComment">{{order.documentComment}}</dd>

          <dt><span>Публикация на сайте</span></dt>
          <dd>{{order.PublishingSite ? 'Да' : 'Нет'}}</dd>

          <dt *ngIf="order.additionalMaterials && order.additionalMaterials.length">
            <span>Дополнительные материалы</span>
          </dt>
          <dd *ngIf="order.additionalMaterials && order.additionalMaterials.length">
            <div *ngFor="let file of order.additionalMaterials">
              <cdp-ex-file [fileInfo]="{ nameFile: file.fileName,
              idFile:   file.fileID,
							sizeFile: file.fileSize,
							dateFile: file.fileDate,
							signed:   file.fileSigned}" [showSize]="true" [showDate]="true" [checkSign]="true" [downloadBaseHref]="'/filestore'"></cdp-ex-file>
            </div>
          </dd>
        </dl>
      </div>
      <!--<button orderMyAuth="ORDER_DOCUMENT_MAIL_BUTTON"-->
              <!--class="btn btn-sm btn-primary"-->
              <!--(click)="sendMails()"-->
              <!--*ngIf="!orderType.orderMKA"-->
              <!--[disabled]="isSendDisabled || isUpdating || isDeleted">-->
        <!--<span *ngIf="isSending"><i class="glyphicon glyphicon-refresh spinning"></i></span>-->
        <!--Разослать по электронной почте-->
      <!--</button>-->
    </div>
  </div>
  <div error>
    <span class="text-danger">
      <span class="fa fa-times-circle"></span>
      <span> Ошибка при инициализации приложения</span>
    </span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
