<div>
  <div class="ibox-content" *ngFor="let r of reviewInner; let i=index">
    <div class="mob-approve-item">
      <div class="mob-approve-item-num">
        <span>{{i+1}}</span>
      </div>
      <div class="mob-approve-item-content">
        <div class="m-b-xs">
          <div class="semibold">{{r.reviewBy.fio}}</div>
          <div *ngIf="!!r.reviewBy.post">{{r.reviewBy.post}}</div>
        </div>
        <div *ngIf="!!r.reviewFactDate" class="m-b-xs">
          <span><label>{{r.reviewFactDate | date:'dd.MM.yyyy HH:mm'}}</label></span>
        </div>
        <div *ngIf="!!r.reviewNote" class="m-b-xs">
			{{r.reviewNote}}
		</div>
      </div>
    </div>
  </div>
</div>