<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">

            <mggt-order-info [order]="order" [showDocumentText]="showDocumentText"></mggt-order-info>

            <div *ngIf="order.approval.approvalCycle && order.approval.approvalCycle.approvalCycleNum && order.approval.approvalCycle.approvalCycleNum !== '1'">
                <h4 class="m-t-xs">Лист согласования ({{order.approval.approvalCycle.approvalCycleNum}})</h4>
            </div>
            <div *ngIf="order.approval.approvalCycle && (!order.approval.approvalCycle.approvalCycleNum || order.approval.approvalCycle.approvalCycleNum === '1')">
                <h4 class="m-t-xs">Лист согласования</h4>
            </div>
            <mggt-approval-list-old [list]="order.approval.approvalCycle"></mggt-approval-list-old>

            <h4 class="m-t-lg">Проект приказа</h4>

            <div *ngIf="order.draftFiles">
                <cdp-ex-file-manager [files]="[{ nameFile: order.draftFiles.draftFilesName,
								  idFile:   order.draftFiles.draftFilesID,
								  sizeFile: order.draftFiles.draftFilesSize,
								  dateFile: order.draftFiles.draftFilesDate,
								  signed:   order.draftFiles.draftFilesSigned}]"
                                     [showSize]="true"
                                     [showDate]="true"
                                     [folderGuid]="order.folderID"
                                     [downloadBaseHref]="'/filestore'"
                ></cdp-ex-file-manager>
            </div>

            <div style="display: none">
                <cdp-ex-file-manager [files]="[{ nameFile: order.draftFiles.draftFilesName,
                idFile:   order.draftFiles.draftFilesID,
                sizeFile: order.draftFiles.draftFilesSize,
                dateFile: order.draftFiles.draftFilesDate,
                signed:   order.draftFiles.draftFilesSigned}]"
                                     [showSize]="true"
                                     [showDate]="true"
                                     [(openSignDialog)]="openDraftSignDialog"
                                     [(signMobile)]="openMobileDraftSignDialog"
                                     [signable]="true"
                                     [afterSign]="afterDraftSign"
                                     [folderGuid]="order.folderID"

                                     [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
            </div>



            <div style="display: none">
                <cdp-ex-file-manager [files]="[orderFile]"
                                     [showSize]="false"
                                     [showDate]="false"
                                     [(openSignDialog)]="openSignDialog"
                                     [(signMobile)]="openMobileSignDialog"
                                     [signable]="true"
                                     [folderGuid]="order.folderID"
                                     [beforeSign]="beforeSign"
                                     [afterSign]="afterSign" [downloadBaseHref]="'/filestore'"
                ></cdp-ex-file-manager>
            </div>

            <mggt-approval-history-old [history]="order.approvalHistory"></mggt-approval-history-old>

            <h4 class="m-t-lg">Ваше решение</h4>

            <form method="get" class="form-horizontal" name="orderApproveForm">

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Комментарий
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                    <textarea class="form-control our-control"
                              name="approvalNote"
                              rows="2"
                              [(ngModel)]="approvalNote">
                    </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Файл
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <mggt-dropzone [config]="dropzoneConfig"></mggt-dropzone>
                        <div *ngIf="order.approval.approvalCycle?.agreed[loopCounter].fileApproval">
                            <div *ngFor="let file of order.approval.approvalCycle.agreed[loopCounter].fileApproval">
                                <cdp-ex-file-manager [files]="[{ nameFile: file.fileName,
								                  idFile:   file.fileID,
								                  sizeFile: file.fileSize,
								                  dateFile: file.fileDate,
								                  signed:   file.fileSigned}]"
                                                     [showSize]="true"
                                                     [showDate]="true"
                                                     [deletable]="true"
                                                     [onRemove]="deleteApprovalFile" [downloadBaseHref]="'/filestore'"
                                ></cdp-ex-file-manager>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group control-block">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-7 col-md-8 col-sm-9">

                        <button type="button"
                                *ngIf="(checkSign == 'all' || checkSign == 'plugin') && (!approvalState || !order.signingElectronically) && (approvalType.approvalTypeCode !== 'assent')"
                                class="btn btn-sm btn-{{approvalType.buttonYesColor}} m-r-sm"
                                (click)="isMobile=false; agreeAndSendForwardHandler()"
                                [ladda]="agreeing"
                                data-spinner-size="18"
                                data-spinner-color="#FFFFFF"
                                data-style="expand-right"
                                [disabled]="approving || sendingBackToWork || addingApprovals" >
                            <i class="fa m-r-xs fa fa-laptop"></i>Согласовано
                        </button>
                        <button type="button"
                                *ngIf="(checkSign == 'all' || checkSign == 'dss') && (!approvalState || !order.signingElectronically) && (approvalType.approvalTypeCode !== 'assent')"
                                class="btn btn-sm btn-{{approvalType.buttonYesColor}} m-r-sm"
                                (click)="isMobile=true; agreeAndSendForwardHandler()"
                                [ladda]="agreeing"
                                data-spinner-size="18"
                                data-spinner-color="#FFFFFF"
                                data-style="expand-right"
                                [disabled]="approving || sendingBackToWork || addingApprovals" >
                            <i class="fa m-r-xs fa fa-mobile"></i>Согласовано
                        </button>

                        <button type="button"
                                *ngIf="(approvalType.approvalTypeCode === 'assent') && (!approvalState || !order.signingElectronically)"
                                class="btn btn-sm btn-{{approvalType.buttonYesColor}} m-r-sm"
                                (click)="agreeAndSendForwardHandler()"
                                [ladda]="agreeing"
                                data-spinner-size="18"
                                data-spinner-color="#FFFFFF"
                                data-style="expand-right"
                                [disabled]="approving || sendingBackToWork || addingApprovals" >
                            Согласовано
                        </button>


                        <button type="button"
                                *ngIf="(checkSign == 'all' || checkSign == 'plugin') && (approvalState && order.signingElectronically) && (approvalType.approvalTypeCode !== 'assent')"
                                class="btn btn-sm btn-success m-r-sm"
                                (click)="isMobile=false; approveAndSendForward()"
                                [ladda]="approving"
                                data-spinner-size="18"
                                data-spinner-color="#FFFFFF"
                                data-style="expand-right"
                                [disabled]="sendingBackToWork || agreeing || addingApprovals">
                            <i class="fa m-r-xs fa fa-laptop"></i>Утверждено
                        </button>
                        <button type="button"
                                *ngIf="(checkSign == 'all' || checkSign == 'dss') && (approvalState && order.signingElectronically) && (approvalType.approvalTypeCode !== 'assent')"
                                class="btn btn-sm btn-success m-r-sm"
                                (click)="isMobile=true; approveAndSendForward()"
                                [ladda]="approving"
                                data-spinner-size="18"
                                data-spinner-color="#FFFFFF"
                                data-style="expand-right"
                                [disabled]="sendingBackToWork || agreeing || addingApprovals">
                            <i class="fa m-r-xs fa fa-mobile"></i>Утверждено
                        </button>

                        <button type="button"
                                *ngIf="(checkSign == 'none' && approvalType.approvalTypeCode !== 'assent')"
                                class="btn btn-sm btn-success  m-r-sm"
                                ng-disabled="true" >
                            <i class="fa m-r-xs"></i>Обратитесь к администратору
                        </button>

                        <!--button type="button"
                                *ngIf="approvalState && order.signingElectronically"
                                class="btn btn-sm btn-success m-r-sm"
                                (click)="approveAndSendForward()"
                                [ladda]="approving"
                                data-spinner-size="18"
                                data-spinner-color="#FFFFFF"
                                data-style="expand-right"
                                [disabled]="sendingBackToWork || agreeing || addingApprovals"
                        >
                            <i class="fa m-r-xs"></i>Утверждено
                        </button-->



                        <button type="button"
                                class="btn btn-sm btn-{{approvalType.buttonNoColor}} m-r-sm"
                                (click)="sendBackToWork()"
                                [ladda]="sendingBackToWork"
                                data-spinner-size="18"
                                data-spinner-color="#FFFFFF"
                                data-style="expand-right"
                                [disabled]="agreeing || approving || addingApprovals"
                        >
                            <i class="fa m-r-xs"></i>На доработку
                        </button>
                        <button type="button"
                                class="btn btn-sm m-r-sm light-gray"
                                (click)="addApproval()"
                                [disabled]="agreeing || approving || addingApprovals"
                        >
                            <i class="fa m-r-xs"></i>Добавить согласующего
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <div error>
        <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
                приложения</span></span>
    </div>
    <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>
