<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">
            <div>
                <div class="description">
                    <dl class="dl-horizontal">
                        <dt *ngIf="order.documentTypeValue">
                            <span>{{order.documentTypeValue}}</span>
                        </dt>
                        <dd *ngIf="order.documentDate && order.documentNumber">
                            <a uiSref="app.order.document" [uiParams]="{id: order.documentID}">№ {{order.documentNumber}} от {{order.documentDate | date:'dd.MM.yyyy'}}</a>
                        </dd>

                        <dt *ngIf="order.documentContent">
                            <span>Содержание</span>
                        </dt>
                        <dd *ngIf="order.documentContent">{{order.documentContent}}</dd>
                    </dl>

                    <cdp-expanded-section [(expand)]="sentForReviewExpanded" *ngIf="order.review && order.review.length > 0">
                        <span header-slot style="display:inline;">Отправлено на ознакомление</span>
                        <div content-slot>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Кто направил</th>
                                        <th>Кому направил</th>
                                    </tr>
                                </thead>

                                <tbody *ngFor="let r of order.review">
                                    <tr *ngIf="r.reviewBy && r.reviewBy.fio">
                                        <td>
                                            <div style="white-space:pre-wrap;">
                                                <i style="cursor:pointer;font-size:16px;margin-right: 5px" placement="bottom" class="fa fa-user" aria-hidden="true"></i>{{r.sentReviewBy.fio}}
                                            </div>
                                            <div class="gray">{{r.sentReviewBy.post}}</div>
                                        </td>
                                        <td>
                                            <div style="white-space:pre-wrap;">
                                                <i style="cursor:pointer;font-size:16px;margin-right: 5px" placement="bottom" class="fa fa-user" aria-hidden="true"></i>{{r.reviewBy.fio}}</div>
                                            <div class="gray">{{r.reviewBy.post}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </cdp-expanded-section>

                    <cdp-expanded-section [(expand)]="internalInstructionsExpanded" *ngIf="assignments && assignments.length > 0">
                        <span header-slot style="display:inline;">Внутренние поручения</span>
                        <div content-slot>
                            <mggt-order-inner-assignments [assignments]="assignments"></mggt-order-inner-assignments>
                        </div>
                    </cdp-expanded-section>

                    <form class="form-horizontal m-t-lg">
                        <div class="row m-b-md">
                            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Комментарий</label>
                            <div class="col-lg-7 col-md-8 col-sm-9">
                                <textarea class="form-control" [(ngModel)]="reviewNote" name="reviwContent" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="row m-t-lg">
                            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
                            <div class="col-lg-7 col-md-8 col-sm-9 control-block">
                                <button (click)="addEmpl()" class="btn btn-primary m-r-sm">Направить на ознакомление</button>
                                <button (click)="createInstruction()" class="btn btn-primary  m-r-sm">Дать поручение</button>
                                <button (click)="finishTask()" class="btn btn-warning">Ознакомлен</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div error>
        <div style="height: 200px; padding-top: 70px;">
            <h3 class="text-center">
                <i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;Ошибка при формировании карточки задачи</h3>
        </div>
    </div>
    <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>