<div class="inmodal">
    <div class="modal-header">
      <h3 class="modal-title">Выбор сотрудников для ознакомления</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <mggt-select-ldap-users [(model)]="employee" [multiple]="true"
                                [placeholder]=""></mggt-select-ldap-users>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="create()">Добавить</button>
      <button type="button" class="btn btn-warning" (click)="cancel()">Отмена</button>
    </div>
  </div>
  