<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">

      <form method="get" class="form-horizontal" name="orderApproveForm">
        <h4 style="display: flex; align-items: center;">
          <span>
            Срок согласования
            <span *ngIf="!!parallelApprovers.length&&!parallelApprovalDurationCode" class="our-mandatory">*</span>
          </span>
          <ng-select name="parallelApprovalDuration" [items]="approvalDurations" [multiple]="false"
            [closeOnSelect]="true" [hideSelected]="true" bindLabel="Name" bindValue="Code"
            [(ngModel)]="parallelApprovalDurationCode" (change)="parallelApprovalDurationCodeChanged()"
            style="width: 120px; margin-left: 15px; display: inline-block;">
          </ng-select>
        </h4>
      
        <mggt-approval-sublist-edit [list]="parallelApprovers" [approvers]="approverItems" [executives]="[]"
          [approvalTypes]="approvalTypes" [defaultApprovalType]="defaultApprovalType" [editApprovalTerm]="false"
          [approvalDurations]="approvalDurations" [canAdd]="canAddParallel.bind(this)"
          [hasApproval]="hasApproval.bind(this)" (approverAdded)="parallelApproverAdded($event)"
          (approverDeleted)="approverDeleted()" (approverChanged)="approverChanged($event)"
          (approvalTypeChanged)="approvalTypeChanged($event)" (approversSwapped)="approversSwapped()">
        </mggt-approval-sublist-edit>

        <mggt-approval-history [history]="order.approvalHistory"></mggt-approval-history>

        <h4 class="m-t-lg">Проект распорядительного документа</h4>
        <div *ngIf="order.draftFiles">
          <a target="_blank" class="btn btn-primary" style="margin-bottom:10px;" 
            *ngIf="!!draftPath" [href]="domSanitizationService.bypassSecurityTrustUrl(draftPath)">Изменить в Word</a>
          <cdp-ex-file-manager [files]="[{ nameFile: order.draftFiles.draftFilesName,
            idFile:   order.draftFiles.draftFilesID,
            sizeFile: order.draftFiles.draftFilesSize,
            dateFile: order.draftFiles.draftFilesDate,
            signed:   order.draftFiles.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true" 
            [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
          </cdp-ex-file-manager>
        </div>

        <div class="form-group control-block">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button type="button" class="btn btn-sm btn-primary m-r-sm ladda-button"
            [disabled]="!isValidApproval()" (click)="saveAndSendToApproval()"
            [ladda]="sendingToApproval" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-left">
            <i class="fa m-r-xs"></i>Направить документ на согласование
          </button>            
          </div>
        </div>

      </form>

    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
        приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>