<div class="hidden-xs" style="overflow: auto;">
    <div style="min-width:880px;padding-right:30px;">
        <table class="table table-bordered table-responsive table-fixed" style="min-width:850px;margin-right:30px;">
            <thead>
                <tr>
                    <th class="nowrap center" width="110px"></th>
                    <th class="nowrap center" width="50px">№ пп</th>
                    <th class="nowrap center" width="190px">Вид действия</th>
                    <th class="nowrap center">ФИО и должность</th>
                    <th class="nowrap center" width="340px">Комментарий</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agreed of agreed; let index = index;">
                    <td>
                        <button type="button" class="btn btn-xs btn-default"
                                (click)="delApproval(index)">
                            <i class="fa fa-minus m-r-xs"></i>
                        </button>
                        <button type="button" class="btn btn-xs btn-default"
                                ng-if="!$first"
                                (click)="swapApprovals(index, index - 1)">
                            <i class="fa fa-arrow-up m-r-xs"></i>
                        </button>
                        <button type="button" class="btn btn-xs btn-default"
                                ng-if="!$last"
                                (click)="swapApprovals(index, index + 1)">
                            <i class="fa fa-arrow-down m-r-xs"></i>
                        </button>
                    </td>
                    <td>{{agreed.approvalNum}}</td>
                    <td>
                        <ng-select name="approvalType"
                                   [items]="getApprovalTypes(index)"
                                   [multiple]="false"
                                   [closeOnSelect]="true"
                                   [hideSelected]="true"
                                   bindLabel="approvalType"
                                   bindValue="approvalTypeCode"
                                   [(ngModel)]="agreed.approvalTypeCode"
                                   (change)="approvalTypeChanged(index)">
                        </ng-select>
                    </td>
                    <td>
                        <div *ngIf="agreed.approvalTypeCode === 'assent'">
                            <ng-select name="agreedBy" [items]="assentApproversNotUsed"
                                       [multiple]="false" class="multiline-select"
                                       [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost"
                                       [(ngModel)]="agreed.agreedBy"
                                       [dropdownPosition]="'bottom'" appendTo="body"
                                       (change)="approverChanged()"></ng-select>
                        </div>
                        <div *ngIf="agreed.approvalTypeCode === 'agreed'">
                            <ng-select name="agreedBy" [items]="agreedApproversNotUsed"
                                       [multiple]="false" class="multiline-select"
                                       [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost"
                                       [(ngModel)]="agreed.agreedBy"
                                       [dropdownPosition]="'bottom'" appendTo="body"
                                       (change)="approverChanged()"></ng-select>
                        </div>
                    </td>
                    <td>
                        <textarea class="form-control" [(ngModel)]="agreed.note" name="note"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-xs btn-default"
                                (click)="addApproval()">
                            <i class="fa fa-plus m-r-xs"></i>
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="visible-xs">
  <div *ngFor="let agreed of agreed; let index = index;" class="panel panel-default">
    <div class="panel-heading"><button (click)="delApproval(index)" class="btn btn-default">Убрать</button></div>
    <div class="panel-body">
      <div class="form-group">
          <label class="control-label">
              Вид действия
          </label>
          <div>
              <ng-select name="approvalType"
                         [items]="getApprovalTypes(index)"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="approvalType"
                         bindValue="approvalTypeCode"
                         [(ngModel)]="agreed.approvalTypeCode"
                         (change)="approvalTypeChanged(index)">
              </ng-select>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label">
              ФИО и должность
          </label>

          <div *ngIf="agreed.approvalTypeCode === 'assent'">
              <ng-select name="agreedBy" [items]="assentApproversNotUsed"
                         dropdownPosition = "bottom"
                         [multiple]="false" class="multiline-select"
                         [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost"
                         [(ngModel)]="agreed.agreedBy"
                         (change)="approverChanged()" ></ng-select>
          </div>
          <div *ngIf="agreed.approvalTypeCode === 'agreed'">
              <ng-select name="agreedBy" [items]="agreedApproversNotUsed"
                         [multiple]="false" class="multiline-select"
                         [closeOnSelect]="true" [hideSelected]="true" bindLabel="fioPost"
                         [(ngModel)]="agreed.agreedBy"
                         (change)="approverChanged()" ></ng-select>
          </div>
          <!--<ng-select name="agreedBy"
                     class="multiline-select"
                     [items]="approvers"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="fioPost"
                     (change)="getAprovers()"
                     [(ngModel)]="agreed.agreedBy">
          </ng-select>-->
      </div>

      <div class="form-group">
        <label class="control-label">
          Комментарий
        </label>
        <div>
          <textarea class="form-control" [(ngModel)]="agreed.note" name="note"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
  <button (click)="addApproval()" class="btn btn-default">Новый согласующий</button>
</div>
