<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Тип документа
    </label>
    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
        {{order.documentTypeValue}}
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Год документа
    </label>
    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
        {{order.documentYear}}
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Содержание <span class="our-mandatory">*</span>
    </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <textarea class="form-control our-control" name="documentContent" rows="2" [(ngModel)]="order.documentContent"
                  required=""></textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Тема
    </label>
    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
        {{order.documentThemeValue}}
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Текст приказа </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <textarea class="form-control our-control" rows="2" [(ngModel)]="order.documentText"></textarea>
    </div>
</div>

<!-- <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Адрес </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <input name="address" type="text" class="form-control" [(ngModel)]="order.address">
    </div>
</div> -->

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Требуется публикация на сайте </label>
    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
        <input cdp-icheck type="checkbox" [(ngModel)]="order.PublishingSite" name="publishing"
               [value]="orderType.publishing">
    </div>
</div>

<!-- <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Номер связанного документа </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <input name="approvedDocumentNumber" type="text" class="form-control"
               [(ngModel)]="order.approvedDocumentNumber">
    </div>
</div> -->

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Аннулируемый документ </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <ng-select [items]="canceledDocuments$ | async" bindLabel="docName" [multiple]="false" [hideSelected]="true"
                   [loading]="canceledDocumentsLoading" [typeahead]="canceledDocumentsInput$"
                   placeholder="Аннулируемый документ" [(ngModel)]="order.canceledDocument" name="canceledDocument">
        </ng-select>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Уточняемый документ</label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <ng-select [items]="updatedDocuments$ | async" bindLabel="docName" [multiple]="true" [hideSelected]="true"
                   [loading]="updatedDocumentsLoading" [typeahead]="updatedDocumentsInput$" placeholder="Уточняемый документ"
                   [(ngModel)]="order.updatedDocument" name="updatedDocument">
        </ng-select>
    </div>
</div>

<div *ngIf="preregFields && isPrereg">

    <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Регистрационный номер
        </label>
        <div class="col-lg-4 col-md-6 col-sm-9">
            <div class="input-group">
                <input name="documentNumber" [(ngModel)]="order.documentNumber" type="text" class="form-control"
                       disabled>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" [disabled]="!hasPreregPermission"
                            (click)="generateDocumentNumber()">Зарегистрировать</button>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Дата документа </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
            <cdp-date-selector [(model)]="order.documentDate"></cdp-date-selector>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Регистратор </label>
        <div class="col-lg-7 col-md-8 col-sm-9">
            <input name="registar" type="text" class="form-control" [(ngModel)]="order.registar"
                   placeholder="{{account.fio}}" value="{{account}}" disabled>
        </div>
    </div>

</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Дата окончания действия документа </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <cdp-date-selector [(model)]="order.documentExpireDate"></cdp-date-selector>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Руководитель, утверждающий документ <span
            class="our-mandatory">*</span>
    </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <ng-select name="head" [items]="executives" [multiple]="false" [closeOnSelect]="true"
                   [hideSelected]="true" bindLabel="fio" [placeholder]="'Руководитель'" [(ngModel)]="order.head"
                   [clearable]="false"
                   (change)="headChanged()">
        </ng-select>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Исполнители <span class="our-mandatory">*</span></label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <ng-select name="executor" [items]="executors$ | async" [multiple]="true" [closeOnSelect]="true"
                   [hideSelected]="true" bindLabel="fioPostPhone" [typeahead]="executorsInput$" [placeholder]="'Исполнители'"
                   [(ngModel)]="order.executor" [required]="">
        </ng-select>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Группы рассылки </label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <ng-select name="emailGroups" [items]="emailGroups" [multiple]="true" [closeOnSelect]="true"
                   [hideSelected]="true" bindLabel="name" [placeholder]="'Группы рассылки'" (add)="addEmailGroup($event)"
                   [(ngModel)]="selectedEmailGroups">
        </ng-select>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Список почтовой рассылки <span
            class="our-mandatory">*</span></label>
    <div class="col-lg-7 col-md-8 col-sm-9">
        <ng-select name="mailList" [items]="subscribers$ | async" [multiple]="true" [required]="true"
                   [hideSelected]="true" bindLabel="fioEmail" [typeahead]="subscribersInput$"
                   [placeholder]="'Введите 2 символа, чтобы начать поиск'" [(ngModel)]="order.mailList">
        </ng-select>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Подписание в электронном виде</label>
    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
        <input cdp-icheck type="checkbox" [(ngModel)]="order.signingElectronically" disabled="true">
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Примечание</label>
    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
        <textarea class="form-control our-control" rows="2" [(ngModel)]="order.documentComment">
        </textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дополнительные материалы</label>
    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
        <cdp-ex-file-manager [files]="additionalMaterials" [fileType]="'default'" [downloadable]="true"
                             [folderGuid]="order.folderID" extPattern="docx, doc, xls, xlsx, pdf" [deletable]="true"
                             [downloadable]="true" [downloadBlank]="true" (onChanged)="changeAdditionalMaterials()"
                             [downloadBaseHref]="'/filestore'" (onRemove)="deleteAdditionalMaterials($event)">
        </cdp-ex-file-manager>
    </div>
</div>
