<div class="table-responsive" *ngIf="!loading">
  <table class="table table-striped m-b-none">
    <thead>
      <tr>
        <th>Статус</th>
        <th>Дата</th>
        <th>Номер</th>
        <th>Автор</th>
        <th>Содержание</th>
        <th>Ответственный</th>
        <th>Приоритет</th>
        <th>Исполнение (план)</th>
        <th>Исполнение (факт)</th>
        <th>Дата принятия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>
          <a href="/sdo/instruction/#/app/instruction/instruction/card/{{item.sys_documentId}}" target="_blank">
            <span class="label label-{{getColor(item.statusCode, 'InstructionStatus')}}">
              {{item.statusName}}
            </span>
          </a>
        </td>
        <td>
          <a href="/sdo/instruction/#/app/instruction/instruction/card/{{item.sys_documentId}}" target="_blank">
            {{item.beginDate | date: 'dd.MM.yyyy'}}
          </a>
        </td>
        <td>
          <a href="/sdo/instruction/#/app/instruction/instruction/card/{{item.sys_documentId}}" target="_blank">
            {{item.instructionNumber}}
          </a>
        </td>
        <td>
          <a href="/sdo/instruction/#/app/instruction/instruction/card/{{item.sys_documentId}}" target="_blank">
            {{item.creatorFioFull}}
          </a>
        </td>
        <td>
          <a href="/sdo/instruction/#/app/instruction/instruction/card/{{item.sys_documentId}}" target="_blank">
            {{item.content}}
          </a>
        </td>
        <td>
          <a href="/sdo/instruction/#/app/instruction/instruction/card/{{item.sys_documentId}}" target="_blank">
            {{item.executorFioFull}}
          </a>
        </td>
        <td>
          <a href="/sdo/instruction/#/app/instruction/instruction/card/{{item.sys_documentId}}" target="_blank">
            <span class="text-{{getColor(item.priorityCode, 'InstructionPriority')}}">
              {{item.priorityName}}
            </span>
          </a>
        </td>
        <td>
          <a href="/sdo/instruction/#/app/instruction/instruction/card/{{item.sys_documentId}}" target="_blank">
            {{item.planDate | date: 'dd.MM.yyyy'}}
          </a>
        </td>
        <td>
          <a href="/sdo/instruction/#/app/instruction/instruction/card/{{item.sys_documentId}}" target="_blank">
            {{item.reportDate | date: 'dd.MM.yyyy HH:mm'}}
          </a>
        </td>
        <td>
          <div style="white-space: pre-wrap">{{getAcceptDate(item)}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf="loading" class="m-t-lg m-b-lg">
  <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
</div>