<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">
            <div class="m-t-md">
                <div class="description">
                    <table class="table animated fadeIn m-t-sm">
                        <thead>
                            <tr>
                                <th>Статус</th>
                                <th>Дата</th>
                                <th>Номер</th>
                                <th>Содержание</th>
                                <th>Ответственный</th>
                                <th>Приоритет</th>
                                <th>Исполнение (план)</th>
                                <th>Исполнение (факт)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let assignment of assignments">
                                <td>
                                    <a href="{{assignment.link}}">
                                        <span class="label label-{{statuses[assignment.condition]}}">
                                            {{assignment.condition}}
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{assignment.link}}">
                                        {{assignment.docDateInst | date: 'dd.MM.yyyy HH:mm'}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{assignment.link}}">
                                        <i *ngIf="assignment.privateInst === 'true'" class="fa fa-handshake-o" aria-hidden="true"></i>
                                        {{assignment.docNumberInst}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{assignment.link}}">
                                        <div *ngIf="assignment.contentInst" class="m-b-xs">{{assignment.contentInst}}</div>
                                        <div *ngIf="assignment.themeInst" class="m-b-xs">{{assignment.themeInst}}</div>
                                        <div *ngIf="assignment.difficultyInst">{{assignment.difficultyInst}}</div>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{assignment.link}}">
                                        {{assignment.executorInst}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{assignment.link}}">
                                        <span class="text-{{priorities[assignment.priorityInst]}}">
                                            {{assignment.priorityInst}}
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{assignment.link}}">
                                        {{assignment.planDateInst | date: 'dd.MM.yyyy HH:mm'}}
                                    </a>
                                    <span *ngIf="assignment.primaryDateInst">
                                        (перенесено с {{assignment.primaryDateInst | date: 'dd.MM.yyyy HH:mm'}})
                                    </span>
                                </td>
                                <td>
                                    <a href="{{assignment.link}}">
                                        {{assignment.reportDateInst | date: 'dd.MM.yyyy HH:mm'}}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div error>
        <div class="m-t-md">
            <span class="fa fa-times-circle text-danger"></span>
            <span> Ошибка</span>
        </div>
    </div>
    <div loading>
        <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>

