<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">

            <mggt-order-info [order]="order"></mggt-order-info>

            <div class="m-t-md">
                <h4>Проект приказа</h4>
            </div>

            <div *ngIf="order.draftFiles">
                <cdp-ex-file [fileInfo]="{ nameFile: order.draftFiles.draftFilesName,
								  idFile:   order.draftFiles.draftFilesID,
								  sizeFile: order.draftFiles.draftFilesSize,
								  dateFile: order.draftFiles.draftFilesDate,
								  signed:   order.draftFiles.draftFilesSigned}"
                             [showSize]="true" 
                             [checkSign]="true" 
                             [showDate]="true" [downloadBaseHref]="'/filestore'"
                ></cdp-ex-file>
            </div>

            <div class="m-t-md" *ngIf="order.draftFilesRegInfo">
                <h4>Приказ на подпись</h4>

                <div>
                    <cdp-ex-file [fileInfo]="{ nameFile: order.draftFilesRegInfo.fileName,
								          idFile:   order.draftFilesRegInfo.fileID,
								          sizeFile: order.draftFilesRegInfo.fileSize,
								          dateFile: order.draftFilesRegInfo.fileDate,
								          signed:   order.draftFilesRegInfo.fileSigned}"
                                 [showSize]="true" 
                                 [checkSign]="true" 
                                 [showDate]="true" [downloadBaseHref]="'/filestore'"
                    ></cdp-ex-file>
                </div>
            </div>

            <div class="m-t-md"
                 *ngIf="order.approval.approvalCycle.approvalCycleNum && order.approval.approvalCycle.approvalCycleNum !== '1'">
                <h4>Лист согласования ({{order.approval.approvalCycle.approvalCycleNum}})</h4>
            </div>
            <div class="m-t-md"
                 *ngIf="!order.approval.approvalCycle.approvalCycleNum || order.approval.approvalCycle.approvalCycleNum === '1'">
                <h4>Лист согласования</h4>
            </div>
            <!--TODO: reporter-->
            <!--<div class="m-b-xs">-->
            <!--<a type="button" class="btn btn-sm btn-success" [href]="getApprovalReportUrl()" target="_blank">-->
            <!--<i class="fa m-r-xs"></i>Сформировать лист согласования-->
            <!--</a>-->
            <!--</div>-->
            <mggt-approval-list [list]="order.approval.approvalCycle"></mggt-approval-list>

            <mggt-approval-history [history]="order.approvalHistory"></mggt-approval-history>

            <h4 class="m-t-lg">Ваше решение</h4>

            <form method="get" class="form-horizontal">

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Дата подписания
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <cdp-date-selector [(model)]="signingFactDate">
                        </cdp-date-selector>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <button type="button" class="btn btn-sm btn-success ladda-button" (click)="signed()"
                                [ladda]="sendingToRegistration" data-spinner-size="18" data-spinner-color="#FFFFFF"
                                data-style="expand-right"
                        >
                            <i class="fa m-r-xs"></i>Документ подписан
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <div error>
        <span class="text-danger"><span
                class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span></span>
    </div>
    <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>    