<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">

      <mggt-order-info [order]="order" [showDocumentText]="showDocumentText"></mggt-order-info>

      <h4 class="m-t-lg" *ngIf="order.attach||order.attachWord || order.draftFilesWithoutAttWord">Документы по проекту РД</h4>
      <div class="description" *ngIf="order.attach||order.attachWord || order.draftFilesWithoutAttWord">
        <dl class="dl-horizontal">
          <dt *ngIf="order.draftFilesWithoutAttWord">
            <span>Проект РД без приложения</span>
          </dt>
          <dd *ngIf="order.draftFilesWithoutAttWord">
            <cdp-ex-file-manager [files]="[{ nameFile: order.draftFilesWithoutAttWord.draftFilesName,
              idFile:   order.draftFilesWithoutAttWord.draftFilesID,
              sizeFile: order.draftFilesWithoutAttWord.draftFilesSize,
              dateFile: order.draftFilesWithoutAttWord.draftFilesDate,
              signed:   order.draftFilesWithoutAttWord.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true"
              [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
            </cdp-ex-file-manager>
          </dd>

          <dt *ngIf="order.attach||order.attachWord">
            <span>Приложение</span>
          </dt>
          <dd *ngIf="order.attachWord">
            <cdp-ex-file-manager [files]="[{ nameFile: order.attachWord.draftFilesName,
              idFile:   order.attachWord.draftFilesID,
              sizeFile: order.attachWord.draftFilesSize,
              dateFile: order.attachWord.draftFilesDate,
              signed:   order.attachWord.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true"
              [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
            </cdp-ex-file-manager>
          </dd>
          <dd *ngIf="order.attach && !order.attachWord">
            <cdp-ex-file-manager [files]="[{ nameFile: order.attach.draftFilesName,
              idFile:   order.attach.draftFilesID,
              sizeFile: order.attach.draftFilesSize,
              dateFile: order.attach.draftFilesDate,
              signed:   order.attach.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true"
              [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
            </cdp-ex-file-manager>
          </dd>
        </dl>
      </div>

      <div class="hidden-xs hidden-sm">
        <div
          *ngIf="order.approval.approvalCycle && order.approval.approvalCycle.approvalCycleNum && order.approval.approvalCycle.approvalCycleNum !== '1'">
          <h4 class="m-t-xs">Лист согласования ({{order.approval.approvalCycle.approvalCycleNum}})</h4>
        </div>
        <div
          *ngIf="order.approval.approvalCycle && (!order.approval.approvalCycle.approvalCycleNum || order.approval.approvalCycle.approvalCycleNum === '1')">
          <h4 class="m-t-xs">Лист согласования</h4>
        </div>
        <mggt-approval-list [list]="order.approval.approvalCycle"></mggt-approval-list>
      </div>

      <div class="visible-xs visible-sm">
        <cdp-expanded-section [expand]="showApprovalList">
          <span header-slot style="display:inline;">
            Лист согласования
          </span>
          <div content-slot>
            <mggt-approval-list [list]="order.approval.approvalCycle"></mggt-approval-list>
          </div>
        </cdp-expanded-section>
      </div>

      <h4 class="m-t-lg">Проект приказа</h4>

      <div *ngIf="order.draftFiles">
        <cdp-ex-file-manager [files]="[{ nameFile: order.draftFiles.draftFilesName,
          idFile:   order.draftFiles.draftFilesID,
          sizeFile: order.draftFiles.draftFilesSize,
          dateFile: order.draftFiles.draftFilesDate,
          signed:   order.draftFiles.draftFilesSigned}]" [showSize]="true" [showDate]="true" [checkSign]="true"
          [folderGuid]="order.folderID" [downloadBaseHref]="'/filestore'">
        </cdp-ex-file-manager>
      </div>

      <div style="display: none" *ngIf="order.draftFiles">
        <cdp-ex-file-manager [files]="[{ nameFile: order.draftFiles.draftFilesName,
          idFile:   order.draftFiles.draftFilesID,
          sizeFile: order.draftFiles.draftFilesSize,
          dateFile: order.draftFiles.draftFilesDate,
          signed:   order.draftFiles.draftFilesSigned}]" [showSize]="true" [showDate]="true" [signable]="true"
          [(openSignDialog)]="openDraftSignDialog" [(signMobile)]="openMobileDraftSignDialog"
          [folderGuid]="order.folderID" [afterSign]="afterDraftSign" [downloadBaseHref]="'/filestore'">
        </cdp-ex-file-manager>
      </div>

      <div style="display: none">
        <cdp-ex-file-manager [files]="[orderFile]" [showSize]="false" [showDate]="false"
          [(openSignDialog)]="openSignDialog" [signable]="true"  [(signMobile)]="openMobileSignDialog" [folderGuid]="order.folderID"
          [beforeSign]="beforeSign" [afterSign]="afterSign" [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
      </div>

      <mggt-approval-history [history]="order.approvalHistory"></mggt-approval-history>

      <h4 class="m-t-lg">Ваше решение</h4>

      <form method="get" class="form-horizontal" name="orderApproveForm">

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Комментарий
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <textarea class="form-control our-control" name="approvalNote" rows="2" [(ngModel)]="approvalNote">
                    </textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Файл
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <mggt-dropzone [config]="dropzoneConfig"></mggt-dropzone>
            <div *ngIf="fileApproval">
              <div *ngFor="let file of fileApproval">
                <cdp-ex-file-manager [files]="[{  nameFile: file.fileName,
								                  idFile:   file.fileID,
								                  sizeFile: file.fileSize,
								                  dateFile: file.fileDate,
								                  signed:   file.fileSigned}]" [showSize]="true" [showDate]="true" [deletable]="true" [checkSign]="true"
                  [onRemove]="deleteApprovalFile" [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group control-block">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-7 col-md-8 col-sm-9">

            <button type="button"
              *ngIf="(checkSign == 'all' || checkSign == 'plugin') && (!approvalState || !order.signingElectronically) && (approvalType.approvalTypeCode !== 'assent')"
              class="btn btn-sm btn-{{approvalType.buttonYesColor}} m-r-sm ladda-button"
              (click)="isMobile=false; agreeAndSendForwardHandler()"
              [ladda]="agreeing" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
              [disabled]="approving || sendingBackToWork || addingApprovals">
              <i class="fa m-r-xs fa fa-laptop"></i>Согласовано
            </button>
            <button type="button"
              *ngIf="(checkSign == 'all' || checkSign == 'dss') && (!approvalState || !order.signingElectronically) && (approvalType.approvalTypeCode !== 'assent')"
              class="btn btn-sm btn-{{approvalType.buttonYesColor}} m-r-sm ladda-button"
              (click)="isMobile=true; agreeAndSendForwardHandler()" [ladda]="agreeing" data-spinner-size="18"
              data-spinner-color="#FFFFFF" data-style="expand-right"
              [disabled]="approving || sendingBackToWork || addingApprovals">
              <i class="fa m-r-xs fa fa-mobile"></i>Согласовано
            </button>

            <button type="button"
              *ngIf="(approvalType.approvalTypeCode === 'assent') && (!approvalState || !order.signingElectronically)"
              class="btn btn-sm btn-{{approvalType.buttonYesColor}} m-r-sm ladda-button" (click)="agreeAndSendForwardHandler()"
              [ladda]="agreeing" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
              [disabled]="approving || sendingBackToWork || addingApprovals">
              Согласовано
            </button>


            <button type="button"
              *ngIf="(checkSign == 'all' || checkSign == 'plugin') && (approvalState && order.signingElectronically) && (approvalType.approvalTypeCode !== 'assent')"
              class="btn btn-sm btn-success m-r-sm ladda-button" (click)="isMobile=false; approveAndSendForward()" [ladda]="approving"
              data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
              [disabled]="sendingBackToWork || agreeing || addingApprovals">
              <i class="fa m-r-xs fa fa-laptop"></i>Утверждено
            </button>
            <button type="button"
              *ngIf="(checkSign == 'all' || checkSign == 'dss') && (approvalState && order.signingElectronically) && (approvalType.approvalTypeCode !== 'assent')"
              class="btn btn-sm btn-success m-r-sm ladda-button" (click)="isMobile=true; approveAndSendForward()" [ladda]="approving"
              data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
              [disabled]="sendingBackToWork || agreeing || addingApprovals">
              <i class="fa m-r-xs fa fa-mobile"></i>Утверждено
            </button>

            <button type="button" *ngIf="(checkSign == 'none' && approvalType.approvalTypeCode !== 'assent')"
              class="btn btn-sm btn-success  m-r-sm" [disabled]="true">
              <i class="fa m-r-xs"></i>Обратитесь к администратору
            </button>

            <button type="button" class="btn btn-sm btn-{{approvalType.buttonNoColor}} m-r-sm ladda-button"
              (click)="preSendToWork()" [ladda]="sendingBackToWork" data-spinner-size="18" data-spinner-color="#FFFFFF"
              data-style="expand-right" [disabled]="agreeing || approving || addingApprovals">
              <i class="fa m-r-xs"></i>На доработку
            </button>
            <button type="button" class="btn btn-sm m-r-sm ladda-button light-gray"
                    (click)="addApproval()"  *ngIf="isAllowedAddingApprovals"
                    [disabled]="agreeing || approving || addingApprovals || approvalDepth >= 6">
              <i class="fa m-r-xs"></i>Добавить согласующего
            </button>
          </div>
        </div>

      </form>

    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
        приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
