



<!--*ngIf="!$localStorage.isMobile"-->
<mggt-desktop-approval-list-add [(agreed)]="agreed" (agreedChanged)="agreedChanged.emit()"
                                [documentTypeCode]="documentTypeCode"
                                [except]="except" [systemCode]="systemCode" [dueDate]="dueDate" [approvalNum]="approvalNum"
                                ></mggt-desktop-approval-list-add>
<!--<mggt-mobile-approval-list [list]="list" *ngIf="$localStorage.isMobile"></mggt-mobile-approval-list>-->
