<div class="btn-group" dropdown>
  <button type="button" id="sorting-button" class="btn btn-sm btn-white" (click)="changeValue()"><i
          class="fa fa-sort-amount-{{sorting.value}}"></i> {{sorting.text}}
  </button>
  <button id="button-sorting" type="button" class="btn btn-sm btn-white dropdown-toggle" dropdownToggle
          aria-controls="dropdown-sorting"><span class="caret"></span></button>
  <ul id="dropdown-sorting" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-sorting">
    <li role="menuitem"><a (click)="change('docDate', 'desc', 'По дате РД')">По дате РД (по убыванию)</a></li>
    <li role="menuitem"><a (click)="change('docDate', 'asc', 'По дате РД')">По дате РД (по возрастанию)</a></li>
    <li class="divider"></li>
    <li role="menuitem"><a (click)="change('docNumberSort', 'desc', 'По номеру РД')">По номеру РД (по убыванию)</a></li>
    <li role="menuitem"><a (click)="change('docNumberSort', 'asc', 'По номеру РД')">По номеру РД (по возрастанию)</a></li>
  </ul>
</div>
