<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div class="ibox-content mob-related-item" *ngFor="let doc of relatedDocuments">
      <div class="mob-related-item-type">
        <h4>{{rdLinkTypes[doc.type]}}</h4>
      </div>
      <div class="mob-related-item-content">
        <div class="related-type m-b-xs">
          {{doc.order.documentDate | date: 'dd.MM.yyyy'}}

          <span class="pull-right">{{doc.order.documentNumber}}</span>
        </div>
        <div class="m-b-xs">
          <a uiSref="app.order.document" [uiParams]="{id: doc.order.documentID}">
            {{doc.order.documentTypeValue}}
          </a>
          <br *ngIf="doc.order.documentTypeValue" />
          <h4>{{doc.order.documentContent}}</h4>
        </div>
        <div class="m-b-xs">
          <cdp-ex-file *ngIf="doc.order.files && doc.order.files[0]" [fileInfo]="{ nameFile: doc.order.files[0].fileName,
                idFile:   doc.order.files[0].fileID,
                sizeFile: doc.order.files[0].fileSize,
                dateFile: doc.order.files[0].fileDate,
                signed:   doc.order.files[0].fileSigned}" [showSize]="true" [showDate]="true" [checkSign]="true" 
            [downloadBaseHref]="'/filestore'"></cdp-ex-file>
          <cdp-ex-file *ngIf="(!doc.order.files || !doc.order.files[0]) && doc.order.draftFiles" [fileInfo]="{ nameFile: doc.order.draftFiles.draftFilesName,
                idFile:   doc.order.draftFiles.draftFilesID,
                sizeFile: doc.order.draftFiles.draftFilesSize,
                dateFile: doc.order.draftFiles.draftFilesDate,
                signed:   doc.order.draftFiles.draftFilesSigned}" [checkSign]="true" [showSize]="true" [showDate]="true"
            [downloadBaseHref]="'/filestore'"></cdp-ex-file>

          <span class="label label-{{doc.order.documentStatusColor}}">
            {{rdStatus[doc.order.documentStatusCode]}}
          </span>
        </div>
      </div>
    </div>
    <span *ngIf="relatedDocuments.length === 0" class="text-danger ng-hide" aria-hidden="true">
      <span class="fa fa-times-circle"></span>
      <span>Связанные документы отсутствуют</span>
    </span>
  </div>
  <div error>
    <div class="m-t-md">
      <span class="fa fa-times-circle text-danger"></span>
      <span> Ошибка</span>
    </div>
  </div>
  <div loading>
    <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>