// mggt-mobile-order-related {
  .ibox-content.mob-related-item {
    margin-left: -20px;
    margin-right: -20px;

    padding: 15px 20px 20px 20px !important;
    border-width: 1px 0 0 0 !important;

    .related-type {
      max-width: 180px;
    }

    .mob-related-item-num {
      padding-right: 15px;
    }
    .mob-related-item-content {
      .approval-type {
        color: #999b9c;
      }
    }

    &:last-child {
      border-bottom-width: 1px !important;
    }
  }
// }

