<table class="table search-result-table m-t-md" style="font-size:13px;color: #676a6c;">
    <thead>
    <tr style="border-top: 1px solid #f0f0f0;font-weight:600;">
        <th style="font-weight: 600">
         <span class="m-r-sm" style="margin-right: 5px;" data-info="fileID">
              <span *ngIf="!sorting || sorting.name !== 'fileID'" style="white-space: nowrap"
                    (click)="sortingChanged('fileID', 'asc', 'Файл')">Файл</span>
              <span *ngIf="sorting.name === 'fileID' && sorting.value === 'asc'" style="white-space: nowrap"
                    (click)="sortingChanged('fileID', 'desc', 'Файл')">Файл <span
                      class="fa fa-angle-up"></span></span>
              <span *ngIf="sorting.name === 'fileID' && sorting.value === 'desc'" style="white-space: nowrap"
                    (click)="sortingChanged('fileID', 'asc', 'Файл')">Файл <span
                      class="fa fa-angle-down"></span></span>
          </span>
        </th>
        <th style="font-weight: 600">
         <span class="m-r-sm" style="margin-right: 5px;" data-info="mailDateTime">
              <span *ngIf="!sorting || sorting.name !== 'mailDateTime'" style="white-space: nowrap"
                    (click)="sortingChanged('mailDateTime', 'asc', 'Рассылка')">Рассылка</span>
              <span *ngIf="sorting.name === 'mailDateTime' && sorting.value === 'asc'" style="white-space: nowrap"
                    (click)="sortingChanged('mailDateTime', 'desc', 'Рассылка')">Рассылка <span
                      class="fa fa-angle-up"></span></span>
              <span *ngIf="sorting.name === 'mailDateTime' && sorting.value === 'desc'" style="white-space: nowrap"
                    (click)="sortingChanged('mailDateTime', 'asc', 'Рассылка')">Рассылка <span
                      class="fa fa-angle-down"></span></span>
          </span>
        </th>
        <th style="font-weight: 600">
         <span class="m-r-sm" style="margin-right: 5px;" data-info="docType">
              <span *ngIf="!sorting || sorting.name !== 'docType'" style="white-space: nowrap"
                    (click)="sortingChanged('docType', 'asc', 'Тип документа')">Тип документа</span>
              <span *ngIf="sorting.name === 'docType' && sorting.value === 'asc'"
                    style="white-space: nowrap"
                    (click)="sortingChanged('docType', 'desc', 'Тип документа')">Тип документа <span
                      class="fa fa-angle-up"></span></span>
              <span *ngIf="sorting.name === 'docType' && sorting.value === 'desc'"
                    style="white-space: nowrap"
                    (click)="sortingChanged('docType', 'asc', 'Тип документа')">Тип документа <span
                      class="fa fa-angle-down"></span></span>
          </span>
        </th>
        <th style="font-weight: 600">
         <span class="m-r-sm" style="margin-right: 5px;" data-info="docDate">
              <span *ngIf="!sorting || sorting.name !== 'docDate'" style="white-space: nowrap"
                    (click)="sortingChanged('docDate', 'asc', 'Дата')">Дата</span>
              <span *ngIf="sorting.name === 'docDate' && sorting.value === 'asc'" style="white-space: nowrap"
                    (click)="sortingChanged('docDate', 'desc', 'Дата')">Дата <span
                      class="fa fa-angle-up"></span></span>
              <span *ngIf="sorting.name === 'docDate' && sorting.value === 'desc'" style="white-space: nowrap"
                    (click)="sortingChanged('docDate', 'asc', 'Дата')">Дата <span
                      class="fa fa-angle-down"></span></span>
          </span>
        </th>
        <th style="font-weight: 600">
          <span class="m-r-sm" style="margin-right: 5px;" data-info="docNumberSort">
              <span *ngIf="!sorting || sorting.name !== 'docNumberSort'" style="white-space: nowrap"
                    (click)="sortingChanged('docNumberSort', 'asc', 'Номер')">Номер</span>
              <span *ngIf="sorting.name === 'docNumberSort' && sorting.value === 'asc'" style="white-space: nowrap"
                    (click)="sortingChanged('docNumberSort', 'desc', 'Номер')">Номер <span
                      class="fa fa-angle-up"></span></span>
              <span *ngIf="sorting.name === 'docNumberSort' && sorting.value === 'desc'" style="white-space: nowrap"
                    (click)="sortingChanged('docNumberSort', 'asc', 'Номер')">Номер <span
                      class="fa fa-angle-down"></span></span>
          </span>
        </th>
        <th style="font-weight: 600">Содержание</th>
        <th style="font-weight: 600">
         <span class="m-r-sm" style="margin-right: 5px;" data-info="docStatus">
              <span *ngIf="!sorting || sorting.name !== 'docStatus'" style="white-space: nowrap"
                    (click)="sortingChanged('docStatus', 'asc', 'Статус')">Статус</span>
              <span *ngIf="sorting.name === 'docStatus' && sorting.value === 'asc'" style="white-space: nowrap"
                    (click)="sortingChanged('docStatus', 'desc', 'Статус')">Статус <span
                      class="fa fa-angle-up"></span></span>
              <span *ngIf="sorting.name === 'docStatus' && sorting.value === 'desc'" style="white-space: nowrap"
                    (click)="sortingChanged('docStatus', 'asc', 'Статус')">Статус <span
                      class="fa fa-angle-down"></span></span>
          </span>
        </th>
        <!-- <th style="font-weight: 600">Согласующий</th> -->
    </tr>
    </thead>
    <tbody *ngIf="!loading">
    <tr *ngFor="let d of searchResult.docs">
        <td>
            <div *ngIf="d.fileName">
                <a href="{{getFileLink(d.fileID)}}" class="text-default" title="{{d.fileName}}">
                    <cdp-ex-file-icon [nameFile]="d.fileName"></cdp-ex-file-icon>
                </a>
            </div>
        </td>
        <td>
            <i *ngIf="d.mailDateTime" class="fa fa-check-square text-success"
               style="font-size:16px;"></i>
            <i *ngIf="!d.mailDateTime" class="fa fa-minus text-danger" style="font-size:16px;"></i>
        </td>
        <td>{{d.docType}}</td>
        <td>{{d.docDate | date: 'dd.MM.yyyy'}}</td>
        <td>{{d.docNumber}}</td>
        <td><a uiSref="app.order.document" [uiParams]="{id: d.sys_documentId}" target="_blank">{{d.docContent}}</a></td>
        <td>
            <span class="label label-{{getStatusColor(d.docStatus)}}" *ngIf="d.docStatus">{{d.docStatus}}</span>
        </td>
        <!-- <td>{{d.activeApprover || ''}}</td> -->
    </tr>
    </tbody>
    <tbody *ngIf="loading">
    <tr>
        <td colspan="8">
            <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
        </td>
    </tr>
    </tbody>
</table>
