<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <form *ngIf="success" method="get" class="form-horizontal" name="orderAttachForm">
        <h4 style="display: flex; align-items: center;">
          <span>
            Срок подготовки
            <span *ngIf="!!parallelApprovers.length&&!parallelApprovalDurationCode" class="our-mandatory">*</span>
          </span>
          <ng-select name="parallelApprovalDuration" [items]="approvalDurations" [multiple]="false"
            [closeOnSelect]="true" [hideSelected]="true" bindLabel="Name" bindValue="Code"
            [(ngModel)]="parallelApprovalDurationCode" (change)="parallelApprovalDurationCodeChanged()"
            style="width: 120px; margin-left: 15px; display: inline-block;">
          </ng-select>
        </h4>
      
        <mggt-approval-sublist-edit [list]="parallelApprovers" [approvers]="approverItems" [executives]="[]"
          [approvalTypes]="approvalTypes" [defaultApprovalType]="defaultApprovalType" [editApprovalTerm]="false"
          [approvalDurations]="approvalDurations" [hideApprovalType]="true"
          [canAdd]="canAddParallel.bind(this)"
          [hasApproval]="hasApproval.bind(this)" (approverAdded)="parallelApproverAdded($event)"
          (approverDeleted)="approverDeleted()" (approverChanged)="approverChanged($event)"
          (approvalTypeChanged)="approvalTypeChanged($event)" (approversSwapped)="approversSwapped()">
        </mggt-approval-sublist-edit>
        
        <div class="form-group">
          <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
          <div class="col-lg-7 col-md-8 col-sm-9">
              <button type="button" class="btn btn-sm btn-primary ladda-button"
                (click)="generateDraftFile()" [ladda]="creatingDraftFiles"
                data-spinner-size="18" data-spinner-color="#FFFFFF" 
                data-style="expand-right">
                  <i class="fa m-r-xs"></i>Сформировать проект РД
              </button>
          </div>
      </div>
        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
              <cdp-ex-file-manager [files]="draftFiles" 
                [fileType]="'MkaDocOther'"
                [maxNumberOfFiles]="1"
                [folderGuid]="order.folderID" extPattern="doc, docx, rtf" 
                [deletable]="true"
                [downloadable]="draftFiles.length<1" [downloadBlank]="true"
                (onChanged)="changeDraftFiles()" [checkSign]="true" 
                [downloadBaseHref]="'/filestore'" (onRemove)="deleteDraft($event)">
              </cdp-ex-file-manager>
          </div>
        </div>


        <div class="form-group">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <!-- <button type="button" class="btn btn-sm btn-default m-r-sm" (click)="saveDocument()" [ladda]="saving"
              data-spinner-size="18" data-spinner-color="#AAAAAA" data-style="expand-right">
              <i class="fa m-r-xs"></i>Сохранить данные без завершения задачи
            </button> -->
            <button type="button" class="btn btn-sm btn-primary m-r-sm ladda-button"
              [disabled]="!isValidApproval()" (click)="saveAndSendToApproval()"
              [ladda]="sendingToApproval" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-left">
              <i class="fa m-r-xs"></i>Направить документ на подготовку
            </button>
            
          </div>
        </div>

      </form>
    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
        приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
