<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Закрыть</span>
    </button>
    <h3>Служебная информация</h3>
</div>
<div class="modal-body">
    <div class="description">
        <dl class="dl-horizontal">
            <dt><span>Идентификатор документа</span></dt>
            <dd>
                <span *ngIf="order.documentID">{{order.documentID}}</span>
                <span *ngIf="!order.documentID" class="not-specified">отсутствует</span>
            </dd>

            <dt><span>Идентификатор аннулируемого документа</span></dt>
            <dd>
                <span *ngIf="order.canceledDocument && order.canceledDocument.canceledDocumentID">{{order.canceledDocument.canceledDocumentID}}</span>
                <span *ngIf="!order.canceledDocument || !order.canceledDocument.canceledDocumentID"
                      class="not-specified">отсутствует</span>
            </dd>

            <dt><span>Идентификатор (GUID) папки хранения файлов документа в ОЦХД</span></dt>
            <dd>
                <span *ngIf="order.folderID">{{order.folderID}}</span>
                <span *ngIf="!order.folderID" class="not-specified">отсутствует</span>
            </dd>

            <dt><span>Идентификатор входящего сообщения ПСО</span></dt>
            <dd>
                <span *ngIf="order.psoInputID">{{order.psoInputID}}</span>
                <span *ngIf="!order.psoInputID" class="not-specified">отсутствует</span>
            </dd>

            <dt><span>Идентификатор исходящего сообщения ПСО</span></dt>
            <dd>
                <span *ngIf="!order.psoOutputID" class="not-specified">отсутствует</span>
                <div *ngFor="let psoId of order.psoOutputID; let last = last;">
                    <span>
                        {{psoId}} <br *ngIf="!last">
                    </span>
                </div>
            </dd>

            <dt><span>Год документа</span></dt>
            <dd>{{order.documentYear}}</dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" (click)="cancel()">Закрыть</button>
</div>
