<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="table-responsive">
        <table class="table table-bordered m-b-bone">
          <thead>
          <tr>
            <th class="center">Дата</th>
            <th class="center">Номер</th>
            <th class="center">Содержание</th>
            <th class="center">Файл</th>
            <th class="center">Состояние</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let doc of relatedDocuments">
            <td>{{doc.order.documentDate | date: 'dd.MM.yyyy'}}</td>
            <td>
              {{doc.order.documentNumber}}
              <br *ngIf="doc.order.documentNumber"/>
              <small class="text-muted">{{rdLinkTypes[doc.type]}}</small>
            </td>
            <td>
              <a uiSref="app.order.document" [uiParams]="{id: doc.order.documentID}">
                {{doc.order.documentTypeValue}}
              </a>
              <br *ngIf="doc.order.documentTypeValue"/>
              <small class="text-muted">{{doc.order.documentContent}}</small>
            </td>
            <td>
              <cdp-ex-file *ngIf="doc.order.files && doc.order.files[0]" [fileInfo]="{ nameFile: doc.order.files[0].fileName,
                idFile:   doc.order.files[0].fileID,
                sizeFile: doc.order.files[0].fileSize,
                dateFile: doc.order.files[0].fileDate,
                signed:   doc.order.files[0].fileSigned}" [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'" [checkSign]="true"></cdp-ex-file>
              <cdp-ex-file *ngIf="(!doc.order.files || !doc.order.files[0]) && doc.order.draftFiles" [fileInfo]="{ nameFile: doc.order.draftFiles.draftFilesName,
                idFile:   doc.order.draftFiles.draftFilesID,
                sizeFile: doc.order.draftFiles.draftFilesSize,
                dateFile: doc.order.draftFiles.draftFilesDate,
                signed:   doc.order.draftFiles.draftFilesSigned}" [checkSign]="true" [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'"></cdp-ex-file>
            </td>
            <td>
              <span class="label label-{{doc.order.documentStatusColor}}">
                  {{rdStatus[doc.order.documentStatusCode]}}
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <span *ngIf="relatedDocuments.length === 0" class="text-danger ng-hide" aria-hidden="true">
            <span class="fa fa-times-circle"></span>
            <span>Связанные документы отсутствуют</span>
        </span>
    </div>
  </div>
  <div error>
    <div class="m-t-md">
      <span class="fa fa-times-circle text-danger"></span>
      <span> Ошибка</span>
    </div>
  </div>
  <div loading>
    <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
