<div *ngIf="!loading">
    <table class="table m-b-none" style="border-bottom:1px solid;">
        <tbody>
        <ng-template ngFor let-searchSection [ngForOf]="searchSections">
            <tr>
                <td class="nowrap" width="30">
                    <h4 style="font-weight: normal" class="m-b-xs">
                        {{searchSection.count}}
                    </h4>
                </td>
                <td colspan="2">
                    <h4 (click)="searchSection.expanded = !searchSection.expanded; triggerSection(searchSection)"
                        class="m-b-xs" role="button">
                        <span>{{searchSection.id}}</span>
                    </h4>
                </td>
            </tr>
            <tr [hidden]="!searchSection.expanded" *ngFor="let doc of searchSection.docs; let last = last">
                <td></td>
                <td colspan="2">
                    <div class="m-t-md">
                        <mggt-order-list-view-card [dicts]="dicts" [hideLine]="last" [showStatus]="false"
                                                   [doc]="doc"></mggt-order-list-view-card>
                    </div>
                </td>
            </tr>
            <tr [hidden]="!(searchSection.expanded && searchSection.loading)">
                <td colspan="3">
                    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
                </td>
            </tr>
            <tr>
                <td colspan="3"
                    [hidden]="!(searchSection.expanded && !searchSection.loading && searchSection.hasMoreDocs)">
                    <button type="button" class="btn btn-default btn-block" (click)="fetchDocuments(searchSection)">
                        Показать еще
                    </button>
                </td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</div>
