<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">
            <mggt-order-info [order]="order"></mggt-order-info>

            <hr/>

            <h4 class="m-t">Регистрация документа</h4>

            <form method="get" class="form-horizontal">

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Регистрационный номер
                    </label>
                    <div class="col-lg-4 col-md-6 col-sm-9">
                        <input name="documentNumber" [(ngModel)]="order.documentNumber" type="text" class="form-control"
                               disabled/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Дата документа
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <cdp-date-selector [(model)]="order.documentDate">
                        </cdp-date-selector>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label"> Регистратор </label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <ng-select [items]="registrars"
                                   bindLabel="displayName"
                                   [multiple]="false"
                                   [hideSelected]="true"
                                   [placeholder]="order.registar"
                                   [(ngModel)]="order.registar"
                                   [ngModelOptions]="{standalone: true}">
                        </ng-select>
                    </div>
                </div>
            </form>

            <hr/>
            <div *ngIf="(!!order.draftFiles&&!!order.draftFiles.draftFilesID)||!order.privacy||!order.privacy.code">
                <h4 class="m-t">Проект приказа</h4>

                <div *ngIf="order.draftFiles">
                    <cdp-ex-file [fileInfo]="{
                            nameFile: order.draftFiles.draftFilesName,
                            idFile:   order.draftFiles.draftFilesID,
                            sizeFile: order.draftFiles.draftFilesSize,
                            dateFile: order.draftFiles.draftFilesDate,
                            signed:   order.draftFiles.draftFilesSigned
                        }" [showSize]="true" [showDate]="true" [checkSign]="true" [downloadBaseHref]="'/filestore'"></cdp-ex-file>
                </div>
            </div>    
    
            <div *ngIf="order.approval.approvalCycle.approvalCycleNum && order.approval.approvalCycle.approvalCycleNum !== '1'">
                <h4 class="m-t">Лист согласования ({{order.approval.approvalCycle.approvalCycleNum}})</h4>
            </div>
            <div *ngIf="!order.approval.approvalCycle.approvalCycleNum || order.approval.approvalCycle.approvalCycleNum === '1'">
                <h4 class="m-t">Лист согласования</h4>
            </div>
            <mggt-approval-list [list]="order.approval.approvalCycle"></mggt-approval-list>

            <mggt-approval-history [history]="order.approvalHistory"></mggt-approval-history>
    
            
            
            <div class="center m-t-md">
                <button type="button" class="btn btn-sm btn-success m-b-xs ladda-button" (click)="register()"
                        data-spinner-size="18" data-spinner-color="#FFFFFF" [ladda]="submitting">
                    <i class="fa m-r-xs"></i>Зарегистрировать
                </button>
            </div>
        </div>
    </div>
</cdp-loading-block>