<div class="semibold">
    {{order.documentTypeValue}}
    {{order.documentNumber ? '№ ' + order.documentNumber : ''}}
    {{order.documentDate ? 'от ' + (order.documentDate | date: 'dd.MM.yyyy') : ''}}
</div>
<a uiSref="app.order.document" [uiParams]="{id: order.documentID}">
    <h4 class="m-t-sm m-b-md semibold">
        {{order.documentContent}}</h4>
</a>
<div *ngIf="taskDescription !== '' && isCollapsed === true">
    <small>
        <span>
            <i class="fa fa-question" style="font-size:13px;color:#337ab7;" aria-hidden="true"></i>
            <a (click)="isCollapsed = false"> Описание задачи</a>
        </span>
    </small>
</div>
<div *ngIf="taskDescription !== ''" [collapse]="isCollapsed">
    <h4 style="margin-top: 0;">Описание задачи</h4>
    <div [innerHtml]="taskDescription"></div>
    <p>
        <a (click)="isCollapsed = true">
            Скрыть описание
        </a>
    </p>
    <hr>
</div>
<h4>Информация</h4>
<div class="description">
    <dl class="dl-horizontal">
        <!-- <dt *ngIf="order.address">
            <span>Адрес</span>
        </dt>
        <dd *ngIf="order.address">
            {{order.address}}
        </dd>

        <dt *ngIf="order.approvedDocumentNumber">
            <span>Номер связанного документа</span>
        </dt>
        <dd *ngIf="order.approvedDocumentNumber">
            {{order.approvedDocumentNumber}}
        </dd> -->

        <dt *ngIf="order.previousDocument"><span>Предыдущий документ</span></dt>
        <dd *ngIf="order.previousDocument">
            <a uiSref="app.order.document" [uiParams]="{id: order.previousDocument.previousDocumentID}">
                {{order.previousDocument.previousDocumentNum}}
            </a>
        </dd>

        <dt *ngIf="order.canceledDocument && order.canceledDocument.canceledDocumentNum">
            <span>Аннулируемый документ</span>
        </dt>
        <dd *ngIf="order.canceledDocument && order.canceledDocument.canceledDocumentNum">
            {{order.canceledDocument.canceledDocumentType}} №
            <span *ngIf="order.canceledDocument.canceledDocumentID">
                <a uiSref="app.order.document"
                    [uiParams]="{id: order.canceledDocument.canceledDocumentID}">{{order.canceledDocument.canceledDocumentNum}}</a>
            </span>
            <span *ngIf="!order.canceledDocument.canceledDocumentID">
                {{order.canceledDocument.canceledDocumentNum}}
            </span>
            от {{order.canceledDocument.canceledDocumentDate | date: "dd.MM.yyyy"}}
        </dd>

        <div *ngIf="order.updatedDocument && order.updatedDocument.length > 0">
            <dt><span>Уточняемый документ</span></dt>
            <dd *ngFor="let updatedDocument of order.updatedDocument">
                {{updatedDocument.updatedDocumentType}} №
                <span *ngIf="updatedDocument.updatedDocumentID">
                    <a uiSref="app.order.document"
                        [uiParams]="{id: updatedDocument.updatedDocumentID}">{{updatedDocument.updatedDocumentNum}}</a>
                </span>
                <span *ngIf="!updatedDocument.updatedDocumentID">
                    {{updatedDocument.updatedDocumentNum}}
                </span>
                от {{updatedDocument.updatedDocumentDate | date: "dd.MM.yyyy"}}
            </dd>
        </div>

        <dt *ngIf="order.documentExpireDate">
            <span>Дата окончания действия</span>
        </dt>
        <dd *ngIf="order.documentExpireDate">
            {{order.documentExpireDate | date: 'dd.MM.yyyy'}}
        </dd>

        <dt *ngIf="order.documentThemeValue">
            <span>Тема</span>
        </dt>
        <dd *ngIf="order.documentThemeValue">
            {{order.documentThemeValue}}
        </dd>
        <dt *ngIf="!!order.privacy&&!!order.privacy.name">
            <span>Конфиденциальность</span>
        </dt>
        <dd *ngIf="!!order.privacy&&!!order.privacy.name">
            {{order.privacy.name}}
        </dd>
        <dt>
            <span>Руководитель, утверждающий документ</span>
        </dt>
        <dd>
            <span *ngIf="order.head">{{order.head.fio}}</span>
            <span class="text-muted" *ngIf="!order.head">отсутствует</span>
        </dd>

        <dt>
            <span>Исполнитель</span>
        </dt>
        <dd>
            <span *ngIf="!order.executor || order.executor.length === 0" class="not-specified">
                отсутствует
            </span>
            <span *ngFor="let executor of order.executor; let last = last;">
                {{executor.fio}}{{last ? '' : ', '}}
            </span>
        </dd>

        <dt>
            <span>Ответственное управление</span>
        </dt>
        <dd>
            <span
                *ngIf="order.responsibleDep && order.responsibleDep.departmentFull">{{order.responsibleDep.departmentFull}}</span>
            <span class="text-muted"
                *ngIf="!order.responsibleDep || !order.responsibleDep.departmentFull">отсутствует</span>
        </dd>

        <dt>
            <span>Ответственный исполнитель</span>
        </dt>
        <dd>
            <span
                *ngIf="order.responsibleExecutor && order.responsibleExecutor.fio">{{order.responsibleExecutor.fio}}</span>
            <span class="text-muted"
                *ngIf="!order.responsibleExecutor || !order.responsibleExecutor.fio">отсутствует</span>
        </dd>

        <dt>
            <span>Список почтовой рассылки</span>
        </dt>
        <dd>
            <div *ngIf="order.mailList">
                <div *ngFor="let item of order.mailList">
                    {{item.fio}} ({{item.post}})
                </div>
            </div>
            <span class="text-muted" *ngIf="!order.mailList">отсутствует</span>
        </dd>

        <dt>
            <span>Примечание</span>
        </dt>
        <dd>
            <span *ngIf="order.documentComment">{{order.documentComment}}</span>
            <span class="text-muted" *ngIf="!order.documentComment">отсутствует</span>
        </dd>

        <dt>
            <span>Штрихкод</span>
        </dt>
        <dd>
            <span *ngIf="order.barcode">{{order.barcode}}</span>
            <span class="text-muted" *ngIf="!order.barcode">отсутствует</span>
        </dd>

        <dt *ngIf="order.additionalMaterials && order.additionalMaterials.length">
            <span>Дополнительные материалы</span>
        </dt>
        <dd *ngIf="order.additionalMaterials && order.additionalMaterials.length">
            <div *ngFor="let file of order.additionalMaterials">
                <cdp-ex-file [fileInfo]="{nameFile: file.fileName,
                                            idFile:   file.fileID,
								            sizeFile: file.fileSize,
								            dateFile: file.fileDate,
								            signed:   file.fileSigned}" [showSize]="true" [checkSign]="true" [showDate]="true"
                    [downloadBaseHref]="'/filestore'"></cdp-ex-file>
            </div>
        </dd>

        <dt>
            <span>Публикация на сайте</span>
        </dt>
        <dd>
            <span *ngIf="order.PublishingSite">требуется</span>
            <span class="text-muted" *ngIf="!order.PublishingSite">не требуется</span>
        </dd>

        <dt *ngIf="showDocumentText">
            <span>Текст РД</span>
        </dt>
        <dd *ngIf="showDocumentText">
            {{order.documentText}}
        </dd>

    </dl>
</div>