<div class="table-responsive">
    <table class="table table-bordered" *ngIf="approvalTree && approvalTree.length">
        <thead>
        <tr>
            <th class="nowrap center" width="5%">№ пп</th>
            <th class="nowrap center" width="27%">ФИО и должность</th>
            <th class="nowrap center" width="17%">Вид действия</th>
            <th class="nowrap center" width="15%">Срок согласования</th>
            <th class="nowrap center" width="14%">Результат</th>
            <th class="nowrap center">Комментарии</th>
        </tr>
        </thead>
        <tbody *ngIf="list" mggt-approval-list-row-old [list]="approvalTree" [level]="0" [approvalTypes]="approvalTypes">
        </tbody>
    </table>
</div>
