<ng-container *ngFor="let item of list; let i = index">
    <tr>
        <td style="width: 5%;" class="center">
            <span *ngIf="item.items && item.items.length" style="cursor: pointer; margin-right: 5px;" (click)="toggle(i)">
                <i *ngIf="isShowAdditionalApprovals(i)" class="fa fa-angle-down"></i>
                <i *ngIf="!isShowAdditionalApprovals(i)" class="fa fa-angle-up"></i>
            </span>
            <span>{{item.approvalNum}}</span>
        </td>
        <td style="width: 27%;">
            <div class="semibold">{{item.agreedBy.fioFull}}</div>
            <div>{{item.agreedBy.post}}</div>
            <div *ngIf="!!item.factAgreedBy">({{item.factAgreedBy.fioFull}}, {{item.factAgreedBy.post}})</div>
        </td>
        <td style="width: 17%;" class="center">
            {{item.approvalType}}
        </td>
        <td style="width: 15%;" class="center">
            {{item.approvalPlanDate | date: "dd.MM.yyyy HH:mm"}}
        </td>
        <td style="width: 14%;" class="center">
            <span *ngIf="!item.approvalResult" class="label label-default">Ожидание</span>
            <span *ngIf="item.approvalResult"
                  class="label {{getApprovalResultColor(item.approvalTypeCode, item.approvalResult)}}">{{item.approvalResult}}</span>
            <div *ngIf="item.approvalFactDate"><label>{{item.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label></div>
        </td>
        <td>

            <div *ngIf="item.added" class="m-b-sm">
                <div class="semibold">Добавление согласующего</div>
                <div *ngFor="let addedItem of item.added">
                    <span class="semibold">{{addedItem.additionalAgreed.iofShort}}:</span> {{addedItem.addedNote}}
                </div>
            </div>

            <div
                    *ngIf="!(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
                <div class="semibold">{{item.approvalResult}}</div>
                <div>{{item.approvalNote}}</div>
            </div>

            <div
                    *ngIf="(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
                <div class="semibold">На доработку</div>
                <div>{{item.approvalNote}}</div>
            </div>

            <div *ngFor="let file of item.fileApproval" class="m-t-xs">
                <a href="{{getFileLink(file.fileID)}}" class="text-default" title="{{file.fileName}}">
                    <cdp-ex-file-icon [nameFile]="file.fileName"></cdp-ex-file-icon>
                </a>
            </div>
        </td>
    </tr>
    <tr *ngIf="item.items && item.items.length > 0 && isShowAdditionalApprovals(i)">
        <td colspan="6" style="margin: 0; padding: 0;">
            <table style="margin: 0; padding: 0;" class="table table-bordered">
                <tbody mggt-approval-list-row-old [list]="item.items" [withAdditional]="withAdditional"
                       [approvalTypes]="approvalTypes"></tbody>
            </table>
        </td>
    </tr>
</ng-container>
