<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <div class="pull-right">
        <button orderMyAuth="ORDER_DOCUMENT_DELETE_BUTTON" class="btn btn-default m-r-sm" style="color: #ED5565;"
          *ngIf="isActive(0) && canDelete && !orderType.orderMKA && !$localStorage.isMobile"
          [disabled]="isUpdating || isDeleted || isRecalling" (click)="deleteCard()">
          <i class="fa fa-trash"></i> Удалить
        </button>

        <button orderMyAuth="ORDER_DOCUMENT_SCAN_BUTTON" class="btn btn-primary m-r-sm" (click)="openUploadDocument()"
          *ngIf="isActive(0) && !orderType.orderMKA && !$localStorage.isMobile"
          [disabled]="isUploadDisabled || isUpdating || isDeleted || isRecalling">
          Приложить отсканированную копию
        </button>

        <button class="btn btn-danger m-r-sm" (click)="recall()"
          *ngIf="isActive(0) && !orderType.orderMKA && !$localStorage.isMobile && isNegotiationProject"
          [disabled]="isUpdating || isDeleted || isRecalling">
          Отозвать с согласования
        </button>

        <button orderMyAuth="ORDER_DOCUMENT_EDIT_BUTTON" class="btn btn-success m-r-sm" (click)="editCard()"
          *ngIf="isActive(0) && !orderType.orderMKA && !$localStorage.isMobile"
          [disabled]="isUpdating || isDeleted || isRecalling">
          <i class="fa fa-pencil"></i> Редактировать
        </button>

        <!--<button class="btn btn-primary" (click)="createCopy()" orderMyAuth="ORDER_DOCUMENT_COPY_BUTTON" *ngIf="!orderType || !orderType.orderMKA">-->
        <!--Создать копию-->
        <!--</button>-->
        <button orderMyAuth="ORDER_DOCUMENT_DELETE_BUTTON" *ngIf="canDelete && !orderType.orderMKA" placement="left"
          tooltip="Удалить" (click)="delete()"
          class="btn btn-default visible-md-inline-block visible-sm-inline-block visible-xs-inline-block m-r-xs">
          <i class="fa fa-trash text-danger"></i>
        </button>
      </div>
      <div class="m-b-xs">
        <h3 class="m-t-md">
          {{order.documentTypeValue}}
          <br>
          № {{order.documentNumber}} от
          {{order.documentDate | date: "dd.MM.yyyy"}}
        </h3>
        <h2 class="m-t-sm semibold">{{order.documentContent}}</h2>
        <div class="m-t m-b">
          <span class="label label-{{order.documentStatusColor}} m-r-sm">
            {{order.documentStatusValue}}
          </span>
          <small *ngIf="order.documentExpireDate">
            <br />
            <span class="semibold">Дата аннулирования: {{order.documentExpireDate | date: "dd.MM.yyyy" }}</span>
          </small>
        </div>
      </div>
      <div *ngIf="!editingOrder">
        <ul class="nav nav-pills nav-stacked" id="mobile-nav-pills-stacked">
          <li (click)="onTabSelected(0)" [class]="hideOvers === false || isActive(0) ? '' : 'hidden'">
            <a [class]="isActive(0) ? 'active-tab-bottom' : ''">
              Карточка
              <span class="pull-right" [hidden]="!isActive(0)">
                <i class="glyphicon glyphicon-tasks"></i>
              </span>
            </a>
          </li>

          <li (click)="onTabSelected(1)" *ngIf="!orderType || !orderType.orderMKA"
            [class]="hideOvers === false || isActive(1) ? '' : 'hidden'">
            <a [class]="isActive(1) ? 'active-tab-bottom' : ''">
              Лист согласования
              <span class="pull-right" *ngIf="isActive(1)" aria-hidden="false">
                <i class="glyphicon glyphicon-tasks"></i>
              </span>
            </a>
          </li>

          <li (click)="onTabSelected(2)" *ngIf="showReviewInner"
            [class]="hideOvers === false || isActive(2) ? '' : 'hidden'">
            <a [class]="isActive(2) ? 'active-tab-bottom' : ''">
              Ознакомление
              <span class="pull-right" *ngIf="isActive(2)" aria-hidden="false">
                <i class="glyphicon glyphicon-tasks"></i>
              </span>
            </a>
          </li>

          <li (click)="onTabSelected(3)" *ngIf="orderType.orderMKA && assignments.length"
            [class]="hideOvers === false || isActive(3) ? '' : 'hidden'">
            <a [class]="isActive(3) ? 'active-tab-bottom' : ''">
              Внутренние поручения
              <span class="pull-right" *ngIf="isActive(3)" aria-hidden="false">
                <i class="glyphicon glyphicon-tasks"></i>
              </span>
            </a>
          </li>

          <li (click)="onTabSelected(4)" *ngIf="orderType.orderMKA"
            [class]="hideOvers === false || isActive(4) ? '' : 'hidden'">
            <a [class]="isActive(4) ? 'active-tab-bottom' : ''">
              Ознакомление
              <span class="pull-right" *ngIf="isActive(4)" aria-hidden="false">
                <i class="glyphicon glyphicon-tasks"></i>
              </span>
            </a>
          </li>

          <li (click)="onTabSelected(5)" [class]="hideOvers === false || isActive(5) ? '' : 'hidden'">
            <a [class]="isActive(5) ? 'active-tab-bottom' : ''">
              Процесс
              <span class="pull-right" *ngIf="isActive(5)" aria-hidden="false">
                <i class="glyphicon glyphicon-tasks"></i>
              </span>
            </a>
          </li>
        </ul>

        <div *ngIf="isActive(0)">
          <mggt-order-view [order]="order" (edit)="editOrder($event)"></mggt-order-view>
        </div>
        <div *ngIf="isActive(1)">
          <mggt-mobile-order-approvals [order]="order"></mggt-mobile-order-approvals>
        </div>
        <div *ngIf="isActive(2)">
          <mggt-order-card-review-inner [order]="order"></mggt-order-card-review-inner>
        </div>
        <div *ngIf="isActive(3)">
          <mggt-order-inner-assignments [assignments]="assignments"></mggt-order-inner-assignments>
        </div>
        <div *ngIf="isActive(4)">
          <mggt-order-review [order]="order"></mggt-order-review>
        </div>
        <div *ngIf="isActive(5)">
          <cdp-bpm-process-manager [config]="processManagerConfig"></cdp-bpm-process-manager>
        </div>
      </div>
      <div *ngIf="editingOrder">
        <mggt-order-edit [order]="order" (cancel)="editOrder(false)"></mggt-order-edit>
      </div>
    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span>
      <span> Ошибка при инициализации приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>