<div *ngIf="!loading">
    <div class="hr-line-dashed"></div>
    <div *ngFor="let doc of searchResult.docs; let last = last;">
        <mggt-order-list-view-card [doc]="doc" [dicts]="dicts" [hideLine]="last" [showStatus]="true"></mggt-order-list-view-card>
    </div>
</div>
<cdp-spinner *ngIf="loading" [type]="'three-bounce'"></cdp-spinner>
