<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">

            <mggt-order-info [order]="order"></mggt-order-info>

            <hr/>

            <h4 class="m-t">Распорядительный документ</h4>

            <div *ngIf="order.files">
                <div *ngFor="let file of order.files">
                    <cdp-ex-file [fileInfo]="{
                                      nameFile: file.fileName,
									  idFile:   file.fileID,
								      sizeFile: file.fileSize,
								      dateFile: file.fileDate,
								      signed:   file.fileSigned
                                 }"
                                 [showSize]="true"
                                 [showDate]="true" [downloadBaseHref]="'/filestore'" [checkSign]="true"
                    ></cdp-ex-file>
                </div>
            </div>


            <form method="get" class="form-horizontal" name="orderApproveForm">

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Комментарий
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <textarea class="form-control our-control" name="comment"
                                  rows="2" [(ngModel)]="comment"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <a href="/sdo/instruction/#/app/instruction/instruction/createFromOrder/{{order.documentID}}?taskId={{task.id}}"
                           orderMyAuth="INSTRUCTION_INSTRUCTION_ADD_BUTTON" class="btn btn-primary m-r-sm"
                           *ngIf="isShowCreateInstructionBtn">
                            <i class="fas fa-file m-r-sm"></i> Дать поручение
                        </a>

                        <button type="button" class="btn btn-success ladda-button"
                                (click)="execute()" [ladda]="submitting"
                                data-spinner-size="18" data-spinner-color="#FFFFFF"
                                data-style="expand-right">
                            <i class="fa m-r-xs"></i>Исполнено
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
    </div>
    <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>
