<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">
    <form class="clearfix form-horizontal">

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">{{fileTitle}}</label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <cdp-ex-file-manager [files]="files"
                               [maxNumberOfFiles]="1"
                               [fileType]="fileType"
                               [folderGuid]="folderId"
                               [extPattern]="extPattern"
                               [downloadable]="files.length === 0"
                               [deletable]="true"
                               [openable]="true"
                               [showSize]="true" 
                               [checkSign]="true" 
                               [onRemove]="onRemoveFile"
                               [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
        </div>
      </div>

      <div class="form-group" style="margin-bottom: 0">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
        <div class="col-lg-9 col-md-9 col-sm-9 text-right">
          <button type="button" class="btn btn-primary m-l-sm" (click)="save()" *ngIf="files?.length">{{okBtnText}}</button>
          <button type="button" class="btn btn-white m-l-sm" (click)="cancel()">Отмена</button>
        </div>
      </div>

    </form>
  </div>
</div>
