<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">
            <mggt-order-info [order]="order"></mggt-order-info>

            <hr/>

            <h4 class="m-t-lg">Распорядительный документ</h4>

            <form method="get" class="form-horizontal" name="PublishRD">

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Распорядительный документ
                    </label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <div *ngIf="order.files">
                            <div *ngFor="let file of order.files">
                                <cdp-ex-file [fileInfo]="{nameFile: file.fileName,
                                            idFile:   file.fileID,
								            sizeFile: file.fileSize,
								            dateFile: file.fileDate,
								            signed:   file.fileSigned}"
                                             [showSize]="true" 
                                             [checkSign]="true" 
                                             [showDate]="true" [downloadBaseHref]="'/filestore'"
                                ></cdp-ex-file>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <button type="button" class="btn btn-success ladda-button" (click)="execute()"
                                [ladda]="submitting" data-spinner-size="18" data-spinner-color="#FFFFFF"
                                data-style="expand-right">
                            Исполнено
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div loading>
        <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>