<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">
      <form *ngIf="success" method="get" class="form-horizontal" name="orderPrepareForm">
        <mggt-order-prepare-edit [order]="order"
          [dicts]="{orderTypes: orderTypes, emailGroups: emailGroups, orderStatuses: orderStatuses, executives: executives,privacyTypes:privacyTypes}"
          [preregFields]="true" [isPrereg]="isPrereg()" [hasPreregPermission]="hasPreregPermission" [account]="account"
          (onHeadChanged)="headChanged()" (onSigningElectronicallyChanged)="signingElectronicallyChanged()" [showPrivacy]="true"></mggt-order-prepare-edit>

        <h4 class="">Лист согласования</h4>
        <mggt-approval-list-edit [order]="order" [dicts]="{approvalTypes: approvalTypes, executives: executives, approvers: approvers,
          signUsers: signUsers, approvalDurations: approvalDurations}">
        </mggt-approval-list-edit>

        <div class="m-t-lg">
          <h4>Проект РД</h4>
        </div>

        <!--
          <div *ngIf="isApplication()">
          <div class="form-group" *ngIf="!order.draftFiles && !draftFilesWithoutAtt.length">
            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД (без приложения)</div>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <button type="button" class="btn btn-sm btn-primary ladda-button" (click)="createDraftFilesWithoutAtt()"
                [ladda]="creatingDraftFilesWithoutAtt" data-spinner-size="18" data-spinner-color="#FFFFFF"
                data-style="expand-right" [disabled]="sendingToApproval || sendingToRegistration">
                <i class="fa m-r-xs"></i>Сформировать проект РД
              </button>
            </div>
          </div>
          -->

        <div *ngIf="isApplication()">
          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД (без приложения)</div>
            <div class="col-lg-7 col-md-8 col-sm-9" >
              <button type="button" *ngIf="!draftFilesWithoutAtt.length" class="btn btn-sm btn-primary ladda-button" (click)="createDraftFilesWithoutAtt()"
                [ladda]="creatingDraftFilesWithoutAtt" data-spinner-size="18" data-spinner-color="#FFFFFF"
                data-style="expand-right" [disabled]="sendingToApproval || sendingToRegistration">
                <i class="fa m-r-xs"></i>Сформировать проект РД
              </button>
              <cdp-ex-file-manager [files]="draftFilesWithoutAtt" [fileType]="'default'" [folderPath]="filePathForWord"
                                   [downloadable]="orderService.showComponents && !draftFilesWithoutAtt.length" [folderGuid]="order.folderID"
                                   extPattern="docx" [maxNumberOfFiles]="1" [deletable]="!order.draftFiles" [downloadBlank]="false"   [showOpenWordButton]="showButton" [hideDownloadButton]="showButton"
                                   [showSize]="true" [showDate]="true" [checkSign]="true" [baseMode]="false" (onChanged)="changeDraftFilesWithoutAtt()"
                                   [downloadBaseHref]="'/filestore'" [onRemove]="onDraftFilesWithoutAttDelete">
              </cdp-ex-file-manager>
            </div>
          </div>
<!--
          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-3 control-label"
              *ngIf="order.draftFiles || draftFilesWithoutAtt.length"></div>
            <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="orderService.showComponents && !draftFilesWithoutAtt.length"></div>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <cdp-ex-file-manager [files]="draftFilesWithoutAtt" [fileType]="'default'" [folderPath]="filePathForWord"
                [downloadable]="orderService.showComponents && !draftFilesWithoutAtt.length" [folderGuid]="order.folderID"
                extPattern="docx" [maxNumberOfFiles]="1" [deletable]="true" [downloadBlank]="false"   [showOpenWordButton]="showButton" [hideDownloadButton]="showButton"
                [showSize]="true" [showDate]="true" [checkSign]="true" [baseMode]="false" (onChanged)="changeDraftFilesWithoutAtt()"
                [downloadBaseHref]="'/filestore'" (onRemove)="onDraftFilesWithoutAttDelete">
              </cdp-ex-file-manager>
            </div>
          </div>
          -->
        </div>

          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Приложение</div>
            <div class="col-lg-7 col-md-8 col-sm-9 attachment">
              <cdp-ex-file-manager [files]="attach" [fileType]="'default'"
                [downloadable]="!attach.length" [folderGuid]="order.folderID"
                extPattern="docx, doc, pdf" [maxNumberOfFiles]="1" [deletable]="true" [downloadBlank]="true"
                [showSize]="true" [showDate]="true" [checkSign]="true" (onChanged)="changeDraftFilesAtt()"
                [downloadBaseHref]="'/filestore'" [onRemove]="onAttachDelete">
              </cdp-ex-file-manager>
            </div>
          </div>

          <div class="form-group" >
            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <button type="button" class="btn btn-sm btn-primary ladda-button" (click)="combineDraftFile()"
                [ladda]="combiningDraftFile" data-spinner-size="18" data-spinner-color="#FFFFFF"
                data-style="expand-right"
                [disabled]="!order.draftFilesWithoutAtt || sendingToApproval || sendingToRegistration">
                <i class="fa m-r-xs"></i>Сформировать проект РД с приложением
              </button>
            </div>
          </div>

        <div *ngIf="!isApplication()">

          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <button type="button" class="btn btn-sm btn-primary ladda-button" (click)="saveAndCreateDraftFile()"
                [ladda]="creatingDraftFile" data-spinner-size="18" data-spinner-color="#FFFFFF"
                data-style="expand-right" [disabled]="sendingToApproval || sendingToRegistration">
                <i class="fa m-r-xs"></i>Сформировать проект РД
              </button>
            </div>
          </div>

        </div>


        <div class="form-group" *ngIf="order.draftFiles">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
            <cdp-ex-file-manager [files]="[{
                            nameFile: order.draftFiles.draftFilesName,
							idFile:   order.draftFiles.draftFilesID,
							sizeFile: order.draftFiles.draftFilesSize,
							dateFile: order.draftFiles.draftFilesDate,
							signed:   order.draftFiles.draftFilesSigned
                        }]" [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'" [deletable]="true"
              [checkSign]="true" [onRemove]="onDraftFilesDelete" >
            </cdp-ex-file-manager>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <button type="button" class="btn btn-sm btn-default m-r-sm ladda-button" (click)="saveDocument()"
              [ladda]="saving" data-spinner-size="18" data-spinner-color="#AAAAAA" data-style="expand-left">
              <i class="fa m-r-xs"></i>Сохранить данные без завершения задачи
            </button>
            <button type="button" *ngIf="!order.privacy||!order.privacy.code" class="btn btn-sm btn-primary m-r-sm ladda-button"
              [disabled]="sendingToRegistration || !isValidApproval() || onDeletedFileNoApp && onDeletedCreateFileApp" (click)="saveAndSendToApproval()"
              [ladda]="sendingToApproval" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right">
              <i class="fa m-r-xs"></i>Направить документ на согласование
            </button>
            <button *ngIf="canViewRegButton" type="button" class="btn btn-sm btn-primary m-r-sm ladda-button"
              [disabled]="sendingToApproval || !isValidApproval()" (click)="saveAndSendToRegistration()"
              [ladda]="sendingToRegistration" data-spinner-size="18" data-spinner-color="#FFFFFF"
              data-style="expand-right">
              <i class="fa m-r-xs"></i>Направить документ на регистрацию
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации
        приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>




