<cdp-loading-block [loadingStatus]="loadingStatus">
    <div success>
        <div *ngIf="success">
            <form method="get" class="form-horizontal" name="orderInitiateForm" (submit)="save()">
                <h4 class="m-t-sm semibold">
                    Сформировать проект РД
                </h4>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Тип документа <span class="our-mandatory">*</span>
                    </label>
                    <div class="col-lg-4 col-md-6 col-sm-9">
                        <ng-select name="documentType"
                                   [items]="orderTypes"
                                   [multiple]="false"
                                   [closeOnSelect]="true"
                                   [hideSelected]="true"
                                   bindLabel="name"
                                   bindValue="code"
                                   [(ngModel)]="order.documentTypeCode"
                                   (change)="documentTypeChanged()">
                        </ng-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Год документа <span class="our-mandatory">*</span>
                    </label>
                    <div class="col-lg-4 col-md-6 col-sm-9">
                        <ng-select name="documentYear"
                                   [items]="availableYears"
                                   [multiple]="false"
                                   [closeOnSelect]="true"
                                   [hideSelected]="true"
                                   [(ngModel)]="order.documentYear">
                        </ng-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Содержание <span class="our-mandatory">*</span>
                    </label>
                    <div class="col-lg-4 col-md-6 col-sm-9">
                    <textarea name="documentContent" class="form-control our-control"
                              rows="2"
                              [(ngModel)]="order.documentContent"
                              required="">
                    </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                        Тема <span class="our-mandatory">*</span>
                    </label>
                    <div class="col-lg-4 col-md-6 col-sm-9">
                        <ng-select name="documentTheme"
                                   [items]="availableThemes"
                                   [multiple]="false"
                                   [closeOnSelect]="true"
                                   [hideSelected]="true"
                                   bindLabel="themeName"
                                   bindValue="themeCode"
                                   [disabled]="!availableThemes.length"
                                   [required]="availableThemes.length"
                                   [(ngModel)]="order.documentThemeCode"
                                   (change)="themeChanged()">
                        </ng-select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <button type="button" class="btn btn-primary ladda-button"
                                (click)="save()"
                                [ladda]="saving"
                                data-spinner-size="18"
                                data-spinner-color="#ffffff"
                                data-style="expand-right"
                        >
                            <i class="fa fa-pencil m-r-xs"></i>
                            Сохранить
                        </button>
                        <button type="button" class="btn btn-default" (click)="cancel()"
                                [disabled]="saving">Отменить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
    </div>
    <div loading>
        <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
    </div>
</cdp-loading-block>
