<div style="background-color:white">
  <cdp-loading-block [loadingStatus]="loading">
    <div success>
      <div *ngIf="success">
        <div class="clearfix">
          <h2 class="font-bold pull-left">{{title}}</h2>
        </div>

        <div class="search-form">
          <form (submit)="searchChanged()">
            <div class="input-group">
              <input class="form-control input-lg" name="value" placeholder="Номер, дата регистрации, содержание"
                [(ngModel)]="search">
              <div class="input-group-btn">
                <button class="btn btn-lg btn-primary" type="submit">Найти</button>
              </div>
            </div>
          </form>
        </div>

        <div class="m-t-md">
          <ul class="nav nav-pills nav-stacked" id="mobile-nav-pills-stacked">
            <li *ngFor="let tab of tabs" (click)="activate(tab.alias)"
              [class]="hideOvers === false || isActive(tab.alias) ? '' : 'hidden'">
              <a [class]="isActive(tab.alias) ? 'active-tab-bottom' : ''">
                {{tab.title}}
                <span class="pull-right" [hidden]="!isActive(tab.alias)">
                  <i class="glyphicon glyphicon-tasks"></i>
                </span>
              </a>
            </li>
          </ul>
          <div>
            <div *ngFor="let t of tabs">
              <mggt-mobile-order-list 
                *ngIf="isActive(t.alias) && !isActive('scanning')" 
                [dicts]="dicts" 
                [preFilter]="t.filter"
                [sorting]="t.sorting" 
                [forbidCreate]="t.forbidCreate" 
                [isMka]="isActive('mka')">
              </mggt-mobile-order-list>
              <mggt-scanning-order-list 
                *ngIf="isActive(t.alias) && isActive('scanning')" 
                [dicts]="dicts" 
                [preFilter]="t.filter">
              </mggt-scanning-order-list>
            </div>
            <div></div>
            <div *ngIf="activeTab === null">
              <div style="height: 200px; padding-top: 70px;">
                <h1 class="text-center">Нет элементов для отображения или доступа к разделу</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div error>
      <div class="container">
        <div class="row">
          <div class="m-t-sm" style="padding: 20px 45px;">
            <span class="fa fa-times-circle text-danger"></span>
            <span>Ошибка формирования витрины</span>
          </div>
        </div>
      </div>
    </div>
    <div loading>
      <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
    </div>
  </cdp-loading-block>
</div>