<cdp-loading-block [loadingStatus]="loadingStatus">
  <div success>
    <div *ngIf="success">

      <div class="description">
        <dl class="dl-horizontal">
          <dt *ngIf="hasAccessRight && order.draftFiles"><span>Проект РД</span></dt>
          <dd *ngIf="hasAccessRight && order.draftFiles">
            <span *ngIf="!order.draftFiles" class="not-specified">отсутствует</span>
            <span *ngIf="order.draftFiles" ng-init="draftFile = order.draftFiles">
              <cdp-ex-file [fileInfo]="{ nameFile: order.draftFiles.draftFilesName,
                idFile: order.draftFiles.draftFilesID,
                 sizeFile: order.draftFiles.draftFilesSize,
								 dateFile: order.draftFiles.draftFilesDate,
								 signed:   order.draftFiles.draftFilesSigned}"
                           [showSize]="true" [showDate]="true" [downloadBaseHref]="'/filestore'" [checkSign]="true"></cdp-ex-file>
            </span>
            <div class="clearfix"></div>
          </dd>
          <dt *ngIf="hasAccessRight && order.files && order.files.length"><span>Электронный образ</span></dt>
          <dd *ngIf="hasAccessRight && order.files && order.files.length">
            <span *ngIf="!order.files || !order.files.length" class="not-specified">отсутствует</span>
            <span *ngIf="order.files && order.files.length">
              <span *ngFor="let file of order.files">
                <cdp-ex-file [fileInfo]="{ nameFile: file.fileName,
                  idFile:   file.fileID,
                  sizeFile: file.fileSize,
                  dateFile: file.fileDate,
                  signed:   file.fileSigned}"
                             [showSize]="true" [showDate]="true" [deletable]="canDeleteFile" [checkSign]="true" [downloadBaseHref]="'/filestore'"
                             (onRemove)="deleteDocument($event)"></cdp-ex-file>
              </span>
            </span>
            <div class="clearfix"></div>
          </dd>

          <dt>
            <span>Подписание в электронном виде</span>
          </dt>
          <dd>
            <span *ngIf="!order.signingElectronically">Нет</span>
            <span *ngIf="order.signingElectronically">Да</span>
          </dd>

          <div *ngIf="order.documentThemeValue">
            <dt><span>Тема</span></dt>
            <dd>{{order.documentThemeValue}}</dd>
          </div>

          <dt *ngIf="hasAccessRight && order.documentText">
            <span>Текст приказа</span>
          </dt>
          <dd *ngIf="hasAccessRight && order.documentText">
            {{order.documentText}}
          </dd>

          <dt *ngIf="order.previousDocument"><span>Предыдущий документ</span></dt>
          <dd *ngIf="order.previousDocument">
            <a uiSref="app.order.document" [uiParams]="{id: order.previousDocument.previousDocumentID}">
              {{order.previousDocument.previousDocumentNum}}
            </a>
          </dd>

          <div *ngIf="cancelingDocument">
            <dt><span>Аннулирующий документ</span></dt>
            <dd>
              {{cancelingDocument.documentTypeValue}} №
              <a uiSref="app.order.document" [uiParams]="{id: cancelingDocument.documentID}">{{cancelingDocument.documentNumber}}</a>
              от
              {{cancelingDocument.documentDate | date: "dd.MM.yyyy"}}
            </dd>
          </div>

          <dt *ngIf="order.barcode"><span>Штрихкод</span></dt>
          <dd *ngIf="order.barcode">
            <span *ngIf="!order.barcode" class="not-specified">отсутствует</span>
            <span *ngIf="order.barcode">{{order.barcode}}</span>
          </dd>

          <dt *ngIf="order.head && order.head.fio"><span>Руководитель</span></dt>
          <dd *ngIf="order.head && order.head.fio">
            <span *ngIf="!order.head || !order.head.fio" class="not-specified">отсутствует</span>
            <span *ngIf="order.head && order.head.fio">{{order.head.fio}}</span>
          </dd>

          <dt *ngIf="order.executor && order.executor.length > 0"><span>Исполнитель</span></dt>
          <dd *ngIf="order.executor && order.executor.length > 0">
            <span *ngIf="!order.executor || order.executor.length === 0"
                  class="not-specified">отсутствует</span>
            <span *ngFor="let executor of order.executor; let last = last;">{{executor.fio}}{{last ? '' : ', '}}</span>
          </dd>

          <dt *ngIf="order.registar && order.registar.fio"><span>Регистратор</span></dt>
          <dd *ngIf="order.registar && order.registar.fio">
            <span *ngIf="!order.registar || !order.registar.fio" class="not-specified">отсутствует</span>
            <span *ngIf="order.registar && order.registar.fio">{{order.registar.fio}}</span>
          </dd>

          <dt><span>Автор создания карточки</span></dt>
          <dd>{{order.createAuthor.fio}}</dd>

          <dt><span>Дата и время создания карточки</span></dt>
          <dd>{{order.createDateTime | date: "dd.MM.yyyy HH:mm"}}</dd>

          <dt *ngIf="order.responsibleDep && order.responsibleDep.departmentFull"><span>Ответственное управление</span></dt>
          <dd *ngIf="order.responsibleDep && order.responsibleDep.departmentFull">
            <span *ngIf="!order.responsibleDep || !order.responsibleDep.departmentFull" class="not-specified">отсутствует</span>
            <span *ngIf="order.responsibleDep && order.responsibleDep.departmentFull">{{order.responsibleDep.departmentFull}}</span>
          </dd>

          <dt *ngIf="order.responsibleExecutor"><span>Ответственный исполнитель</span></dt>
          <dd *ngIf="order.responsibleExecutor"><span>{{order.responsibleExecutor.fio}}</span></dd>

          <dt><span>Публикация на сайте</span></dt>
          <dd>{{order.PublishingSite ? 'Да' : 'Нет'}}</dd>
        </dl>
      </div>
      <form method="get" class="form-horizontal" name="orderEditForm" (submit)="save()">
        <h4 class="">Изменение распорядительного документа</h4>
        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Аннулируемый документ
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select [items]="canceledDocuments$ | async"
                       bindLabel="docName"
                       [multiple]="false"
                       [hideSelected]="true"
                       [loading]="canceledDocumentsLoading"
                       [typeahead]="canceledDocumentsInput$"
                       [disabled]="isCanceledDocumentDisabled"
                       [(ngModel)]="order.canceledDocument" name="canceledDocument">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Уточняемый документ
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select [items]="updatedDocuments$ | async"
                       bindLabel="docName"
                       [multiple]="true"
                       [hideSelected]="true"
                       [loading]="updatedDocumentsLoading"
                       [typeahead]="updatedDocumentsInput$"
                       [(ngModel)]="order.updatedDocument" name="updatedDocument">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Группы рассылки
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select name="emailGroups"
                       [items]="emailGroups"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       [placeholder]="'Группы рассылки'"
                       (add)="addEmailGroup($event)"
                       [(ngModel)]="selectedEmailGroups">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Список почтовой рассылки <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select name="mailList"
                       [items]="subscribers$ | async"
                       [multiple]="true"
                       [required]="true"
                       [hideSelected]="true"
                       bindLabel="fioEmail"
                       [typeahead]="subscribersInput$"
                       [placeholder]="'Введите 2 символа, чтобы начать поиск'"
                       [(ngModel)]="order.mailList">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Примечание</label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <textarea class="form-control our-control" rows="2" [(ngModel)]="order.documentComment" name="documentComment">
            </textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дополнительные материалы</label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <cdp-ex-file-manager [(files)]="additionalMaterials"
                                 [fileType]="'default'"
                                 [folderGuid]="order.folderID"
                                 [extPattern]="'docx, doc, xls, xlsx, pdf'"
                                 [downloadable]="true"
                                 [deletable]="true"
                                 [openable]="true"
                                 [showSize]="true"
                                 [checkSign]="true"
                                 (onChanged)="changeAdditionalMaterials()"
                                 (onRemove)="deleteAdditionalMaterials($event)"
                                 [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="fa fa-pencil m-r-xs"></i>Сохранить
            </button>

            <button class="btn btn-sm btn-default" (click)="cancelEdit()">
              Отменить
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div error>
    <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
  </div>
  <div loading>
    <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
  </div>
</cdp-loading-block>
