<div style="min-height: 300px">
    <div class="clearfix m-b-xs">

        <div class="pull-left">
            <p class="m-t-md">Найдено — <b>{{searchResult.numFound}}</b></p>
        </div>

        <div class="pull-right m-t">

            <div class="btn-group">
                <button class="btn btn-sm btn-primary" (click)="showAttachOriginalsWindow()">
                    Прикрепить оригиналы
                </button>
            </div>

            <div class="btn-group">
                <button class="btn btn-white btn-sm" (click)="extSearchCollapsed = !extSearchCollapsed;">
                    <i class="fa fa-filter"></i> Расширенный поиск
                </button>
            </div>
        </div>
    </div>

    <div class="animated fadeIn" [collapse]="extSearchCollapsed">
        <mggt-scanning-order-list-filter [filter]="filter" [dicts]="dicts" (onFilterChanged)="filterChange($event)"></mggt-scanning-order-list-filter>
    </div>

    <div style="overflow-x: auto">
        <mggt-scanning-order-list-view-table [searchRequest]="searchRequest" [(searchResult)]="searchResult"
                                    [filter]="filter" [sorting]="sorting" [common]="common"
                                    [(loading)]="isLoading" [dicts]="dicts" [preFilter]="preFilter"></mggt-scanning-order-list-view-table>
        <div>
            <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage"
                        [firstText]="'1'" [lastText]="searchResult.numFound"
                        [previousText]="'Предыдущая'" [nextText]="'Следующая'"
                        [rotate]="true" (ngModelChange)="changePage()"
                        [itemsPerPage]="10" class="m-b-xs" [boundaryLinks]="true"
                        [maxSize]="3"
                        *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>
        </div>
    </div>
</div>