.body-small {
  textarea {
    resize: vertical;
  }

  .break-word {
    word-break: break-word;
  }

  .wrapper-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: inherit;
    padding-bottom: 0!important;
  }
  task-wrapper {
    .mobile-date {
      color: #999b9c;
      font-size: 13px;
    }
    h1 {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 15px;
    }
    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    task-block {
      font: 14px;
    }
  }
  .ibox-content {
    border-width: 1px 0;
    min-width: auto;
    .ibox-content {
      padding: 0;
      border-width: 0;
    }
  }
  mggt-mobile-approval-list {
    .ibox-content {
      margin-left: -20px;
      margin-right: -20px;

      padding: 15px 20px 20px 20px !important;
      border-width: 1px 0 0 0 !important;

      .mob-approve-item {
        display: flex;
        .mob-approve-item-num {
          padding-right: 15px
        }
        .mob-approve-item-content {
          .approval-type {
            color: #999b9c;
          }
        }
      }
    }
    .ibox-content:last-child {
      border-bottom-width: 1px!important;
    }
  }
  mggt-order-mobile-review-inner {
    .ibox-content {
      margin-left: -20px;
      margin-right: -20px;

      padding: 15px 20px 20px 20px !important;
      border-width: 1px 0 0 0 !important;

      .mob-approve-item {
        display: flex;
        .mob-approve-item-num {
          padding-right: 15px
        }
        .mob-approve-item-content {
          .approval-type {
            color: #999b9c;
          }
        }
      }
    }
    .ibox-content:last-child {
      border-bottom-width: 1px!important;
    }
  }
  .dropzone.dz-clickable {
    padding: 0;
    min-height: 90px;
  }

  #control-block, .control-block {
    button.btn {
      width: 100%;
      margin-bottom: 26px;
      padding: 10px 16px;
      font-size: 16px;
      line-height: 1.3333333;
    }

    button.btn:last-child {
      margin-bottom: 0;
    }
  }
  .btn-success-blue, .btn-success-blue:hover, .btn-success-blue:active, .btn-success-blue:focus{
    background: #1c84c6 !important;
    border-color: #1c84c6;
  }

  .ex-small-file-name .text-default {
    display: block;
  }

}


.ng-placeholder {
  font-size: 11px !important;
}
