/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@reinform-cdp/skeleton/dist/index.css';
@import '~@reinform-cdp/main-theme/dist/index.css';
@import '~icheck/skins/square/orange.css';
@import '~jsoneditor/dist/jsoneditor.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ladda/dist/ladda-themeless.min.css";
@import "~animate.css/animate.css";
@import "~metismenu/dist/metisMenu.css";
@import "~ui-select/dist/select.css";
@import "~ngdropzone/dist/ng-dropzone.css";
@import "~angular-toastr/dist/angular-toastr.css";
@import "~angular-block-ui/dist/angular-block-ui.css";
@import '~@reinform-cdp/widgets/dist/index.css';
@import "~fontawesome-pro/css/fontawesome.css";



.nav-header {
  padding: 0 !important;
}
@import './mobile.scss';

.zindex {
  z-index: 3050 !important;
}

@media (min-width: 1200px) {
  .modal-xl {
    width: 1140px;
    max-width: 1140px;
  }
}

.table {
  .table {
    tr {
      &:first-of-type {
        td {
          border-top: 0;
        }
      }
      &:last-of-type {
        td {
          border-bottom: 0;
        }
      }

      td {
        &:first-of-type {
          border-left: 0;
        }

        &:last-of-type {
          border-right: 0;
        }
      }
    }
  }
}

.space-normal {
  .ng-select.ng-select-single {
    .ng-select-container {
      height: auto;
      min-height: 36px;
      .ng-value-container {
        white-space: normal;
        .ng-value {
          white-space: normal;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option {
        white-space: normal;
      }
    }
  }
}
.multiline-select .ng-dropdown-panel-items .ng-option {
  white-space: normal!important;
}
.multiline-select .ng-value-container .ng-value  {
  white-space: normal!important;
}
.multiline-select.ng-select.ng-select-single .ng-select-container {
height: auto;
}
.multiline-select {
  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option {
        white-space: normal!important;
      }
    }
  }
}

.cdp-components {
  .ibox-content {
    overflow: initial !important;
  }

  .ng-dropdown-panel {
    &.ng-select-bottom {
      width: 100% !important;
    }
  }
}
