#mobile-sort-btn,
#mobile-filter-btn {
  background-color: #eaeaeb;
  height: 34px;
  font-size: 12px;
}
#mobile-sorting-dropdown.dropdown-menu {
  position: absolute;
  width: calc(200% + 45px) !important;
  top: inherit;
  font-size: 14px;
}
#mobile-sort-btn > span:first-child {
  width: calc(100% - 16px);
  overflow: hidden;
  text-overflow: ellipsis;
}
$highlight: #fae8ca;
$highlight-lt: opacify($highlight, 0.95);

.highlight {
  background-color: $highlight !important;
  border-color: $highlight-lt !important;
}
