<div style="min-height: 300px">
  <div class="ibox-content no-top-border" style="padding-top: 0; display: flex">

    <div class="pull-left" style="width: 50%">
      <mggt-mobile-order-list-sorting *ngIf="searchResult.numFound > 0" [sorting]="sorting"
        (sortingChanged)="sortingChange($event)">
      </mggt-mobile-order-list-sorting>
    </div>

    <div class="btn-group pull-right" style="margin-left: 5px; width: 50%;">
      <button (click)="extSearchCollapsed = !extSearchCollapsed;"
        [class]="filtersCount > 0 ? 'btn btn-white btn-block highlight' : 'btn btn-white btn-block'"
        id="mobile-filter-btn">
        <span class="pull-left text-left">
          Фильтры
        </span>
        <span class="badge label-primary pull-right" *ngIf="filtersCount > 0">{{filtersCount}}</span>
      </button>
    </div>
  </div>

  <div class="animated fadeIn" [collapse]="extSearchCollapsed">
    <mggt-mobile-order-list-filter [filter]="filter" [dicts]="dicts" (onFilterChanged)="filterChange($event)"
      [isMka]="isMka">
    </mggt-mobile-order-list-filter>
  </div>

  <div>
    <p class="m-t-md">Найдено — <b>{{searchResult.numFound}}</b></p>
  </div>
  <mggt-order-list-view-plain [searchRequest]="searchRequest" [(searchResult)]="searchResult" [filter]="filter"
    [sorting]="sorting" [common]="common" [(loading)]="isLoading" [dicts]="dicts" [preFilter]="preFilter">
  </mggt-order-list-view-plain>

  <div class="ibox-content" *ngIf="searchResult.numFound > 20">
    <p class="text-muted text-center" *ngIf="!appendBlock && isDocsLoaded" style="font-size: 14px;"><i
        class="fa fa-info-circle"> Документов больше нет</i></p>
    <button id="loadingButton" [hidden]="appendBlock" class="btn btn-default btn-block" (click)="mobileLoadMore()"
      inview inview-show-fn="mobileLoadMore()">
      Загрузить еще
    </button>
    <span [hidden]="!appendBlock">
      <cdp-spinner style="margin:5px;" [type]="'three-bounce'"></cdp-spinner>
    </span>
  </div>
</div>