<div style="min-height: 300px">
    <div class="clearfix m-b-xs">

        <div class="pull-left" *ngIf="!isIndentView()">
            <p class="m-t-md">Найдено — <b>{{searchResult.numFound}}</b></p>
        </div>

        <div class="pull-right m-t">

            <mggt-order-list-sorting *ngIf="searchResult.numFound > 0 && (isListView() || isIndentView())" [sorting]="sorting"
                                     (sortingChanged)="sortingChange($event)">
            </mggt-order-list-sorting>

            <div class="btn-group" *ngIf="searchResult.numFound > 0" btnRadioGroup [(ngModel)]="view">
                <label class="btn btn-sm btn-white" btnRadio="list" tabindex="0" role="button" title="Списком">
                    <i class="fa fa-th-list"></i>
                </label>
                <label class="btn btn-sm btn-white" btnRadio="table" tabindex="1" role="button" title="Таблицей">
                    <i class="fa fa-th"></i>
                </label>
                <label class="btn btn-sm btn-white" btnRadio="indent" tabindex="2" role="button"
                       title="Сгруппировать по статусам">
                    <i class="fa fa-indent"></i>
                </label>
            </div>

            <div class="btn-group">
                <a class="btn btn-sm btn-primary" uiSref="app.order.initiate" [uiParams]="{id: null, ref: 'list'}" *ngIf="!forbidCreate">
                    Создать РД
                </a>
            </div>

            <div class="btn-group">
                <button class="btn btn-white btn-sm" (click)="extSearchCollapsed = !extSearchCollapsed;">
                    <i class="fa fa-filter"></i> Расширенный поиск
                </button>
            </div>
        </div>
    </div>

    <div class="animated fadeIn" [collapse]="extSearchCollapsed">
        <mggt-order-list-filter [filter]="filter"
                                [dicts]="dicts"
                                (onFilterChanged)="filterChange($event)"
                                [isMka]="isMka"
        ></mggt-order-list-filter>
    </div>

    <div *ngIf="isListView()">
        <div class="hr-line-dashed"></div>
        <mggt-order-list-view-plain [searchRequest]="searchRequest" [(searchResult)]="searchResult"
                                    [filter]="filter" [sorting]="sorting" [common]="common"
                                    [(loading)]="isLoading" [dicts]="dicts" [preFilter]="preFilter"></mggt-order-list-view-plain>
        <div>
            <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage"
                        [firstText]="'1'" [lastText]="searchResult.numFound"
                        [previousText]="'Предыдущая'" [nextText]="'Следующая'"
                        [rotate]="true" (ngModelChange)="changePage()"
                        [itemsPerPage]="10" class="m-b-xs" [boundaryLinks]="true"
                        [maxSize]="3"
                        *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>
        </div>
    </div>

    <div *ngIf="isIndentView()">
        <mggt-order-list-view-indent [searchRequest]="searchRequest" [(searchResult)]="searchResult"
                                    [filter]="filter" [sorting]="sorting" [common]="common"
                                    [(loading)]="isLoading" [dicts]="dicts" [preFilter]="preFilter"></mggt-order-list-view-indent>
    </div>

    <div *ngIf="isTableView()">
        <mggt-order-list-view-table [searchRequest]="searchRequest" [(searchResult)]="searchResult"
                                    [filter]="filter" [sorting]="sorting" [common]="common"
                                    [(loading)]="isLoading" [dicts]="dicts" [preFilter]="preFilter"
                                    (onSortingChanged)="sortingChange($event)"></mggt-order-list-view-table>
        <div>
            <pagination [totalItems]="searchResult.numFound" [(ngModel)]="currentPage"
                        [firstText]="'1'" [lastText]="searchResult.numFound"
                        [previousText]="'Предыдущая'" [nextText]="'Следующая'"
                        [rotate]="true" (ngModelChange)="changePage()"
                        [itemsPerPage]="10" class="m-b-xs" [boundaryLinks]="true"
                        [maxSize]="3"
                        *ngIf="searchResult.numFound > searchRequest.pageSize"></pagination>
        </div>
    </div>

</div>
