<div class="m-t-md">
	<div class="description">
		<table class="table animated fadeIn m-t-sm">
			<thead>
				<tr>
					<th style="width:30px;">№ пп</th>
					<th style="width:35%;">ФИО и должность</th>
					<th style="width:100px;">Дата ознакомления</th>
					<th style="width:40%;">Комментарий</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let r of reviewInner; let i=index">
					<td>{{i+1}}</td>
					<td>
						<div>
							<span>{{r.reviewBy.fio}}</span>
							<span *ngIf="!!r.reviewBy.post">, {{r.reviewBy.post}}</span> 
						</div>
						<div *ngIf="r.factReviewBy && r.factReviewBy.fio && r.reviewBy.accountName !== r.factReviewBy.accountName">
							<span>(</span>
							<span>{{r.factReviewBy.fio}}</span>
							<span *ngIf="!!r.factReviewBy.post">, {{r.factReviewBy.post}}</span>
							<span>)</span>
						</div>
					</td>
					<td>{{r.reviewFactDate | date:'dd.MM.yyyy HH:mm'}}</td>
					<td>{{r.reviewNote}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>