<div class="btn-group" dropdown style="width: 100%">
  <button class="btn btn-white dropdown-toggle" id="mobile-sort-btn" type="button"
    aria-controls="mobile-sorting-dropdown" dropdownToggle style="width: 100%">
    <span class="pull-left text-left">
      <span *ngIf="sorting.name === 'createDate' && sorting.value === 'asc'">Сначала старые</span>
      <span *ngIf="sorting.name === 'createDate' && sorting.value === 'desc'">Сначала новые</span>
      <span *ngIf="sorting.name === 'docDate' && sorting.value === 'asc'">Сначала старые</span>
      <span *ngIf="sorting.name === 'docDate' && sorting.value === 'desc'">Сначала новые</span>

      <span *ngIf="sorting.name === 'docNumberSort' && sorting.value === 'asc'">По номеру <i
          class="fa fa-caret-up"></i></span>
      <span *ngIf="sorting.name === 'docNumberSort' && sorting.value === 'desc'">По номеру <i
          class="fa fa-caret-down"></i></span>
    </span>
    <span class="icon-right fa fa-sort"></span>
  </button>
  <ul class="dropdown-menu animated fadeIn" id="mobile-sorting-dropdown" *dropdownMenu role="menu"
    aria-labelledby="mobile-sort-btn">

    <li role="menuitem" [class]="sorting.name === 'createDate' && sorting.value === 'desc' ? 'active' : ''">
      <a (click)="change('createDate', 'desc', 'По дате РД')">По дате РД (по убыванию)</a>
    </li>
    <li role="menuitem" [class]="sorting.name === 'createDate' && sorting.value === 'asc' ? 'active' : ''">
      <a (click)="change('createDate', 'asc', 'По дате РД')">По дате РД (по возрастанию)</a>
    </li>
    <li class="divider"></li>
    <li role="menuitem" [class]="sorting.name === 'docNumberSort' && sorting.value === 'desc' ? 'active' : ''">
      <a (click)="change('docNumberSort', 'desc', 'По номеру РД')">По номеру РД (по убыванию)</a>
    </li>
    <li role="menuitem" [class]="sorting.name === 'docNumberSort' && sorting.value === 'asc' ? 'active' : ''">
      <a (click)="change('docNumberSort', 'asc', 'По номеру РД')">По номеру РД (по возрастанию)</a>
    </li>
  </ul>
</div>