<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Закрыть</span>
    </button>
    <h3>Загрузка файла</h3>
</div>
<div class="modal-body">
    <div class="description">
        <dl class="dl-horizontal">
            <dt><span>Файл</span></dt>
            <dd>
                <mggt-dropzone [config]="config"></mggt-dropzone>
            </dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" (click)="cancel()">Закрыть</button>
</div>
