<div class="container-fluid searchFilter">
    <h3 class="m-t-md" style="color:#aaa;margin-bottom:20px;">Расширенный поиск</h3>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Год</div>
        <div class="col-md-9">
            <ng-select name="docYear"
                       [items]="dicts.availableYears"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       [(ngModel)]="filter.docYear">
            </ng-select>
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Дата документа</div>
        <div class="col-md-9">
            <cdp-date-range-select [(dateFrom)]="filter.docDate.from" [(dateTo)]="filter.docDate.to"></cdp-date-range-select>
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Номер РД</div>
        <div class="col-md-9">
            <input class="form-control" [(ngModel)]="filter.docNumber" name="docNumber">
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Штрихкод</div>
        <div class="col-md-9">
            <input class="form-control" [(ngModel)]="filter.barcode" name="barcode">
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Тип РД</div>
        <div class="col-md-9">
            <ng-select name="docType"
                       [items]="dicts.orderTypes"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       [(ngModel)]="filter.docType">
            </ng-select>
        </div>
    </div>
    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Конфиденциальность</div>
        <div class="col-md-9">
            <ng-select name="privacy"
                       [items]="dicts.privacyTypes"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       [(ngModel)]="filter.privacy">
            </ng-select>
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Содержание</div>
        <div class="col-md-9">
            <input class="form-control" [(ngModel)]="filter.docContent" name="docContent">
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Тема</div>
        <div class="col-md-9">
            <ng-select name="subject"
                       [items]="dicts.orderThemes"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="themeName"
                       placeholder="Тема"
                       [(ngModel)]="filter.docTheme">
            </ng-select>
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Состояние</div>
        <div class="col-md-9">
            <ng-select name="statusAnalytic"
                       [items]="dicts.statusAnalytics"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       placeholder="Состояние"
                       [(ngModel)]="filter.statusAnalytic"
                       (add)="onSelectStatusAnalyticCallback($event)"
                       (remove)="onRemoveStatusAnalyticCallback($event)">
            </ng-select>
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Статус</div>
        <div class="col-md-9">
            <ng-select name="condition"
                       [items]="dicts.orderStatuses"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       placeholder="Статус"
                       [(ngModel)]="filter.docStatus"
                       (add)="onSelectConditionCallback($event)"
                       (remove)="onRemoveConditionCallback($event)">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-icon left" (click)="clear(item);" aria-hidden="true">×</span>
                    <span class="label label-{{item.color}}" aria-hidden="true">{{item.name}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span class="label label-{{item.color}}" aria-hidden="true">{{item.name}}</span>
                </ng-template>
            </ng-select>
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Дата создания</div>
        <div class="col-md-9">
            <cdp-date-range-select [(dateFrom)]="filter.createDate.from" [(dateTo)]="filter.createDate.to"></cdp-date-range-select>
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Подписант</div>
        <div class="col-md-9" *ngIf="!isMka">
            <ng-select [items]="heads$ | async"
                       bindLabel="displayName"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       [loading]="headsLoading"
                       [typeahead]="headsInput$"
                       placeholder="Подписант, введите 3 символа для начала поиска"
                       [(ngModel)]="filter.accountNameHead" name="head">
            </ng-select>
        </div>
        <div class="col-md-9" *ngIf="isMka">
            <input type="text"
                   class="form-control"
                   name="head"
                   [(ngModel)]="filter.accountNameHead"
            />
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Ответственное управление</div>
        <div class="col-md-9" *ngIf="!isMka">
            <ng-select name="responsibleExecutorDep"
                       [items]="dicts.departments"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Ответственное управление"
                       [(ngModel)]="filter.responsibleExecutorDep">
            </ng-select>
        </div>
        <div class="col-md-9" *ngIf="isMka">
            <input type="text"
                   class="form-control"
                   name="responsibleExecutorDep"
                   [(ngModel)]="filter.responsibleExecutorDep"
            />
        </div>
    </div>

    <div class="row m-t-sm m-l-xs">
        <div class="col-md-3 title">Ответственный исполнитель</div>
        <div class="col-md-9" *ngIf="!isMka">
            <ng-select [items]="responsibleExecutors$ | async"
                       bindLabel="displayName"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       [loading]="responsibleExecutorsLoading"
                       [typeahead]="responsibleExecutorsInput$"
                       placeholder="Ответственный исполнитель, введите 3 символа для начала поиска"
                       [(ngModel)]="filter.responsibleExecutor" name="responsibleExecutor"
                       (add)="onSelectExecutorCallback($event)">
            </ng-select>
        </div>
        <div class="col-md-9" *ngIf="isMka">
            <input type="text"
                   class="form-control"
                   name="responsibleExecutor"
                   [(ngModel)]="filter.responsibleExecutor"
            />
        </div>
    </div>

    <hr>
    <div class="row m-t-sm  m-l-sm">
        <div class="col-md-3 title">
        </div>
        <div class="col-md-9">
            <button type="button" (click)="filterChanged();" class="btn btn-primary btn-search">Найти</button>
            <button type="button" (click)="clear();" class="btn btn-default btn-search">Очистить</button>
        </div>
    </div>

</div>
